.search-control.ol-control {
    display: none;
}


.btn-bar {
    position: absolute;
    z-index: 99;
}

    .btn-bar.left {
        left: 15px;
    }

    .btn-bar.right {
        right: 15px;
    }

    .btn-bar.bottom {
        bottom: 60px;
    }

    .btn-bar.top {
        top: 15px;
    }

.btn-container {
    border-radius: 100px;
    background: #fff;
    float: left;
    width: 50px;
}

.btn-custom {
    background: #fff;
    color: #000;
    width: 46px;
    height: 46px;
    padding: 0;
    margin-top: 5px;
    font-size: 15px !important;
    border: 3px #fff solid;
    padding: 0 !important;
    border-radius: 25px !important;
    width: 50px !important;
}

.btn-container .btn-custom:first-child {
    margin-top: 0px;
}

.btn-custom span {
    font-size: 11px;
    font-weight: Bold;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.active {
    background-color: rgb(19, 162, 97);
    color: #fff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ol-control.default-control {
    display: none;
}

#Harita {
    background: #fff;
}

fieldset {
    border: 1px rgba(255,255,255,0.5) solid !important;
    padding: 5px 15px 15px 15px !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 0px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

    fieldset .form-group:first-child {
        margin-top: 0px !important;
    }

    fieldset .form-group:last-child {
        margin-bottom: 0px !important;
    }

    fieldset legend {
        font-size: 14px !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        color: #fff;
        margin-bottom: 10px !important;
        margin-left: -8px;
    }

.form-control.k-widget {
    padding: 0px !important;
}

.form-control .k-dropdown-wrap, .form-control .k-picker-wrap, .form-control .k-multiselect-wrap {
    padding: 0px !important;
}

.pan-container-2 {
    width: 430px;
    background: #fff;
    height: calc(100vh - 200px);
    float: right;
    border-radius: 15px;
    padding: 15px;
}

.pan-container {
    width: 430px;
    background: #ffffff;
    height: 360px;
    float: right;
    border-radius: 15px;
    padding: 15px;
}

.pan-head {
    margin-bottom: 5px !important;
    padding-bottom: 10px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px #cbc8c8 solid;
}

    .pan-head .inputContainer {
        width: 100% !important;
    }

        .pan-head .inputContainer input {
            border: 1px #cbc8c8 solid;
        }

        .pan-head .inputContainer i {
            color: #d9d9d3;
        }

.inputContainer .searchInput:active, .inputContainer .searchInput:focus {
    outline: none !important;
}

.pan-head .inputContainer .searchInput::-webkit-input-placeholder {
    color: #d9d9d3 !important;
}

.pan-body {
    height: calc(100vh - 270px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}


.pan-bodyCustom {
    height: calc(100vh - 325px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.pan-body label {
    color: #d9d9d3;
    font-weight: 500 !important;
}

.buttongroup {
    margin-top: 10px;
}

    .buttongroup .btn-group {
        width: 19% !important;
    }

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left !important;
    }
}

group + group {
    margin-top: 20px;
}

.inline-radio {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

    .inline-radio div {
        position: relative;
        flex: 1;
    }

    .inline-radio input {
        width: 100%;
        height: 30px;
        opacity: 0;
        cursor: pointer;
    }

    .inline-radio label {
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        width: 100%;
        height: 100%;
        background: #ed5565;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        border-right: 1px solid #b6b6b6;
    }

    .inline-radio div:last-child label {
        border-right: 0;
    }

    .inline-radio input:checked + label {
        font-weight: 800;
        color: #fff;
        background: #1ab394;
    }

.filterButtonActive {
    background-color: #2f96b4;
    border-color: #2f96b4;
    color: white;
}

.filterButtonPassive {
    background-color: #49afcd;
    border-color: #2f96b4;
    color: white;
}

#personFilterButtons .filterButtonActive {
    background-color: #074f7c;
    border-color: #08507d;
    color: white;
}

#personFilterButtons .filterButtonPassive {
    background-color: #1d84c6;
    border-color: #08507d;
    color: white;
}

#contactFilterButtons .filterButtonActive {
    background-color: #95101e;
    border-color: #95101e;
    color: white;
}

#contactFilterButtons .filterButtonPassive {
    background-color: #ed5666;
    border-color: #95101e;
    color: white;
}

#presentationFilterButtons .filterButtonActive {
    background-color: #e37d11;
    border-color: #e37d11;
    color: white;
}

#presentationFilterButtons .filterButtonPassive {
    background-color: #f8ac5a;
    border-color: #e37d11;
    color: white;
}

#filterButtonGroup .filterButtonActive {
    background-color: #1bb394;
    border-color: #1bb394;
    color: white;
}

#filterButtonGroup .filterButtonPassive {
    background-color: #5a9e90;
    border-color: #5a9e90;
    color: white;
}

#ColorBox {
    background: rgb(48, 65, 80);
    position: absolute;
    left: 54px;
    padding: 8px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 500px;
}

#PersonSearch {
    background: rgb(48, 65, 80);
    position: absolute;
    padding: 6px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 350px;
    height: 49px;
}

#AddPerson {
    background: rgb(48, 65, 80);
    left: 54px;
    padding: 6px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 113px;
    height: 49px;
}

#MarkerBox {
    background: rgb(48, 65, 80);
    position: absolute;
    left: 54px;
    padding: 8px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 500px;
}

#ColorInfo {
    background: rgb(255, 255, 255);
    position: absolute;
    left: 54px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: auto;
    height: 50px;
}

.balSlider .k-label {
    color: #000 !important;
}

#slider-station .item {
    background: #212c36 !important;
    height: 220px;
    width: 350px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    padding: 5px 20px;
    border-radius: 15px;
}

    #slider-station .item .head .col-xs-12 {
        padding-top: 10px;
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
    }

    #slider-station .item .head .col-xs-2 img {
        width: 70%;
        margin: 0 15%;
    }

    #slider-station .item .head .presentationHead {
        color: #babbc0;
    }

#slider-station .list-group-item {
    color: #babbc0;
}

#slider-station .listGroupValue {
    color: #d9d9d3;
}

#ColorInfo .category {
    float: left;
}

#ColorInfo .color-bar {
    width: 100%;
}


#ColorInfo .slider {
    color: #fff;
    padding-top: 6px;
}

    #ColorInfo .slider tr {
        vertical-align: middle;
        display: flex;
        border: none;
    }

    #ColorInfo .slider td {
        text-align: center;
        border: none;
        opacity: 1;
    }

#ColorInfo .color-bar {
    width: 100%;
}

#ColorInfo .category {
    min-height: 24px;
}

#ColorInfo .slider tr td:first-child {
    border-radius: 10px 0 0 10px;
}

#ColorInfo .slider tr td:last-child {
    border-radius: 0 10px 10px 0px;
}

.card {
    background: rgb(171 171 171 / 17%);
    border-radius: 10px;
    margin-top: 7px;
    padding: 12px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

    .card .header {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    .card .card-picture {
        border-radius: 6px;
        width: 50px;
    }

    .card .card-name {
        font-weight: 700;
        margin: 0 0 10px;
    }

    .card .card-title {
        font-weight: 400;
        margin: 0;
    }

    .card .nav {
        align-items: center;
        padding-top: 4px;
        display: table-cell;
        justify-content: space-between;
        z-index: 1;
    }

        .card .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .card .nav ul li {
                display: table-row;
            }

            .card .nav ul span {
                display: table-cell;
                text-decoration: none;
                color: #000;
                padding: 5px 15px;
            }


.cardPerson {
    border-radius: 10px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .cardPerson .nav {
        align-items: center;
        display: table-cell;
        justify-content: space-between;
        z-index: 1;
    }

        .cardPerson .nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .cardPerson .nav ul li {
                display: table-row;
            }

                .cardPerson .nav ul li strong {
                    color: #000;
                }

            .cardPerson .nav ul span {
                display: table-cell;
                text-decoration: none;
                color: #000;
                padding: 5px 15px;
            }

.datetimeTemp {
    background: rgb(48, 65, 80);
    position: absolute;
    left: 382px;
    padding: 6px;
    z-index: -1;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 259px;
    height: 49px;
}

#selectCompany {
    margin-top: 0px;
}

.btnKonumDetayý {
    width: 127px;
}

.btnpersonelDetayý {
    margin-left: -35px;
}

.btnPersonelKonum {
    margin-top: -27px;
}

.inputContainer {
    display: block;
    width: 81%;
    margin-left: 43px;
    position: relative;
    margin-top: -30px;
}

.btnDetail {
    position: relative;
    display: inline-flex;
    width: 30px;
    height: 23px;
    margin: 0 2px;
    perspective: 1000px;
    margin-top: 15px;
}

.btnDetail {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    top: 3px;
    font-family: 'Montserrat', sans-serif;
}

    .btnDetail:before,
    .btnDetail:after {
        position: absolute;
        content: "+";
        width: 30px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid #fff;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .btnDetail:before {
        color: #fff;
        background: #cbc8c8;
        transform: rotateY(0deg) translateZ(25px);
        border: 5px solid #cbc8c8;
    }

    .btnDetail:after {
        color: white;
        border: 5px solid #1ab394;
        transform: rotateX( 89deg ) translateZ(19px);
        background: #1ab394;
    }

    .btnDetail:hover {
        transform: translateZ(-25px) rotateX(-89deg);
    }

.card img {
    width: 50px;
}

.card {
    color: #fff;
}

    .card h4 {
        color: #000;
        margin-bottom: 0px;
    }

    .card .durum {
        text-decoration: underline;
        color: #000;
    }

    .card .btn {
        opacity: 0;
        transition: all 0.2s ease;
    }

    .card:hover .btn {
        opacity: 1;
        margin-top: 15px;
    }

.marker > img {
    height: 34px;
    width: 34px;
    border-radius: 100%;
    z-index: 3;
    position: absolute;
    top: -31px;
    left: -17px;
}

.marker {
    position: relative;
    height: 60px;
    cursor: pointer;
}

.overlay {
    position: relative;
    height: 60px;
}

overlay.img-circle {
    position: center;
    height: 43px;
}

.pan-container{
    display:none;
}
