@model Infoline.WorkOfTime.BusinessAccess.VMSH_UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "E-Posta İle Bayi Kodu Gönder";
}
@using (Html.BeginForm("SendCompanyCodeMail", "VWSH_User", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal " },
    { "role", "form" },
    { "data-formType", "Ajax" },
    {"id","ServiceForm" },
    { "data-selector", "modalContainer" },
    }))
{

    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label label-md req" for="companyId">Teslim Eden Bayi</label>
            @(Html.Akilli()
          .DropDownListFor(x => x.CompanyId)
          .OptionLabel("Bayi Seçiniz..")
          .DataTextField("fullName")
          .DataValueField("id")
          .Template("#=TemplateEngine('companyTemplate',data)#")
          .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
          .Filter<VWCMP_Company>(x=>x.CMPTypes_Title.Contains("Bayi")|| x.CMPTypes_Title.Contains("bayi"))
          .Sort(x => x.Add("name").Ascending())
          .Execute("id").Validate(Validations.Required))
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label label-md req" for="email">E-Posta Giriniz</label>
            @Html.TextBoxFor(x => x.email, new Dictionary<string, object> {
                     {"class" ,"form-control"},
                      {"placeholer" ,"E-Posta Giriniz"},

             }).Validate(Validations.EMail(true))
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Gönder</button>
    </div>
}