@model Guid? 
@{
    ViewBag.Title = "Doküman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group" data-selector="modalContainer">
    <div class="col-md-4">
        <label class="control-label label-md" for="Dosya">İşlem Dosyası</label>
    </div>
    <div class="col-md-8">
        @(
                        Html.Akilli().FileUpload()
                        .DataTable("DOC_DocumentVersion")
                        .DataId(Model.Value)
                        .DataKey(x => x.fileGroup == "Doküman Dosyası").PreviewMode(true)

              )
    </div>
</div>
<div class="buttons" data-selector="modalContainer">
    <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
</div>