@{
    ViewBag.Title = "Şirket Aylık Hedef Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    [data-target="Product_Title"].multiple {
        display: block !important;
        padding-left: 100px;
        text-align: left;
        line-height: 20px;
        margin-bottom: 4px;
    }

    .header {
        font-size: 9px;
        text-align: center;
        background-color: #808080 !important;
        color: #fff;
    }

    .bg-white {
        background-color: #fff;
    }

    .table-custom .label-xs, #TargetPresentations .label-xs, #TargetChart .label-xs {
        margin-right: 4px;
    }

    .panel-heading {
        background-color: #ffffff !important;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

        .panel-heading > h4 {
            font-weight: bold;
        }

    .panel-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        overflow: auto;
        height: 91px;
    }

        .panel-footer > ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            font-size: 10px;
        }

            .panel-footer > ul > li > divc {
                float: right !important;
            }

    #QualityMultiplierTable .bg-primary, #BaseBountyTable .bg-primary {
        font-weight: bold;
        text-align: center;
    }

    .detailLink {
        color: #f00 !important;
        font-size: 12px;
        margin: 5px 0px;
        float: left;
        clear: left;
    }

    .prim .panel-heading h4 {
        font-size: 20px;
        text-align: center;
    }

    .prim .panel-body {
        font-size: 40px;
        text-align: center;
        color: #f00;
        font-weight: bold;
    }

    .primGain .panel-heading {
        background-color: green !important;
        color: #fff;
    }
</style>

<fieldset class="bg-white">
    <legend>Genel Detaylar</legend>

    <div class="row">

        <div class="col-md-5">

            <table class="table table-bordered" id="QualityMultiplierTable">
                <thead>
                    <tr>
                        <th class="header">Hedef Gerçekleştirme</th>
                        <th class="header">Kalite Çarpanı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>%85 ve altı</td>
                        <td data-target="1.2"></td>
                    </tr>
                    <tr>
                        <td>%95 - %85,01</td>
                        <td data-target="1.1"></td>
                    </tr>
                    <tr>
                        <td>%105 - %95,01</td>
                        <td data-target="1"></td>
                    </tr>
                    <tr>
                        <td>%110 - %105,01</td>
                        <td data-target="0.9"></td>
                    </tr>
                    <tr>
                        <td>%110 - %105,01</td>
                        <td data-target="0.8"></td>
                    </tr>
                </tbody>
            </table>

            <div data-target="Targets"></div>

        </div>

        <div class="col-md-7">

            <table class="table table-bordered" id="BaseBountyTable">
                <thead>
                    <tr>
                        <th class="header">Statü / Bölge</th>
                        <th class="header">İstanbul</th>
                        <th class="header">Büyükşehir</th>
                        <th class="header">Diğer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A</td>
                        <td data-target="281000"></td>
                        <td data-target="240000"></td>
                        <td data-target="160000"></td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td data-target="225000"></td>
                        <td data-target="193000"></td>
                        <td data-target="127000"></td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td data-target="186000"></td>
                        <td data-target="159000"></td>
                        <td data-target="105000"></td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td data-target="134000"></td>
                        <td data-target="114000"></td>
                        <td data-target="84000"></td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td data-target="97000"></td>
                        <td data-target="83000"></td>
                        <td data-target="56000"></td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td data-target="62000"></td>
                        <td data-target="52250"></td>
                        <td data-target="37800"></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</fieldset>

<div class="row" id="TargetPrims"></div>

<fieldset class="bg-white">

    <legend>Aylık Hedefler ve Tamamlanma Oranları ( <span data-target="Date"></span> )</legend>

    <div class="row">

        <div class="col-md-12">

            <table class="table table-bordered table-custom" id="TargetTable">

                <thead>
                    <tr>
                        <th class="header">Ürün / Ürün Grubu</th>
                        <th class="header" width="100">Hedef Puan</th>
                        <th class="header" width="100">Hedef Oran</th>
                        <th class="header" width="100">Hediye Oran</th>
                        <th class="header" width="140">Gerçekleşen Puan</th>
                        <th class="header" width="140">Gerçekleşen Oran</th>
                        <th class="header" width="120">Toplam Puan</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

    </div>

</fieldset>

<div class="row" id="TargetChart"></div>

<fieldset class="bg-white">
    <legend>Potansiyel/Fırsat Listesi</legend>
    <div id="TargetPresentations"></div>
</fieldset>

<div id="PanelTemplate" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        <h4>
            <span data-target="IsFocus" style="float: left;" class="label label-xs label-info"></span>
            <span data-target="IsMultipleFocus" style="float: left;" class="label label-xs label-warning"></span>
            <span data-target="Product_Title"></span> ( <span data-target="CalculatedPercent"></span> % )
        </h4>
        <small class="text-muted block">
            Toplanan Puan / Hedeflenen Puan :
            <span data-target="CalculatedPoint"></span> / <b><span data-target="TargetPoint"></span></b>
        </small>
    </div>
    <div class="panel-body">
        <div id="Chart"></div>
    </div>
    <div class="panel-footer">
        <ul>
            <li>
                Ürün / Ürün Grubu
                <divc><span data-target="Product_Title"></span></divc>
            </li>
            <li>
                Aylık Hedef
                <divc><span data-target="Date"></span></divc>
            </li>
            <li>
                Gerçekleşen Puan / Hedeflenen Puan
                <divc>
                    <span data-target="CalculatedPoint"></span> /
                    <span data-target="TargetPoint"></span>
                </divc>
            </li>
            <li>
                Gerçekleşen Oran / Hedeflenen Oran
                <divc>
                    <span data-target="CalculatedPercent"></span> /
                    <divc><span data-target="TargetPercent"></span></divc>
                </divc>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default prim" id="PrimTemplate" style="display: none;">
    <div class="panel-heading">
        <h4 data-target="header"></h4>
    </div>
    <div class="panel-body" data-target="body"></div>
</div>

<script src="~/Content/Plugins/newHighCharts/highcharts.js"></script>
<script src="~/Content/Plugins/HighCharts/js/highcharts-more.js"></script>
<script src="~/Content/Plugins/HighCharts/js/solid-gauge.js"></script>
<script src="~/Content/Plugins/HighCharts/js/exporting.js"></script>

<script type="text/javascript">

    var _targetReport = {

        Data: null,

        container: {
            table: null,
            chart: null,
            presentationTable: null,
            baseBountyTable: null,
            qualityMultiplierTable: null
        },
        Func: {
            CategoryName: function (Category_Title) {

                if (Category_Title == null || Category_Title == '') { return ''; }

                var cats = Category_Title.split(' > ');

                var res = '';

                $.each(cats, function (cati, catitem) {

                    var _cls = '';

                    if (cati % 3 == 0) {
                        _cls = 'warning';
                    } else if (cati % 3 == 1) {
                        _cls = 'info';
                    } else if (cati % 3 == 2) {
                        _cls = 'primary';
                    }

                    res += '<label class="label label-' + _cls + ' label-xs">' + catitem + '</label>';

                });

                return res == '' ? Category_Title : res;

            },
            Presentations: function (presentations) {

                var res = '';

                $.each(presentations, function (i, item) {

                    res += '<a href="/CRM/VWCRM_Presentation/Detail?id=' + item.id + '" target="_blank">' +
                        '<span class="label label-xs label-warning">' + item.Name.substring(0, 30) + (item.Name.length > 30 ? '...' : '') + '</span>' +
                        '</a>';

                });

                return res;

            },
            MakeTable: function () {

                var res = '';

                $.each(_targetReport.Data.Products, function (i, item) {

                    res += '<tr>' + '<td>';

                    if (item.IsMultipleFocus == true) {
                        res += '<span class="label label-xs label-warning">Toplu Focus</span>' + '<br />';
                    }

                    if (item.IsMultipleFocus == false && item.IsFocus == true) {
                        res += '<span class="label label-xs label-info">Focus</span>';
                    }

                    if (item.IsMultipleFocus) {
                        $.each(item.Product, function (pi, pitem) {
                            res += _targetReport.Func.CategoryName(item.Category_Title[pi]) + item.Product_Title[pi] + '<br />';
                        });
                    } else {
                        res += _targetReport.Func.CategoryName(item.Category_Title[0]) + item.Product_Title[0];
                    }

                    res += '</td>';

                    res += '<td class="text-right">' + kendo.toString(item.TargetPoint, 'N0') + '</td>' +
                        '<td class="text-right">' + kendo.toString(item.TargetPercent, 'N0') + ' %' + '</td>' +
                        '<td class="text-right">' + kendo.toString(item.BonusPercent, 'N1') + ' %' + '</td>' +
                        '<td class="text-right">' + kendo.toString(item.CalculatedPoint, 'N1') + '</td>' +
                        '<td class="text-right">' + kendo.toString(item.CalculatedPercent, 'N1') + ' %' + '</td>' +
                        '<td class="text-right">' +
                        (item.IsFocus == true

                                ? kendo.toString((item.CalculatedTotalPoint * _targetReport.Data.FocusProdCount), 'N0') + ' / ' +
                                  kendo.toString(_targetReport.Data.FocusProdCount, 'N0') + ' = ' +
                                  '<b class="text-danger">' + kendo.toString(item.CalculatedTotalPoint, 'N1') + '</b>'

                                : '<b class="text-danger">' + kendo.toString(item.CalculatedTotalPoint, 'N1') + '</b>'

                        ) + '</td>';

                    res += '</tr>';

                });

                var _enumData = $.Enumerable.From(_targetReport.Data.Products);

                res += '<tr>' +
                        '<td>' + '<b>' + 'TOPLAM' + '</b>' + '</td>' +
                        '<td class="text-right">' + '<b>' + kendo.toString(_enumData.Sum(function (a) { return a.TargetPoint; }), 'N1') + '</b>' + '</td>' +
                        '<td colspan="2">' + '</td>' +
                        '<td class="text-right">' + '<b>' + kendo.toString(_enumData.Sum(function (a) { return a.CalculatedPoint; }), 'N1') + '</b>' + '</td>' +
                        '<td>' + '</td>' +
                        '<td class="text-right">' + '<b class="text-danger">' + kendo.toString(_enumData.Sum(function (a) { return a.CalculatedTotalPoint; }), 'N1') + '</b>' + '</td>' +
                        '</tr>'
                ;

                _targetReport.container.table.html(null).html(res);

            },
            MakeCharts: function () {

                _targetReport.container.chart.html(null);

                $.each(_targetReport.Data.Products, function (i, item) {

                    var _id = 'Chart_' + item.id.replace(/\-/gi, '');

                    var _temp = $('#PanelTemplate').clone(false, false);
                    _temp.removeAttr('id').removeAttr('style');
                    _temp.find('#Chart').attr('id', _id);

                    if (item.IsMultipleFocus == true) {
                        _temp.find('.panel-footer ul li').eq(0).hide();
                    }

                    $.each(item, function (pi, pitem) {

                        var value = pitem;

                        if (pi == 'Date') {
                            value = kendo.toString(new Date(pitem), 'MMMM yyyy');
                        } else if (['CalculatedPoint', 'CalculatedTotalPoint', 'TargetPoint'].indexOf(pi) > -1) {
                            value = kendo.toString(pitem, 'N0');
                        } else if (['CalculatedPercent', 'BonusPercent', 'TargetPercent'].indexOf(pi) > -1) {
                            value = kendo.toString(pitem, 'N1');
                        } else if (pi == 'Product_Title') {

                            if (item.IsMultipleFocus == true) {

                                value = pitem.join(', ');

                                $.each(pitem, function (pii, piitem) {
                                    //  value += _targetReport.Func.CategoryName(item.Category_Title[pii]) + pitem[pii] + '<br />';
                                    //  value += pitem.join(', ');
                                });

                            } else {
                                value = _targetReport.Func.CategoryName(item.Category_Title[0]) + pitem[0];
                            }

                        } else if (pi == 'IsFocus') {
                            value = 'Focus';
                            if (pitem == false || (pitem == true && item.IsMultipleFocus == true)) {
                                _temp.find('[data-target="' + pi + '"]').hide();
                            }
                        } else if (pi == 'IsMultipleFocus') {
                            value = 'Toplu Focus';
                            if (pitem == false) {
                                _temp.find('[data-target="' + pi + '"]').hide();
                            }
                        }

                        _temp.find('[data-target="' + pi + '"]').html(value);

                    });

                    _targetReport.container.chart.append('<div class="col-md-4">' + _temp[0].outerHTML + '</div>');

                    Highcharts.chart(_id, {
                        exporting: {
                            enabled: false
                        },
                        chart: {
                            height: 400,
                            margin: [0, 0, -200, 0],
                            type: 'solidgauge'
                        },
                        title: null,
                        pane: {
                            startAngle: -90,
                            endAngle: 90,
                            background: {
                                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                                innerRadius: '60%',
                                outerRadius: '100%',
                                shape: 'arc'
                            }
                        },
                        tooltip: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        yAxis: {
                            stops: [
                                [0, '#DF5353'],
                                [0.35, '#DF5353'],
                                [0.36, '#ffff00'],
                                [0.49, '#ffff00'],
                                [0.5, '#55BF3B'],
                                [0.51, '#55BF3B']
                            ],
                            lineWidth: 0,
                            minorTickInterval: null,
                            tickAmount: 2,
                            labels: {
                                y: 16
                            },
                            min: 0,
                            max: 200,
                            title: {
                                y: -100,
                                text: null
                            }
                        },

                        plotOptions: {
                            solidgauge: {
                                dataLabels: {
                                    y: 5,
                                    borderWidth: 0,
                                    useHTML: true
                                }
                            }
                        },
                        series: [{
                            dataLabels: {
                                format: '{y} %'
                            },
                            name: _id.substring(0, 10),
                            data: [parseInt(item.CalculatedPercent)],
                            dataLabels: {
                                format: '<div style="text-align: center; margin-top: -38px;"><span style="font-size: 25px; color: #000;">{y}</span>' +
                                       '<span style="font-size: 12px; color: silver;">%</span></div>'
                            },
                            tooltip: {
                                valueSuffix: ' %'
                            }
                        }]
                    });

                });

            },
            MakePresentationsTable: function () {

                _targetReport.container.presentationTable.html(null);

                products = [];
                $.each(_targetReport.Data.Products, function (i, item) {

                    $.each(item.Presentations, function (pi, pre) {

                        products.push({
                            Category_Title: item.Category_Title[0],
                            ProductGroup_Title: item.Product_Title[0],
                            Product_Title: pre.Product_Title,
                            CalculatedPoint: pre.CalculatedPoint,
                            id: pre.id,
                            Name: pre.Name
                        });

                    });

                });

                _targetReport.container.presentationTable.kendoGrid({

                    toolbar: [
                        { template: '<a class="k-button" data-show="single" data-method="GET" data-href="/CRM/VWCRM_Presentation/Detail" data-modal="false" data-blank="true" >Detay</a>' },
                        { name: "excel", text: "Excel'e aktar" },
                        { name: 'pdf', text: "PDF'e aktar" }
                    ],

                    dataSource: {
                        serverPaging: false,
                        serverSorting: false,
                        serverFiltering: false,
                        serverGrouping: false,
                        serverAggregates: false,
                        data: products,
                        schema: {
                            model: {
                                fields: {
                                    id: { type: 'string' },
                                    Category_Title: { type: 'string' },
                                    ProductGroup_Title: { type: 'string' },
                                    Product_Title: { type: 'string' },
                                    Name: { type: 'string' },
                                    CalculatedPoint: { type: 'number' }
                                }
                            }
                        },
                        pageSize: 25
                    },
                    navigatable: true,
                    mobile: true,
                    scrollable: {
                        height: '380px'
                    },
                    resizable: true,
                    excel: {
                        fileName: 'Hedef_icindeki_Potansiyeller_Listesi.xlsx'
                    },
                    pdf: {
                        proxyURL: "http://demos.telerik.com/kendo-ui/service/export",
                        fileName: 'Hedef_icindeki_Potansiyeller_Listesi.pdf'
                    },
                    filterable: {
                        operators: {
                            string: {
                                contains: 'İçeriyor',
                                startswith: 'İle Başlar',
                                eq: 'Eşit',
                                neq: 'Eşit Değil',
                                endswith: 'İle Biter',
                                doesnotcontain: 'İçermiyor'
                            }
                        }
                    },
                    sortable: true,
                    selectable: 'Single, Row',
                    pageable: {
                        refresh: true,
                        pageSizes: [5, 10, 25, 50, 100, 250],
                        buttonCount: 10,
                        messages: {
                            allPages: 'Tümünü getir',
                            itemsPerPage: 'Sayfa başına ürün',
                            first: 'İlk sayfaya git',
                            previous: 'Bir önceki sayfaya git',
                            next: 'Bir sonraki sayfaya git',
                            last: 'Son sayfaya git',
                            refresh: 'Yenile'
                        }
                    },

                    excelExport: Kendo_ExcelExport,
                    dataBound: Kendo_GridLoad,
                    change: Kendo_GridChange,

                    messages: {
                        noRecords: 'Gösterilecek Kayıt Bulunamadı'
                    },
                    columns: [
                        {
                            "attributes": {
                                "style": "max-width: 45px !important;"
                            },
                            "headerAttributes": {
                                "style": "max-width: 45px !important;",
                                "data-field": "id",
                                "data-title": ""
                            },
                            "width": "45px",
                            "template": "\u003cinput type=\"radio\" data-event=\"GridSelector\" /\u003e",
                            "field": "id",
                            "sortable": false,
                            "filterable": false,
                            "encoded": true,
                            title: ' '
                        },
                        {
                            field: 'Name',
                            title: 'Potansiyel',
                            width: "400px"
                        },
                        { field: "CalculatedPoint", title: "Toplam Puan", format: '{0:N1}', width: "150px" },
                        {
                            field: 'ProductGroup_Title',
                            title: 'Hedef Ürün',
                            template: function (dataItem) {
                                return _targetReport.Func.CategoryName(dataItem.Category_Title) + dataItem.ProductGroup_Title;
                            }
                        },
                        {
                            field: 'Product_Title',
                            title: 'Satışı Gerçekleşen Ürün(ler)',
                            template: function (dataItem) {
                                return _targetReport.Func.CategoryName(dataItem.Category_Title) + dataItem.Product_Title;
                            }
                        },
                    ],

                });


            },
            AddPrimContainer: function (head, body, clss) {

                var _temp = $('#PrimTemplate').clone(false, false);
                _temp
                    .removeAttr('id')
                    .removeAttr('style');

                if (clss != undefined) {
                    _temp.addClass(clss);
                }

                _temp.find('[data-target="header"]').html(head);
                _temp.find('[data-target="body"]').html(body);
                _temp = $('<div class="col-md-3">' + _temp[0].outerHTML + '</div>');
                _temp.appendTo($('#TargetPrims'));

            }
        },
        GetData: function (_date) {

            GetJsonDataFromUrl('/CRM/VWCRM_MonthlyTarget/GetTargetReport', { date: _date }, function (res) {

                if (res.result == false) {
                    feedback(res.objects);
                    return;
                }

                res.objects.Products = $.Enumerable.From(res.objects.Products)
                    .Where(function (a) { return a.Product_Title != null; })
                    .GroupBy(function (a) { return a.RowId; })
                    .Select(function (a) {
                        return {
                            CalculatedPercent: a.Max(function (b) { return b.CalculatedPercent; }),
                            BonusPercent: a.Max(function (b) { return b.BonusPercent; }),
                            CalculatedPoint: a.Sum(function (b) { return b.CalculatedPoint; }),
                            CalculatedTotalPoint: a.Max(function (b) { return b.CalculatedTotalPoint; }),
                            Category_Title: $.Enumerable.From(a.source).Select(function (a) { return a.Category_Title; }).ToArray(),
                            ChildPersonSales: $.Enumerable.From(a.source).SelectMany(function (a) { return a.ChildPersonSales; }).ToArray(),
                            Presentations: $.Enumerable.From(a.source).SelectMany(function (a) { return a.Presentations; }).ToArray(),
                            Product: $.Enumerable.From(a.source).Select(function (a) { return a.Product; }).ToArray(),
                            Product_Title: $.Enumerable.From(a.source).Select(function (a) { return a.Product_Title; }).ToArray(),
                            Date: a.Max(function (b) { return b.Date; }),
                            IsFocus: a.Max(function (b) { return b.IsFocus; }),
                            IsMultipleFocus: a.Max(function (b) { return b.IsMultipleFocus; }),
                            TargetPercent: a.Max(function (b) { return b.TargetPercent; }),
                            TargetPoint: a.Max(function (b) { return b.TargetPoint; }),

                            id: a.Max(function (b) { return b.id; })
                        }
                    }).ToArray();

                _targetReport.Data = res.objects;

                _targetReport.container.baseBountyTable.find('[data-target="' + _targetReport.Data.BaseBounty + '"]').addClass('bg-primary');
                _targetReport.container.qualityMultiplierTable.find('[data-target="' + _targetReport.Data.QualityMultiplier + '"]').addClass('bg-primary');

                $('[data-target="Targets"]')
                    .html(null)
                    .append(
                            '<a href="/CRM/VWCRM_MonthlyTarget/Insert?id=' +
                            _targetReport.Data.MonthlyTargetId +
                            '" class="detailLink" target="_blank">Aylık Hedef Tablosuna gitmek için tıklayın</a>'
                        )
                    .append(
                            '<a href="/CRM/VWCRM_PerformanceMultiplier/Insert?id=' +
                            _targetReport.Data.PerformanceMultiplierId +
                            '" class="detailLink" target="_blank">Performans Çarpanları tablosuna gitmek için tıklayın</a>'
                        );

                var performanceMultiplier = ($.Enumerable.From(_targetReport.Data.Products).Sum(function (a) { return a.CalculatedTotalPoint; }) / 1000.0);
                _targetReport.Func.AddPrimContainer('Baz Prim', kendo.toString(_targetReport.Data.BaseBounty, 'N0'));
                _targetReport.Func.AddPrimContainer('Performans Çarpanı', kendo.toString(performanceMultiplier, 'N4'));
                _targetReport.Func.AddPrimContainer('Kalite Çarpanı', kendo.toString(_targetReport.Data.QualityMultiplier, 'N1'));
                _targetReport.Func.AddPrimContainer('Aylık Kazanç', kendo.toString(performanceMultiplier * _targetReport.Data.BaseBounty * _targetReport.Data.QualityMultiplier, 'N2'), 'primGain');

                var date = $.Enumerable.From(_targetReport.Data.Products).Where(function (a) { return a.Date != null; }).Select(function (a) { return a.Date; }).FirstOrDefault();

                $('[data-target="Date"]').html(kendo.toString(new Date(date), 'MMMM yyyy'));

                _targetReport.Func.MakeTable();
                _targetReport.Func.MakeCharts();
                _targetReport.Func.MakePresentationsTable();

            });

        },

        init: function () {

            this.container.chart = $('#TargetChart');
            this.container.table = $('#TargetTable tbody');
            this.container.presentationTable = $('#TargetPresentations')
            this.container.baseBountyTable = $('#BaseBountyTable');
            this.container.qualityMultiplierTable = $('#QualityMultiplierTable');

            $.each(this.container.baseBountyTable.find('[data-target]'), function (i, item) {

                $(item).html(kendo.toString(parseFloat($(item).attr('data-target')), 'N0'));

            });

            $.each(this.container.qualityMultiplierTable.find('[data-target]'), function (i, item) {

                $(item).html(kendo.toString(parseFloat($(item).attr('data-target')), 'N1'));

            });

            this.GetData(null);

        }

    };

    $(document)

        .on('ready', function () {

            _targetReport.init();

        })

    ;

</script>