@{

    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Sayfa Yetkisi Bulunamadı";
}
<style type="text/css">
    .stil {
        max-width: 555px !important;
        padding-top: 40px !important
    }
    .text{
        font-size: 44px !important;
    }
</style>

<div class="middle-box style text-center animated fadeInDown stil">
    <span class="font-bold text">Sayfa Yetkisi Bulunamadı.</span>
    <div class="error-desc">
        Sayfaya giriş yetkiniz bulunmamaktadır.<br />
        Bunun bir hata olduğunu düşünüyorsanız lütfen sistem yöneticinizle görüşünüz.<br />
    </div>
    <a href="@Url.Action("Index","Account",new {area="" })" class="btn btn-primary m-t">Anasayfa için tıklayınız. </a>
    <a href="javascript:history.back(1)" class="btn btn-danger m-t">Geri Dönmek için tıklayınız. </a>
</div>

