@{

    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "İç Sunucu Hatası";
}





<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">İç Sunucu hatası</h3>
    <div class="error-desc">
        Erişmeye çalıştığınız sayfada beklenmedik bir hata oluştu.<br /><strong> Hata tespit edilmiştir.En kısa sürede düzeltilecektir.</strong>
        <code>
            @if (HttpContext.Current.Session["ErrorMessage"] != null)
            {
                @Html.Raw(HttpContext.Current.Session["ErrorMessage"])
            }
        </code>
        <p>
            @if (HttpContext.Current.Session["ErrorTrace"] != null)
            {
                @Html.Raw(HttpContext.Current.Session["ErrorTrace"])
            }
        </p>
    </div>
    <a href="@Url.Action("Index","Home",new {area="" })" class="btn btn-primary m-t">Anasayfa için tıklayınız. </a>
    <a href="javascript:history.back(1)" class="btn btn-danger m-t">Geri Dönmek için tıklayınız. </a>
</div>



