@{

    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Sayfa Bulunamadı";
}


<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Sayfa Bulunamadı</h3>
    <div class="error-desc">
        Erişmeye çalıştığınız sayfa bulunamadı.<br />
        Sayfa yayından kaldırılmış veya yetkiniz olmayabilir.<br />
    </div>
    <a href="@Url.Action("Index","Home",new {area="" })" class="btn btn-primary m-t">Anasayfa için tıklayınız. </a>
    <a href="javascript:history.back(1)" class="btn btn-danger m-t">Geri Dönmek için tıklayınız. </a>
</div>
