
@{
    ViewBag.Title = "İleti Yönetim Sistemi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document)

    $('#messageManagementGrid').grid()

</script>

<div class="row">
    <div id="messageManagementGrid">
    </div>
</div>