@model VWFTM_TaskSubject
@{
	ViewBag.Title = "Görev Konuları (" + Model.name + ")";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var pid = Model.id == System.UIHelper.Guid.Null ? null : (Guid?)Model.id;
}

<div class="row">
	<div class="col-md-12">
		<div class="ibox ">
			<div class="ibox-title">

				@if (pid != null)
				{
					<h5>@Model.name Konusunun Alt Konuları</h5>
				}
				else
				{
					<h5>Ana Kategoriler</h5>
				}

			</div>
			<div class="ibox-content">
				@(Html.Akilli()
                .Grid<Infoline.WorkOfTime.BusinessData.VWFTM_TaskSubject>("FTM_TaskSubject")
                .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "FTM_TaskSubject", new { area = "FTM" })).Filter(a=>a.pid == Model.id).PageSize(25))
                .Columns(x =>
                {
                	x.Bound(y => y.id).GridSelector(GridSelectorType.Checkbox);
                	x.Bound(y => y.name).Title("Görev Konu Adı");
                })
                .Selectable(x => x.Mode(GridSelectionMode.Single))
                .ToolBar(x =>
                {
                	x.Custom().Text("<i data-original-title='Görev Konusu Ekle' class='fa fa-plus-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "FTM_TaskSubject", new { area = "FTM", pid = pid }));
                	x.Custom().Text("<i data-original-title='Görev Konusu Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "FTM_TaskSubject", new { area = "FTM" }));
                	x.Custom().Text("<i title='Alt Görev Konuları' class='fa fa-tasks'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "false" } }).Url(Url.Action("Index", "FTM_TaskSubject", new { area = "FTM" }));
                	x.Custom().Text("<i data-original-title='Görev Konusu Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "FTM_TaskSubject", new { area = "FTM" }));
                }))
			</div>
		</div>
	</div>
</div>