a.pull-right {
    display: none;
}


.copyright img {
    display: none;
}

input#loginname {
    background: #d4d7dc !important;
}

input#password {
    background: #d4d7dc !important;
}

input#CaptchaCode {
    background: #d4d7dc !important;
}

span.input-group-addon.padv5 {
    background: #e9f1fe !important;
}


@media only screen and (max-width: 768px) {
    #login::before {
        content: url("/Content/Customers/1145/images/bg-1.jpg") !important;
    }
}

#login {
    top: 10% !important;
}


.btn-success {
    background-color: rgba(232, 33, 50, .8);
    border-color: rgba(232, 33, 50, .8);
    color: #FFFFFF;
}