@{
	ViewBag.Title = "Görev Form Tanımları";
	Layout = "~/Views/Shared/_Layout.cshtml";


}

<style type="text/css">
	.k-grid-content i {
		font-size: 30px;
	}
</style>
<script type="text/javascript">
        function statusFunction(item) {
        if (item.isActive == 1) {
            return '<span style="color:green;">Aktif</span>';
        } else if (item.isActive == 0) {
            return '<span style="color:red;">Pasif</span>';
        }
    }
</script>


<div class="row">
	<div class="col-md-2">
		<div class="ibox ">
			<div class="ibox-content mailbox-content">
				<div class="file-manager">
					<a class="btn btn-block btn-success" data-modal="false" data-blank="true" data-task="Insert" data-href="/FTM/VWFTM_TaskForm/Insert"> <i class="fa fa-plus-circle"></i> Görev Formu Oluştur </a>
					<div class="space-25"></div>
					<h5> GÖREV TİPİNE GÖRE </h5>
					<ul class="folder-list m-b-md" style="padding: 0">
						<li class="clearfix">
							<a class="pull-left active" data-switch="radio" href="#" data-grid="VWFTM_TaskForm" data-category="0" data-query="()">
								<i class="fa fa-align-justify" style="color:black;"></i>  Tüm Görev Formları
							</a>
							<span class="badge badge-inverse pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'0')">
								<i class="icon-tools"></i>  Arıza
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'0')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'1')">
								<i class="icon-wrench"></i>  Bakım
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'1')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'2')">
								<i class="icon-gauge-1"></i>  Kalibrasyon
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'2')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'3')">
								<i class="icon-shuffle"></i>  Parça Değişimi
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'3')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'4')">
								<i class="icon-eye"></i>  Kontrol
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'4')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'5')">
								<i class="icon-loop-1"></i> Gel Al
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'5')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'6')">
								<i class="icon-binoculars"></i>  Keşif
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'6')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'100')">
								<i class="fa fa-th-list"></i>  Anket
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'100')">0</span>
						</li>
						<li class="clearfix">
							<a class="pull-left" href="#" data-switch="radio" data-grid="VWFTM_TaskForm" data-category="0" data-query="(type~eq~'7')">
								<i class="icon-hashtag"></i>  Diger
							</a>
							<span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/FTM/VWFTM_TaskForm/DataSourceCount?filter=(type~eq~'7')">0</span>
						</li>
					</ul>
					<div class="clearfix"></div>
					<div class="space-25"></div>
					<h5> FORM DURUMUNA GÖRE </h5>
					<ul class="folder-list" style="padding: 0">
						@foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumFTM_TaskFormIsActive>().OrderBy(x=>x.Generic["order"]))
						{
							<li class="clearfix">
								<a class="pull-left" href="#" data-grid="VWFTM_TaskForm" data-switch="radio" data-category="1" data-query="(isActive~eq~'@item.Key')">
									@item.Value
								</a>

							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Görev Form Listesi</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				@(Html.Akilli()
                    .Grid<Infoline.WorkOfTime.BusinessData.VWFTM_TaskForm>("VWFTM_TaskForm")
                    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWFTM_TaskForm", new { area = "FTM" })).Sort(s => s.Add(a => a.usedCount).Descending())
                    .PageSize(25))
                    .Columns(x =>
                    {
                        x.Bound(y => y.isActive_Title).Title("Form Durumu").Width(150).ClientTemplate("#=statusFunction(data)#");
                        x.Bound(y => y.code).Title("Form Kodu").Width(160);
                        x.Bound(y => y.name).Title("Form İsmi").Width(260);
                        x.Bound(y => y.productId_Title).Title("Ürün").Width(320);
                        x.Bound(y => y.companyId_Title).Title("İşletme").Width(320);
                        x.Bound(y => y.companyStorageId_Title).Title("Şube/Depo/Kısım").Width(320);
                        x.Bound(y => y.usedCount).Title("Kullanım Adedi").Width(160);
                    })
                    .Scrollable(a => a.Height(650))
                    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                    .ToolBar(x =>
                    {
                        x.Custom().Text("<i data-original-title='Formu Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-modal", "false" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWFTM_TaskForm", new { area = "FTM" }));
                        x.Custom().Text("<i data-original-title='Form Kopyala' class='fa fa-copy'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-modal", "false" } }).Url(Url.Action("Insert", "VWFTM_TaskForm", new { area = "FTM" }));
                        x.Custom().Text("<i data-original-title='Form Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-modal", "false" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWFTM_TaskForm", new { area = "FTM" }));
                        x.Custom().Text("<i data-original-title='Formu Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWFTM_TaskForm", new { area = "FTM" }));
                    }))
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	$(document)
		.on("selected:grid", '#VWFTM_TaskForm', function (e, resp) {
			$('[data-href="/FTM/VWFTM_TaskForm/Delete"]').removeClass("hide");
			if (resp.usedCount != 0) {
				$('[data-href="/FTM/VWFTM_TaskForm/Delete"]').addClass("hide");
			}
		})

</script>
