@model Infoline.WorkOfTime.BusinessData.VWSH_User
@{
    ViewBag.Title = "Şirket Kütüphanesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userStatus = (PageSecurity)Session["userStatus"];
}
<style type="text/css">
    .dropfiles_list .alert {
        width: 27% !important;
    }
</style>
<form class="form-horizontal">
    @Html.Action("Preview", "Files", new { area = "", DataId = (userStatus.user.CompanyId ?? Guid.NewGuid()), DataTable = "CMP_CompanyMyPersonDocument" })
</form>