<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>

		<add key="DefaultTenant" value="1100"/>
		<add key="RemoteConnection" value="okXEh4tXrdTDjSMoHMmIAqlK2pgLXubWCyV2NBWXtD8QBffd4wLAPs0YhSoK6lEdn+WR0lTxBoJEqFCCN3+0qE3Es2/3Hb8r2J19aChKUPPzS840YrIDLGigGKKfozGn6gtj87LKwjf8FWutiBJZRl0WXVBN60CtgxZCmaiRs98="/>
		<add key="FirmaHost" value="043,942"/>

		<add key ="WorkerStart" value="23:05"/>
		<!-- Titan Config-->
		<add key="Host" value="https://titan.infoline-tr.com/api/v2"/>
		<add key="GetDeviceActivationInformation" value="/Devices/GetDeviceActivationInformation"/>
		
		<!-- KVK Config-->
		<add key="KvkHost" value="ftp://82.222.178.101/OUT"/>
		<add key="KvkUserName" value="omixmobile"/>
		<add key="KvkPassword" value="VpyC8g3R*"/>

		<!-- Genpa Config -->
		<add key ="GenpaDirUrl" value="https://ftp.genpa.com.tr/dir.html"/>
		<add key ="GenpaLoginUrl" value="https://ftp.genpa.com.tr/loginok.html"/>
		<add key ="GenpaUserName" value="omix"/>
		<add key ="GenpaPassword" value="9zcHxC4@"/>
	
		
		 <!-- Mobitel Config-->
		<add key="MobiltelUrl" value="ftp://95.0.40.86"/>
		<add key="MobiltelUserName" value="infolineftp"/>
		<add key="MobiltelPassword" value="34Nua09h!!"/>
		<add key="MobiltelDirectory" value="/Omix-FTP"/>
		<add key="MobiltelReadAllDirectory" value="false"/>
		<add key ="MobiltelFileExtension" value="csv"/>
		<add key ="MobiltelFileDateTimeFormat" value="yyyyMMddss"/>

		<!-- Port Config-->
		<add key="PortHost" value="ftp://46.221.52.222:57100"/>
		<add key="PortUserName" value="port"/>
		<add key="PortPassword" value="p*3eRfL343"/>

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="Service1Soap"/>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://95.0.40.92:1076/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="LogoService.Service1Soap" name="Service1Soap"/>
  </client>
 </system.serviceModel>
</configuration>
