<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Host" value="https://titantest.infoline-tr.com/api/v2" />
		<add key="DefaultTenant" value="1194" />
		<add key="RemoteConnection" value="3BLcxtsnJdi4sRUdTHuZqkRPxfNlSq9moOE8lVXJQiy+cbrLOuvTXu0i/L+/H7glbCJJ1yzRUWukQEeOLeNwxerMI9EXJdvYks77WBvKXA0qD4/twfHcW8SVDhQj0mKkVAAw1aRcsUA652rIkGgKsEeAWp7ZcspBR8b2HR/tBpY=" />
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="Service1Soap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://95.0.40.92:1076/Service1.asmx" binding="basicHttpBinding"
    bindingConfiguration="Service1Soap" contract="LogoService.Service1Soap"
    name="Service1Soap" />
  </client>
 </system.serviceModel>
</configuration>