@model Infoline.WorkOfTime.BusinessAccess.VWSYS_VersionModel
@{
    ViewBag.Title = "Versiyon Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .pad-hor {
        padding-left: 50px;
        padding-right: 50px;
    }

</style>
<div class="row">
    <div class="col-md-12 pad-hor">

        @if (Model._versions != null && Model._versions.Count > 0)
        {
            foreach (var item in Model._versions)
            {
                if (item.isActive == true)
                {
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Versiyon  @(item.versionNumber)</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content no-padding clearfix">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">Versiyon Değişiklikleri </div>
                                        <div class="col-md-8">
                                            <span class="pull-right boldText">
                                                @(item.versionChange)
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="ibox collapsed">
                        <div class="ibox-title">
                            <h5>Versiyon  @(item.versionNumber)</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content no-padding clearfix">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">Versiyon Değişiklikleri </div>
                                        <div class="col-md-8">
                                            <span class="pull-right boldText">
                                                @(item.versionChange)
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="ibox">
                <div class="alert alert-warning text-center m-t-sm m-b-sm" style="text-align: center;padding:10px;">
                    <strong> Oluşturulmuş bir versiyon bulunmamaktadır. </strong>
                </div>
            </div>
        }

    </div>
</div>

