@model Guid
@{
    ViewBag.Title = "Bağlı Depo/Şube/Kısım";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script id="treeview-template" data-selector="modalContainer" type="text/kendo-ui-template">
     <div class="clearfix" style="padding:8px 0;" data-id="#:item.id#">
        <img class="img-circle img-responsive pull-left" style="width:40px;height:40px;" src="#:(item.companyId_Image ? item.companyId_Image : '/Content/Custom/img/company.png')#" onerror="ImageError(this, '/Content/Custom/img/company.png')" />
        <div style="height:60px;float:right;">
            <div class="template-item">#:item.name# | #:item.code#</div>
            <div class="template-item">#:(item.companyId_Title ? item.companyId_Title : '-')#</div>
            <div class="template-item"><small>#:(item.locationId_Title ? item.locationId_Title : '-')#</small></div>
        </div>
    </div>
</script>
<script data-selector="modalContainer">
    function treeSelect(e) {
        var id = $(e.node).find('[data-id]').attr("data-id");
        var dropdownlist = $("#customerStorageId").data("kendoDropDownList");
        dropdownlist.value(id);
        dropdownlist.trigger("change");

    }
    $("[data-id]").dblclick(function () {
        var modal = $(this).parents('.modal')
        modal.modal("hide");
    });
    

</script>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" },
    { "id","VWFTM_TaskInsertForm" }
}))
{
<div style="max-width:500px;width:500px;overflow-y:scroll"> 
    @(
        Html.Kendo().TreeView()
        .Name("treeview")
        .DataTextField("Name")
          .TemplateId("treeview-template")
        .Events(x=>x.Select("treeSelect"))
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("GetTreeViewData", "VWCMP_Storage",new { area="CMP",customerId=Model })
            )
        )
)
</div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Vazgeç</button>
        <button class="btn btn-md btn-success pull-right" data-task="modalClose"  type="button">
            Seç
        </button>
    </div>



}

