@{
	ViewBag.Title = "Firma&Cari Şube/Depo/Kısımları";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var userStatus = (PageSecurity)Session["userStatus"];
}


<script type="text/javascript">

	$(document)
		.on("load:grid", "#VWCMP_Storage", function (e, res) {
			var dataSource = $("#VWCMP_Storage").data("handler").dataSource;
			var filter = dataSource.transport.parameterMap({ filter: dataSource.filter() }).filter;
			$('[data-print]').each(function (c) {
				$(this).attr("href", $(this).attr("data-print") + "&filter=" + filter);
			});
		});


	function hasLocation(data) {
		if (data && data != null && data != "") {
			return '<i style="color:green;" class="fa fa-location-arrow"></i>';
		}
		else {
			return "";
		}
	}


	$(document)
		.on("selected:grid", "#VWCMP_Storage", function (e, res) {
			var updateButton = $('[data-id="updateStorage"]');
			if (res.locationType == '@((int)EnumCMP_StorageLocationType.Alan)') {
				$(updateButton).attr("data-href", "/CMP/VWCMP_Storage/UpdateArea?id=" + res.id);
			} else {
				$(updateButton).attr("data-href", "/CMP/VWCMP_Storage/Update?id=" + res.id);
			}

		})
</script>


<div class="row">
	<div class="col-md-12">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Şube/Depo/Kısım Listesi</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				@(Html.Akilli()
					.Grid<Infoline.WorkOfTime.BusinessData.VWCMP_Storage>("VWCMP_Storage")
					.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWCMP_Storage", new { area = "CMP" })).Sort(a => a.Add(c => c.name)).Filter(a => a.myStorage == false).PageSize(25))
					.Scrollable(a => a.Height(650))
					.Columns(x =>
					{
						x.Bound(y => y.changed).Title("").Width(40).ClientTemplate("#=hasLocation(data.address) #").HeaderTemplate("<i data-toggle='tooltip' title='Konum' data-placement='left'  class='fa fa-location-arrow'></i>").Filterable(false);
						x.Bound(y => y.code).Title("Kodu").Width(200);
						x.Bound(y => y.name).Title("İsmi").Width(300);
						x.Bound(y => y.locationType_Title).Title("Depo Tipi").Width(300);
						x.Bound(y => y.companyId_Title).Title("İşletme").Width(300);
						x.Bound(y => y.locationId_Title).Title("İlçe,İl/Ülke").Width(250);
						x.Bound(y => y.address).Title("Adres").Width(300);
					})
					.Selectable(x => x.Mode(GridSelectionMode.Single))
					.ToolBar(x =>
					{
						x.Custom().Text("<i class='fa fa-plus-circle' data-original-title='Şube/Depo/Kısım Ekle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWCMP_Storage", new { area = "CMP", locationType = (int)EnumCMP_StorageLocationType.Depo }));
						x.Custom().Text("<i class='icon-map' data-original-title='Şube/Depo/Kısım Alan Ekle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("InsertArea", "VWCMP_Storage", new { area = "CMP", locationType = (int)EnumCMP_StorageLocationType.Alan }));
						x.Custom().Text("<i class='fa fa-edit' data-original-title='Şube/Depo/Kısım Düzenle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, {"data-id","updateStorage" },{ "data-method", "GET" } }).Url(Url.Action("Update", "VWCMP_Storage", new { area = "CMP" }));
						x.Custom().Text("<i class='fa fa-info-circle' data-original-title='Şube/Depo/Kısım Detay'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "false" }, { "data-blank", "true" } }).Url(Url.Action("Detail", "VWCMP_Storage", new { area = "CMP" }));
						x.Custom().Text("<i class='fa fa-trash' data-original-title='Şube/Depo/Kısım Sil'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWCMP_Storage", new { area = "CMP" }));
					}))
			</div>
		</div>
	</div>
</div>

<div class="theme-config">
	<div class="theme-config-box">
		<div class="spin-icon">
			<i class="fa fa-filter"></i>
		</div>
		<div class="skin-setttings">
			<div class="title"></div>
			<div class="file-manager">

				<a class="btn btn-block btn-success" data-modal="true" data-task="Insert" data-method="GET" data-show="single" data-href="/CMP/VWCMP_Storage/Insert?myStorage=1"> <i class="fa fa-plus-circle"></i> Yeni Şube/Depo/Kısım Ekle </a>
				<a href="#" data-task="Insert" data-import="Excel" data-modal="true" title="Excel'den Şube/Depo/Kısım Ekle" class="btn btn-block btn-primary"
				   data-properties="@Infoline.Framework.Helper.ExcelImportHelper.GetSchema(typeof(CMP_StorageExcel), "CMP_Storage")" data-gridRefresh="VWCMP_Storage"
				   data-post="@Url.Action("Import","VWCMP_Storage",new { area="CMP"})">
					<i class="fa fa-file-excel-o"></i> Excel'den Şube/Depo/Kısım Ekle
				</a>
				<a download href="~/Content/SampleExcels/storage_template.xlsx" class="btn btn-block btn-info" data-original-title="Örnek Excel İndir">
					<i class="fa fa-download"></i> Örnek Excel İndir
				</a>

				<div class="space-25"></div>
				<h5 style="text-align:center;">QR YAZDIRMA İŞLEMLERİ </h5>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodes?type=4" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodes?type=4"> <i class="fa fa-qrcode pull-left"></i> 4'lü(A4) için qrcode yazdır </a>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodes?type=3" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodes?type=3"> <i class="fa fa-qrcode pull-left"></i> 7'li(A3) için qrcode yazdır </a>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodes?type=100" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodes?type=100"> <i class="fa fa-qrcode pull-left"></i> 25'li(B. Boyutlar) qrcode yazdır </a>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodesSizes?height=34&width=54" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodesSizes?height=34&width=54"> <i class="fa fa-qrcode pull-left"></i> 50*30(mm) logolu qrcode yazdır </a>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodes?type=9" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodes?type=9"> <i class="fa fa-qrcode pull-left"></i> 64*34(mm) logolu qrcode yazdır </a>
				<a class="btn btn-block btn-primary" data-print="/CMP/VWCMP_Storage/PrintQrCodesSizes?height=10&width=45" target="_blank" href="/CMP/VWCMP_Storage/PrintQrCodesSizes?height=10&width=45"> <i class="fa fa-qrcode pull-left"></i> 40*10(mm) logolu qrcode yazdır </a>

			</div>

		</div>
	</div>
</div>


<script src="~/Content/Custom/js/filter.js"></script>
<link href="~/Content/Custom/css/filter.css" rel="stylesheet" />
