@model SummaryActionModel
@{
    var title = Model.StockTable == "CMP_Storage" ? "Depo" : "Personel"; 
    ViewBag.Title = title + " Stok Hareket Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stockId = Model.StockId != null ? Model.StockId : Guid.NewGuid();
    var productId = Model.ProductId != null ? Model.ProductId : Guid.NewGuid();
    var stockTable = Model.StockTable != null ? Model.StockTable : "";
}

    <style type="text/css" data-selector="modalContainer">
      .modal-lg {
         width: 95%;
        }
    </style>

    <div data-selector="modalContainer">
        @if (title == "Depo")
        {
            @(Html.Akilli()
			.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_StockAction>("VWPRD_StockActionDetail")
			.DataSource(x => x.Ajax().Read(r => r.Action("DataSourceIndex", "VWPRD_StockAction", new { area = "PRD" }))
			.Filter(a => a.stockTable == "CMP_Storage" && a.productId == Model.ProductId).PageSize(25))
			.Groupable(a => a.Enabled(true))
			.Scrollable(a => a.Height(600))
			.Columns(x =>
			{

				x.Bound(y => y.type_Title).Title("İşlem Tipi").Width(140);
				x.Bound(y => y.stockCompanyId_Title).Title("İşlemi Gerçekleştiren Cari").Width(330);
				x.Bound(y => y.stockId_Title).Title("İşlemi Gerçekleştiren Şube/Depo/Kısım").Width(280);
				x.Bound(y => y.dataCompanyId_Title).Title("Cari").Width(310);
				x.Bound(y => y.dataId_Title).Title("Şube/Depo/Kısım  - Pesonel").Width(300);
				x.Bound(y => y.productId_Title).Title("Ürün").Width(300);
				x.Bound(y => y.totalQuantity).Title("Miktar").ClientTemplate("<span style='color:#=(totalQuantity<0 ? 'red' : 'green')#'>#:kendo.toString(totalQuantity!=null ? totalQuantity : '', 'n2')# #:unitId_Title!=null ? unitId_Title:''#</span> ").Width(150).Format("{0:N2}");
				//x.Bound(y => y.alternativeQuantity).Title("Miktar").ClientTemplate("<span style='color:#=(alternativeQuantity<0 ? 'red' : 'green')#'>#:kendo.toString(alternativeQuantity!=null ? alternativeQuantity : '', 'n2')# #:alternativeUnitId_Title!=null ? alternativeUnitId_Title:''#</span> ").Width(150).Format("{0:N2}");
				x.Bound(y => y.serialCodes).Title("Seri Kodları").Width(400);
				x.Bound(y => y.unitId_Title).Title("Birim").Hidden(true);
				x.Bound(y => y.unitPrice).Title("Birim Fiyat").Width(120).Format("{0:N2} TL");
				x.Bound(y => y.totalPrice).Title("Tutar").Width(100).Format("{0:N2} TL");
				x.Bound(y => y.currency_Title).Title("Birim").Hidden(true);
				x.Bound(y => y.createdby_Title).Title("İşlemi Gerçekleştiren").Width(180);
				x.Bound(y => y.created).Title("İşlemi Tarihi").Width(180).Format(Extensions.DateFormatFull(true));
				x.Bound(y => y.code).Title("Evrak Kodu").Width(150);
				x.Bound(y => y.date).Title("Evrak Tarihi").Width(150).Format(Extensions.DateFormatFull(true));
			})
			.Events(a => a.ExcelExport("Kendo_CustomExport"))
			.Selectable(x => x.Mode(GridSelectionMode.Single)))
        }
        else
        {

            @(Html.Akilli()
			.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_StockAction>("VWPRD_StockActionPersonDetail")
			.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRD_StockAction", new { area = "PRD" })).Filter(a => a.stockTable == "SH_User").PageSize(25))
			.Groupable(a => a.Enabled(true))
			.Scrollable(a => a.Height(600))
			.Columns(x =>
			{
				x.Bound(y => y.type_Title).Title("İşlem Tipi").Width(140);
				x.Bound(y => y.stockCompanyId_Title).Title("İşlemi Gerçekleştiren Cari").Width(320);
				x.Bound(y => y.stockId_Title).Title("Personel").Width(300);
				x.Bound(y => y.dataId_Title).Title("Şube/Depo/Kısım").Width(300);
				x.Bound(y => y.productId_Title).Title("Ürün").Width(300);
				x.Bound(y => y.totalQuantity).Title("Miktar").ClientTemplate("<span style='color:#=(totalQuantity<0 ? 'red' : 'green')#'>#:kendo.toString(totalQuantity!=null ? totalQuantity : '', 'n2')# #:unitId_Title!=null ? unitId_Title:''#</span> ").Width(150).Format("{0:N2}");
				//x.Bound(y => y.alternativeQuantity).Title("Miktar").ClientTemplate("<span style='color:#=(totalQuantity<0 ? 'red' : 'green')#'>#:kendo.toString(totalQuantity!=null ? totalQuantity : '', 'n2')# #:unitId_Title!=null ? unitId_Title:''#</span> ").Width(150).Format("{0:N2}");
				x.Bound(y => y.serialCodes).Title("Seri Kodları").Width(400);
				x.Bound(y => y.unitId_Title).Title("Birim").Hidden(true);
				x.Bound(y => y.unitPrice).Title("Birim Fiyat").Width(120).Format("{0:N2} TL");
				x.Bound(y => y.totalPrice).Title("Tutar").Width(100).Format("{0:N2} TL");
				x.Bound(y => y.currency_Title).Title("Birim").Hidden(true);
				x.Bound(y => y.createdby_Title).Title("İşlemi Gerçekleştiren").Width(180);
				x.Bound(y => y.created).Title("İşlemi Tarihi").Width(180).Format(Extensions.DateFormatFull(true));
				x.Bound(y => y.code).Title("Evrak Kodu").Width(150);
				x.Bound(y => y.date).Title("Evrak Tarihi").Width(150).Format(Extensions.DateFormatFull(true));
			})
			.Events(a => a.ExcelExport("Kendo_CustomExport"))
			.Selectable(x => x.Mode(GridSelectionMode.Single)))
        }
    </div>