@{
    ViewBag.Title = "Stok Özetleri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="ibox ">
    <div class="ibox-title">
        <h5>Depo Stok Özeti</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @(Html.Akilli()
        .Grid<Infoline.WorkOfTime.BusinessData.VWPRD_StockSummary>("VWPRD_StockSummaryStorage")
        .DataSource(x => x.Ajax().Read(r => r.Action("DataSourceIndex", "VWPRD_StockSummary", new { area = "PRD" }))
        .Filter(a => a.stockTable == "CMP_Storage").PageSize(25))
        .Columns(x =>
        {
            x.Bound(y => y.id).ClientTemplate("#=TemplateEngine('photoTemplate',data) #").Filterable(false).Title("").Width(70);
            x.Bound(y => y.productId_Title).Title("Ürün").Width(500);
            x.Bound(y => y.categoryId_Title).Title("Kategori").Width(300);
            x.Bound(y => y.stockCompanyId_Title).Title("Cari").Width(400);
            x.Bound(y => y.stockId_Title).Title("Şube/Depo/Kısım").Width(400);
            x.Bound(y => y.quantity).Title("Miktar").ClientTemplate("<span style='color:#=(quantity<0 ? 'red' : 'green')#'>#:kendo.toString(quantity, 'n2')# #:unitId_Title#</span> ").Width(180);
            x.Bound(y => y.unitId_Title).Title("Birim").Hidden(true);
        })
        .Selectable(x => x.Mode(GridSelectionMode.Multiple))
        .ToolBar(x =>
        {
            x.Custom().Text("<i data-original-title='Stok Hareketi' class='icon-exchange-1'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-storage", "detail" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_StockSummary", new { area = "PRD" }));
              x.Custom().Text("<i data-original-title='Envanter Listesi' class='icon-buffer'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-productStorage", "detail" }, { "data-default", "" } }).Url(Url.Action("DetailInventory", "VWPRD_Inventory", new { area = "PRD" }));
        }
        ))
    </div>
</div>


<div class="ibox  collapsed">
    <div class="ibox-title">
        <h5>Personel Stok Özeti</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content ">

        @(Html.Akilli()
        .Grid<Infoline.WorkOfTime.BusinessData.VWPRD_StockSummary>("VWPRD_StockSummaryPerson")
        .DataSource(x => x.Ajax().Read(r => r.Action("DataSourceIndex", "VWPRD_StockSummary", new { area = "PRD" }))
        .Filter(a => a.stockTable == "SH_User").PageSize(25))
        .Columns(x =>
        {
            x.Bound(y => y.id).ClientTemplate("#=TemplateEngine('photoTemplate',data) #").Filterable(false).Title("").Width(50);
            x.Bound(y => y.productId_Title).Title("Ürün").Width(500);
            x.Bound(y => y.stockCompanyId_Title).Title("Cari").Width(500);
            x.Bound(y => y.stockId_Title).Title("Personel").Width(500);
            x.Bound(y => y.quantity).Title("Miktar").ClientTemplate("<span style='color:#=(quantity<0 ? 'red' : 'green')#'>#:kendo.toString(quantity, 'n2')# #:unitId_Title#</span> ").Width(180);
            x.Bound(y => y.unitId_Title).Title("Birim").Hidden(true);
        })
        .Selectable(x => x.Mode(GridSelectionMode.Multiple))
        .ToolBar(x =>
        {
            x.Custom().Text("<i data-original-title='Stok Hareketi' class='icon-exchange-1'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-person", "detail" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_StockSummary", new { area = "PRD" }));
             x.Custom().Text("<i data-original-title='Envanter Listesi' class='icon-buffer'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-productPerson", "detail" }, { "data-default", "" } }).Url(Url.Action("DetailInventory", "VWPRD_Inventory", new { area = "PRD" }));
        }))
    </div>
</div>

<script type="text/javascript">

    $(document)
        .on("selected:grid", "#VWPRD_StockSummaryStorage", function (e, res) {
            var detail = $('[data-storage="detail"]');
            var dataProduct = $('[data-productStorage="detail"]');
            $(detail).attr("data-href", '/PRD/VWPRD_StockSummary/Detail?productId=' + res.productId + '&stockId=' + res.stockId + '&stockTable=' + res.stockTable);
            if (res.stockType == 2 && res.quantity != 0) {
                $(dataProduct).show();
                $(dataProduct).attr("data-href", '/PRD/VWPRD_Inventory/DetailInventory?productId=' + res.productId + '&stockId=' + res.stockId);
            }
            else {
                $(dataProduct).hide();
            }

        })

        .on("selected:grid", "#VWPRD_StockSummaryPerson", function (e, res) {
            var dataProduct = $('[data-productPerson="detail"]');
            var detail = $('[data-person="detail"]');
            $(detail).attr("data-href", '/PRD/VWPRD_StockSummary/Detail?productId=' + res.productId + '&stockId=' + res.stockId + '&stockTable=' + res.stockTable);
            if (res.stockType == 2 && res.quantity != 0) {
                $(dataProduct).show();
                $(dataProduct).attr("data-href", '/PRD/VWPRD_Inventory/DetailInventory?productId=' + res.productId + '&stockId=' + res.stockId);
            }
            else {
                $(dataProduct).hide();
            }
        });

</script>