@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel
@{
    ViewBag.Title = "İşlem Dosyası Yükle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("UploadFormPost","VWPRD_Transaction",new {area="PRD" })" method="post" data-formType="Ajax" class="form-horizontal" role="form" data-selector="modalContainer">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Dosya">İşlem Dosyası</label>
        </div>
        <div class="col-md-8">
            @(
                        Html.Akilli().FileUpload()
                        .DataTable("PRD_Transaction")
                        .DataId(Model.id)
                        .DataKey(x => x.fileGroup == "İşlem Dosyası")
                     
              )
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" type="submit">Yükle</button>
    </div>
</form>


