@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel

<div class="row hide" data-type="15">
    <div class="hr-line-dashed"></div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="outputId15">Çıkış Yapılacak Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.outputId)
                    .Id("outputId15")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("fullName")
                    .DataValueField("id")
                    .AddAttribute("data-change", "true")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Events(a => a.Change("page.events.outputChange"))
                    .Filter<VWCMP_Storage>(a => a.myStorage == true)
                    .Sort(x => x.Add("fullName").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("outputTable", "CMP_Storage", new { id = "outputTable15", disabled = "true" })
            </div>
        </div>
    </div>
</div>
