@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel

<div class="row hide" data-type="11">

    <div class="hr-line-dashed"></div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="outputId11">Çıkış Yapılacak Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.outputId)
                    .Id("outputId11")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("fullName")
                    .DataValueField("id")
                    .AddAttribute("data-change", "true")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Events(a => a.Change("page.events.outputChange"))
                    .Filter<VWCMP_Storage>(a => a.myStorage == true)
                    .Sort(x => x.Add("fullName").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("outputTable", "CMP_Storage", new { id = "outputTable11", disabled = "true" })
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="inputId11">Personel</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.inputId)
                    .Id("inputId11")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .Template("#=TemplateEngine('userTemplate',data)#")
                    .DataTextField("searchField")
                    .DataValueField("id")
                    .Action(b => b.Action("DataSourceDropDown", "VWSH_User", new { area = "SH" }))
                    .Events(a => a.Change("page.events.inputChange"))
                    .Filter<VWSH_User>(a => a.IsWorking == true)
                    .Sort(x => x.Add("firstname").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("inputTable", "SH_User", new { id = "inputTable11", disabled = "true" })
            </div>
        </div>
    </div>




</div>
