<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteConnection" value="okXEh4tXrdTDjSMoHMmIAqlK2pgLXubWCyV2NBWXtD8QBffd4wLAPs0YhSoK6lEdn+WR0lTxBoJEqFCCN3+0qE3Es2/3Hb8r2J19aChKUPPzS840YrIDLGigGKKfozGn6gtj87LKwjf8FWutiBJZRl0WXVBN60CtgxZCmaiRs98=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>