<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteConnection" value="3BLcxtsnJdi4sRUdTHuZqkRPxfNlSq9moOE8lVXJQiy+cbrLOuvTXu0i/L+/H7glbCJJ1yzRUWukQEeOLeNwxURkXiYjsV/zMaKglp8ofYKpcuVAhxa6sWOd7g/Ejakk9421mBgTqagwX/eDeIXbDQ==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>