@{
    ViewBag.Title = "Bayi Hakediş Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userStatus = (PageSecurity)Session["userStatus"];
}
<script type="text/x-kendo-template" id="template">
    <a  data-href="" data-button="ApprovedBut" id="ApprovedButton" data-ask="Hakedişi Onaylamak İstiyor Musunuz?"   data-method="GET" data-show="single" class="k-button hidden"><i class="fa fa-check" data-original-title="Ödendi Yap"></i></a>
    <a class="k-button k-button-icontext k-grid-excel" href="\\#"><span class="k-icon k-i-excel"></span></a>
    <a class="k-button k-button-icontext k-grid-pdf" href="\\#"><span class="k-icon k-i-pdf"></span></a>
</script>
<div class="row">
    <div class="ibox">
        <div class="col-sm-12">
            <div class="ibox-content clearfix">
                <div class="col-sm-6">
                    <label class="req">Bayi Seçiniz</label>
                    @(
                       Html.Akilli()
                       .DropDownList("companyId")
                       .OptionLabel("Lütfen Firma Cari seçiniz..")
                       .DataValueField("id")
                       .DataTextField("fullName")
                       .Template("#=TemplateEngine('companyTemplate',data)#")
                       .Action(b => b.Action("DataSourceDropDownBayi", "VWCMP_Company", new { area = "CMP" }))
                       .Sort(x => x.Add("fullName").Ascending())
                       .Validate(Validations.Required)
                       .Value(userStatus.user.CompanyId.ToString())
                       .Enable(!userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.HakEdisBayiPersoneli)))
                       .Execute()
                     )
                </div>
                <div class="col-sm-2">
                    <label class="req">Ay Seçiniz</label>
                    @(
                       Html.Akilli()
                       .DropDownList("month")
                       .OptionLabel("Ay Seçiniz..")
                       .DataValueField("id")
                       .DataTextField("title")
                       .Action(b => b.Action("GetMonths", "General", new { area = "" }))
                       .Validate(Validations.Required)
                       .Value(DateTime.Now.Month.ToString())
                       .Execute()
                    )
                </div>
                <div class="col-sm-2">
                    <label class="req">Yıl Seçiniz</label>
                    @(
                       Html.Akilli()
                       .DropDownList("year")
                       .OptionLabel("Lütfen Yıl Seçiniz..")
                       .DataValueField("id")
                       .DataTextField("title")
                       .Action(b => b.Action("GetYears", "General", new { area = "" }))
                       .Validate(Validations.Required)
                       .Value(DateTime.Now.Year.ToString())
                       .Execute()
                     )
                </div>
                <div class="col-sm-2">
                    <button onclick="page.load()" id="queryButton" style="width:100%;margin-top:26px" class="btn btn-primary btn-large">Sorgula</button><br />
                </div>
            </div>
        </div>

    </div>
</div>
<div class="ibox" id="info">
    <div class="alert alert-warning text-center m-t-sm m-b-sm" style="text-align: center;padding:10px;">
        Bilgilendirme : <strong> Yukarıdan verileri seçerek sorgula butonuna basınız... </strong>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-top:20px;">
        <div class="ibox" style="display:none" id="table">
            <div class="ibox-content clearfix">
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <div class="forum-icon">
                                <i class="fa fa-money"></i>
                            </div>
                            <a href="#" class="forum-item-title" style="cursor:default">Toplam Hakediş</a>
                            <div class="forum-sub-title">Distribütör, Aktivasyonlar ve Beyana Göre Hakediş Tutar Bilgileri</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 forum-info">
                            <span id="ProductCount" class="views-number">
                                0
                            </span>
                            <div>
                                <small>Toplam Satış Adedi</small>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 forum-info">
                            <span id="totalPaid" class="views-number">
                                0
                            </span>
                            <div>
                                <small>Hakedilen Toplam Tutar(Ödenen) </small>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 forum-info">
                            <span id="totalNotPaid" class="views-number">
                                0
                            </span>
                            <div>
                                <small>Hakedilen Toplam Tutar(Ödenmeyen)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div id="totalGrid"></div>
    </div>
    <div class="col-sm-12" style="margin-top:10px">
        <div id="reportGrid"></div>
    </div>

</div>
<script>
    var page = {
        qButton: $("queryButton"),
        load: function () {
            var companyId = null;
            var company = null;
            companyId = $("#companyId").data("kendoDropDownList").dataItem();
            company = companyId.id;
            var month = $("#month").data("kendoDropDownList").dataItem();
            var year = $("#year").data("kendoDropDownList").dataItem();
            var validate = page.inputValidate(month, year);
            if (validate.length > 0) {
                return;
            }
            GetJsonDataFromUrl("/PRD/VWPRD_ProductPayment/ReportDataSource", { companyId: company, year: year.id, month: month.id }, function (data) {
                if (data.length == 0) {
                    swal("Veri Bulunamadı", "Seçilen bayi, ay ve yıla ait hakediş bulunmamaktadır.", "warning");
                    return;
                }
                $("#info").hide();
                $("#table").show();
                var gridTotal = $("#reportGridTotal").data("kendoGrid");
                if (gridTotal != undefined) {
                    gridTotal.destroy();
                }
                var totalCols = [
                    { field: 'id', hidden: true },
                    { field: 'companyId_Title', title: 'Bayi Adı', width: 200 },
                    { field: 'productId_Title', title: 'Ürün Adı', width: 200 },
                    {
                        field: 'date', title: 'Satış Tarihi', width: 100, format: '{0:dd-MMMM-yyyy}', template: function (item) {
                            return kendo.toString(kendo.parseDate(item.date), 'dd/MM/yyyy');
                        }
                    },
                    {
                        field: 'totalPrice', title: 'Hakediş Tutarı', width: 100, format: '{0:N0}', template: function (item) {

                            return kendo.toString(item.totalPrice, "N0") + " ₺";
                        }
                    },
                    {
                        field: 'hasThePayment', width: 60, attributes: { class: "text-center" }, title: 'Hakediş Ödendi Mi?', template: function (dataItem) {
                            if (dataItem.hasThePayment == 1) {
                                return '<span class="text-center"><i class="fa fa-check fa-2x text-primary" ><i/></span>';
                            }
                            return '<span class="text-center"><i class="fa fa-times fa-2x text-danger" ><i/></span>';
                        }
                    },
                ];
                $("#totalGrid").kendoGrid({
                    toolbar: kendo.template($("#template").html()),
                    excel: {
                        fileName: "Hakediş_Raporu.xlsx"
                    },
                    dataSource: data,
                    pageSize: 100,
                    height: 580,
                    sortable: true,
                    resizable: true,
                    selectable: 'single',
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    change: function (e, resp) {
                        $('#ApprovedButton').removeClass('hidden')
                        var grid = $("#totalGrid").data("kendoGrid");
                        var selectedItem = grid.dataItem(grid.select());
                        if (selectedItem.hasThePayment == 1) {
                            $('[data-button="ApprovedBut"]').hide();
                        }
                        else {
                            $('[data-button="ApprovedBut"]').show();
                        }
                        $('[data-button="ApprovedBut"]').attr('data-href', '/PRD/VWPRD_ProductPayment/Approve?id=' + selectedItem.id + '');
                    },
                    columns: totalCols
                });
                var totalG = $("#totalGrid").data("kendoGrid");
                totalG.dataSource.page(1);
                $("#totalPaid").text(kendo.toString(data.length != 0 ? data[0].totalPriceAllPaid : 0, "N2") + " ₺");
                $("#totalNotPaid").text(kendo.toString(data.length != 0 ? data[0].totalPriceAllNotPaid : 0, "N2") + " ₺");
                $("#ProductCount").text(kendo.toString(data.length != 0 ? data[0].totalQuantity : 0, "N0") + " Adet");
            });
        },
        inputValidate: function (month, year) {
            var errorList = [];
            if (companyId == undefined || companyId.id == '') {
                errorList.push("Bayi Boş Olamaz");
            }
            if (month == undefined || month.id == '') {
                errorList.push("Ay Boş Olamaz");
            }
            if (year == undefined || year.id == '') {
                errorList.push("Yıl Boş Olamaz");
            }
            if (errorList.length > 0) {
                swal("Boş Alanlar Var", errorList.join("\n"), "warning");
            }
            return errorList;
        }
    }
    $(document).on("success:swal", "#ApprovedButton", function () {
        setTimeout(function () {
            page.load()
        },100)
    })

</script>
