<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="FilesPath" value="C:\inetpub\wwwroot\Infoline.WorkOfTime\Webdeveloper\Files" />
		<add key="Host" value="https://titan.infoline-tr.com/api/v2" />
		<add key="Getlist" value="/Devices/getlist" />
		<add key="Getbyid" value="/Devices/getbyid?id=" />
		<add key="Getdeviceinformation" value="/Devices/getdeviceinformation?id=" />
		<add key="GetDeviceActivationInformation" value="/Devices/GetDeviceActivationInformation" />
		<!--<add key="FilesPath" value="C:\home\site\wwwroot\Files" />-->
		<add key="DefaultTenant" value="1100" />
		<!--<add key="DefaultTenant" value="1201" />-->
		<add key="EmailControl" value="" />
		<add key="RemoteConnection" value="okXEh4tXrdTDjSMoHMmIAqlK2pgLXubWCyV2NBWXtD8QBffd4wLAPs0YhSoK6lEdn+WR0lTxBoJEqFCCN3+0qE3Es2/3Hb8r2J19aChKUPPzS840YrIDLGigGKKfozGn6gtj87LKwjf8FWutiBJZRl0WXVBN60CtgxZCmaiRs98=" />
	</appSettings>
	<system.web>
		<customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" requestValidationMode="4.5" executionTimeout="999999" maxRequestLength="2147483647" maxQueryStringLength="32768" enable="true" />
		<pages enableSessionState="true">
			<namespaces>
				<add namespace="Kendo.Mvc.UI" />
			</namespaces>
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</httpHandlers>
		<sessionState timeout="120" />
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".json" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".geojson" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".geojson" mimeType="application/geojson" />
			<mimeMap fileExtension=".lang" mimeType="application/text" />
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
			<mimeMap fileExtension=".plist" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" maxQueryString="32768" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<botDetect helpLinkEnabled="true" helpLinkMode="image" />
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>