@using Infoline.WorkOfTime.BusinessAccess;
@model List<FBU_OgrenciSinavSonuc>
@{
    ViewBag.Title = "Sınav Sonuçları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<style type="text/css">
        .table-responsive{
                 padding: 30px 10px 15px 10px;
        }
    </style>

<div class="ibox-content table-responsive">


    @foreach (var item in Model)
    {
        i++;

        <div class="col-md-6">
            <table class="table table-striped " style="border: 2px solid #003e6f !important;">
                <tbody>
                    <tr>
                        <th align="left" colspan="2" scope="col" style="background: #003e6f;color: #fff;">@item.ders_kodu - @item.ders_adi</th>
                    </tr>

                    @foreach (var sinav in item.sinavlar)
                    {
                        <tr class="alt">
                            <td>
                                <span>@sinav.sinav_adi</span>
                            </td>
                            <td style="width:25%;">
                                <span class="NotGoruntulemeNot">@sinav.puan</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        if (i % 2 == 0)
        {
            <div class="clearfix"></div>
        }
    }
   


</div>
