@model VMFTM_TaskModel
@{
    ViewBag.Title = "Görev Detayı";
    Layout = null;
}

<title class="hide">@ViewBag.Title</title>

<div data-selector="modalContainer">

    @Html.Partial("~/Areas/FTM/Views/VWFTM_Task/_Partial_VWFTM_Task_Detail.cshtml", Model)

    <div class="ibox-content clearfix">
        <div class="button-group">
            <a href="/FTM/VWFTM_Task/Detail?id=@Model.id" class="btn btn-md btn-info pull-right" target="_blank">Detay</a>
        </div>
    </div>

</div>