@model Infoline.WorkOfTime.BusinessAccess.TaskSchedulerModel
@{
    ViewBag.Title = "Görev Plan ve Şablon Detayı";
    Layout = null;
}

<title style="display: none;">@ViewBag.Title</title>

<style type="text/css">
    #insertRadio.akilliRadioGrup i.icon-shuffle {
        font-size: 18px;
    }
</style>

@Html.Partial("~/Areas/FTM/Views/VWFTM_TaskTemplate/Detail.cshtml", Model)
<hr />
@Html.Partial("~/Areas/FTM/Views/VWFTM_TaskPlan/Detail.cshtml", Model)
