@model Infoline.WorkOfTime.BusinessAccess.TaskSchedulerModel
@{
    ViewBag.Title = "Yeni Planlanmış Görev Tanımla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "VWFTM_TaskPlan", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" },
    { "id", "TaskPlansForm" },
    { "data-before", "beforeFunc" }
}))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TaskPlan.id)
    @Html.HiddenFor(model => model.TaskPlan.monthDays)

    @Html.Partial("~/Areas/FTM/Views/VWFTM_TaskPlan/_Part_FormElements.cshtml", Model)

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}


