@{
    ViewBag.Title = "Ana Konular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox m-b-none">
    <div class="ibox-title">
        <h5>Ana Konular</h5>

    </div>
    <div class="ibox-content">
        @(Html.Akilli()
            .Grid<Infoline.WorkOfTime.BusinessData.VWHDM_Issue>("VWHDM_Issue")
            .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWHDM_Issue", new { area = "HDM" })).Filter(a => a.pid == System.UIHelper.Guid.Null).PageSize(25))
            .Columns(x =>
            {
                x.Bound(y => y.title).Title("Başlık").Width(130);
                x.Bound(y => y.expiryMinute).Title("Ortalama Çözüm Süresi (dk)").Width(100);
                x.Bound(y => y.status_Title).Title("Durumu").Width(130);
            })
            .Scrollable(s => s.Height(650))
            .Selectable(x => x.Mode(GridSelectionMode.Single))
            .ToolBar(x =>
            {
                x.Custom().Text("<i data-original-title='Yeni Konu Ekle' class='fa fa-plus-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWHDM_Issue", new { area = "HDM" }));
                x.Custom().Text("<i data-original-title='Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWHDM_Issue", new { area = "HDM" }));
                x.Custom().Text("<i data-original-title='Detay' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-modal", "false" }, { "data-default", "" }, { "data-method", "GET" } }).Url(Url.Action("Detail", "VWHDM_Issue", new { area = "HDM" }));
                x.Custom().Text("<i data-original-title='Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "Konunun altındaki çözüm önerileri de silinecek, devam etmek istediğinizden emin misiniz?" } }).Url(Url.Action("Delete", "VWHDM_Issue", new { area = "HDM" }));
            }))
    </div>
</div>
