@media (max-width: 1100px) {
    [data-g] {
        display: none;
    }
}

@media (max-width: 500px) {
    [data-g2] {
        display: none;
    }
}

.month-container.col-md-4 .month {
    width: 100%;
}

.day-content {
    color: white;
}

.tab thead tr th {
    border: 0px;
}

table.tab > tbody tr, table.tab > tbody td, table.tab > tbody th {
    border: 1px solid;
    border-collapse: collapse;
}

.navy-bg {
    background-color: rgb(19, 162, 97);
    color: white;
}

.navy2-bg {
    background-color: rgb(255, 204, 22);
    color: white;
}

.navy3-bg {
    background-color: rgb(236, 124, 30);
    color: white;
}

.navy4-bg {
    background-color: rgb(188, 1, 1);
    color: white;
}

.navy5-bg {
    background-color: rgb(174, 11, 84);
    color: white;
}

.navy6-bg {
    background-color: rgb(149, 15, 53);
    color: white;
}


.snavy-bg {
    background-color: lightgreen;
    color: white;
}

.snavy2-bg {
    background-color: #a4caa1;
    color: white;
}

.snavy3-bg {
    background-color: #e4df08;
    color: white;
}

.snavy4-bg {
    background-color: #ffc000;
    color: white;
}

.snavy5-bg {
    background-color: red;
    color: white;
}

.cards > .colmd2Cards > .widget {
    cursor: pointer;
}

.month-container.col-md-4.col-lg-3.col-s-12 {
    margin-top: 10px;
}

#content h2 span {
    border-bottom: 0px !important;
    color: white !important;
}

.col-xs-10.text-right.wInformation {
    position: absolute;
}

.pagination {
    margin: 0px 0 !important;
}

.day:not(.day-start) {
    background-color: #afafaf;
}

#content h2 span {
    border-bottom: 0px !important;
    color: white !important;
}

.col-xs-10.text-right.wInformation {
    position: absolute;
}


.cards .colmd2Cards .widget {
    background-color: #ed5565;
}

.cards .colmd2Cards.active > .widget {
    background-color: #0d9255;
}
