@using Infoline.WorkOfTime.BusinessAccess
@{
    ViewBag.Title = "Hoş Geldiniz ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Plugins/fabricjs/fabric.js"></script>
<style type="text/css">
    .wrapper.wrapper-content {
        padding: 0px !important;
    }

    div#page-wrapper {
        padding: 0px;
    }

    .row.white-bg.page-heading {
        padding: 0px 30px;
    }
</style>

<script type="text/javascript">

    var page = {
        canvas: null,

        init: function () {

            var $this = this;

        }

    };

    $(document)

        .on('ready', function () {

            page.init();

        })

        ;

</script>

<link href="~/Content/Plugins/fabricjs/fabdefault.css" rel="stylesheet" />

<div class="editorContainer">

    <div class="editorMenu">
        <ul class="list list-unstyled">
            <li>ITEM 1</li>
            <li>ITEM 2</li>
            <li>ITEM 3</li>
        </ul>
    </div>
    
    <div class="editorBody">
        BODY
    </div>

</div>
