@{
    ViewBag.Title = "Aydınlatma Metni";
}
<title>@ViewBag.Title</title>
<div class="row" data-selector="modalContainer">
    <div class="col-md-12">
        Şirket ve Çalışan, aşağıdaki hususlarda mutabık kalmışlardır: <br />
        <strong>1.</strong>	Çalışan, genel ve özel nitelikli kişisel verilerinin; yasal, idari, yönetsel, insan kaynakları veya başka amaçlar çerçevesinde Şirket tarafından elde edileceğini ve saklanacağını, Şirket’in bağlı şirket ve iştirakleriyle ya da diğer üçüncü kişilerle (örneğin, Sosyal Güvenlik Kurumu, Gelir İdaresi Başkanlığı ve ilgili Vergi Daireleri, düzenleyici kuruluşlar, adli makamlar, iş ortakları, taşeronlar, bankalar) paylaşılabileceğini ve başka şekillerde işlenebileceğini anladığını beyan eder. Şirket, Çalışan’ın söz konusu kişisel verilerini, 6698 sayılı Kişisel Verilerin Korunması Kanunu başta olmak üzere kişisel verilerin korunmasını düzenleyen Türkiye Cumhuriyeti yasal mevzuatına (“KVK Mevzuatı”) uygun olarak işleyecektir.<br />
       <strong>2.</strong>	Şirket, herhangi bir üçüncü kişiye Çalışan’ın kişisel verilerine erişim yetkisi vereceği hallerde, uygun güvenlik düzeyini teminen gerekli önlemleri alacak, kişisel verilerin KVK Mevzuatı’na uygun işlenmesini sağlayacak ve verilerin gizliliğinin korunmasını temin edecektir. Her halde Şirket, Çalışan’ın kişisel verilerinin hukuka aykırı işlenmesini ve kişisel verilerine hukuka aykırı erişilmesini önlemek için uygun güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri almaya devam edecektir.<br />
       <strong>3.</strong>	Şirket, kendisine ait olan veya kendi tasarrufunda bulunan bilgi teknolojileri sistemleri, cihazlar, eşyalar ve/veya ofis alanları üzerinde KVK Mevzuatı’na uygun olarak gözetim faaliyetleri gerçekleştirebilecek, bu kapsamda örneğin telefon, internet, elektronik posta ve Şirket tarafından sağlanan diğer iletişim gereçlerinin kullanımını izlemek, gözden geçirmek veya bunların içeriklerine erişmek gibi faaliyetlerde bulunabilecektir. Bu bağlamda Şirket’in sistemleri, cihazları, eşyaları ve ofis alanlarının şahsi ve özel amaçlarla kullanılması yasak olup bunlar, Çalışan tarafından yalnızca işiyle ilişkili amaçlar çerçevesinde kullanılacaktır.<br />
        <strong>4.</strong>	Çalışan’ın kişisel verilerinin işlenmesi ve bu kapsamda sahip olduğu hakları ile Şirket’in gözetim faaliyetlerine ilişkin detaylı bilgiler Şirket’in iç ağında [●] adresinde bulunan aydınlatma beyanında yer almakta olup söz konusu beyan, değişikliklere istinaden Şirket tarafından zaman zaman güncellenebilecektir.<br />
        <strong>5.</strong>	Çalışan, görevinin bir parçası olarak Şirket’in diğer çalışanlarına, müşterilerine ve/veya başka kişilere ilişkin kişisel verileri işlemesi gerektiğinde;<br />
        <div style="margin-left:20px">
            <strong>(a)</strong>	Kişisel Verilerin Korunması Politikası, Kişisel Verilerin İşlenmesi Prosedürü ve Özel Nitelikli Kişisel Verilerin Korunması ve İşlenmesi Politikası dahil ancak bunlarla sınırlı olmaksızın kişisel verilerin korunmasına ve işlenmesine yönelik yürürlüğe konulmuş Şirket politika, prosedür ve diğer talimatları ile KVK Mevzuatı’na uygun hareket edecek;<br />
            <strong>(b)</strong>	Kişisel verileri, görevinin gerektirdiği ölçüde ve görev amacı ile sıkı sıkıya sınırlı olarak işleyecek, başka hiçbir amaç ve sebeple kullanmayacak, aktarmayacak veya başka şekilde işlemeyecek;<br />
            <strong>(c)</strong>	Kişisel verilerin güvenliğine ve gizliliğinin korunmasına ilişkin gerekli önlemleri alacak ve/veya alınmasını sağlayacak, bilhassa özel nitelikli kişisel verilerin güvenliğine ve gizliliğine ilişkin Kişisel Verileri Koruma Kurulu’nun kararları dâhil geçerli yasal mevzuatın tüm gereklerini yerine getirecektir.
        </div>
        <strong>6.</strong>	Kişisel verilerin korunmasına ve işlenmesine yönelik Şirket politika, prosedür ve diğer talimatlarına aykırı davranışlar, [●] dahil disiplin müeyyidelerine sebebiyet verebilecektir. Şirket’in yasal mevzuattan doğan diğer hakları saklıdır.<br />
    </div>

</div>
