@{
    ViewBag.Title = "Aydınlatma Metni";
}
<title>@ViewBag.Title</title>
<div class="row" data-selector="modalContainer">

    <div class="col-md-12">
        <strong>İşbu Gizlilik, Kişisel Verilerin Korunması Politikası ve İletişim İzni;</strong><br />
        ● INFOLINE Bilgi Teknolojileri Ticaret A.Ş. (“INFOLINE”)’nin ne tür kişisel veriler topladığını,<br />
        ● Bu kişisel verilerin nasıl kullanıldığını,<br />
        ● INFOLINE’ın kişisel verilerinizi kimlerle paylaşabileceğini,<br />
        ● INFOLINE’ın işlediği kişisel verileriniz üzerindeki haklarınızın neler olduğunu ve bu hakları nasıl kullanabileceğinizi,<br />
        ● Elektronik ticari ileti alma konusundaki olumlu veya olumsuz tercihlerinizi nasıl değiştirebileceğinizi açıklamaktadır.<br /><hr />
        <strong>İşlenen Kişisel Verileriniz ve Kişisel Veri İşleme Amacı ve Dayanağı</strong><br />
        INFOLINE, kişisel verilerin korunması amacıyla ve 5651 Sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ilgili ikincil mevzuat, 5237 Sayılı Türk Ceza Kanunu ve 6698 Sayılı Kişisel Verilerin Korunması Kanunu başta olmak üzere, ilgili mevzuattan kaynaklanan yasal yükümlülüğü ve hizmet standartları çerçevesinde; söz konusu amaç ve yasal yükümlülüklerin yerine getirilebilmesini, daha iyi hizmet verilebilmesini ,insan kaynakları ve istihdam politikalarının yönetimi ve istatistiki çalışmalar yapılabilmesini sağlayacak kişisel verilerinizi( ad, soyad, doğum tarihi, cep telefonu numarası, sabit telefon numarası, e-posta, cinsiyet, adres vb.. bilgiler de dahil ve fakat bunlarla sınırlı olmamak kaydıyla kişiyi doğrudan veya dolaylı olarak tanımlamaya yönelik her türlü kişisel bilgi) sizlerden talep etmektedir. INFOLINE’a verdiğiniz bu kişisel veriler, açık rızanıza istinaden, işbu Gizlilik,Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile bilgi güvenliği tedbirleri de alınarak işlenecek ve saklanacaktır.<br /><hr />
        <strong>Kişisel Verileriniz İle İlgili Haklarınız</strong><br />
        İşlenen kişisel verilerinizin neler olduğunu, işleme amacı doğrultusunda kullanılıp kullanılmadığını, yurt içi veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri öğrenmek, eksik veya yanlış işlenen kişisel verileriniz söz konusu ise veya işlenen kişisel verilerinizde herhangi bir değişiklik olması durumunda bu verilerinizi değiştirmek, güncellemek ve/veya silmek, bu durumun kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini talep etmek amacıyla, INFOLINE internet sitesinde bulunan başvuru formunu doldurarak, iadeli taahhütlü mektup ile Üniversiteler Mahallesi 1596.Cadde Teknokent Sitesi 6.ARGE C Blok Apartman No:6 C/68 Çankaya/ANKARA adresine veya kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da bize daha önce bildirdiğiniz ve kayıtlarımızda yer alan elektronik posta adresinizi kullanmak suretiyle Şirketimize teslim etmeniz gerekmektedir. Talebinizin mahiyetine ve başvuru yönteminize göre başvurunun size ait olup olmadığının belirlenmesi ve böylece haklarınızı koruyabilmek amacıyla INFOLINE tarafından ek doğrulamalar (kayıtlı telefonunuza mesaj gönderilmesi, aranmanız gibi) istenebilir. 6698 Sayılı Kişisel Verilerin Korunması Kanunu madde 11 uyarınca sahip olduğunuz diğer haklar saklıdır.
    </div>

</div>
