@model Infoline.WorkOfTime.BusinessAccess.VMCRM_ContactModel
@{
    ViewBag.Title = "Aktivite Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userStatus = (PageSecurity)Session["userStatus"];
}

<script type="text/x-kendo-template" id="templates">
    <a  data-href="" data-button="ApprovedButs" id="ApprovedButtons" data-method="GET" data-target="_blank" data-modal="false" class="k-button hidden"><i class="fa fa-info-circle" data-original-title="Detay"></i></a>
    <a class="k-button k-button-icontext k-grid-excel" href="\\#"><span class="k-icon k-i-excel"></span></a>
    <a class="k-button k-button-icontext k-grid-pdf" href="\\#"><span class="k-icon k-i-pdf"></span></a>
</script>
<script type="text/x-kendo-template" id="templateContactType">
    <a  data-href="" data-button="ApprovedButContactType" id="ApprovedButtonContactType" data-method="GET" data-target="_blank" data-modal="false" class="k-button hidden"><i class="fa fa-info-circle" data-original-title="Detay"></i></a>
    <a class="k-button k-button-icontext k-grid-excel" href="\\#"><span class="k-icon k-i-excel"></span></a>
    <a class="k-button k-button-icontext k-grid-pdf" href="\\#"><span class="k-icon k-i-pdf"></span></a>
</script>

<script type="text/javascript">
    var page = {
        setDataSourceForContactStatusReport: function (data) {
            $("#contactStatusDetail").kendoGrid({
                dataSource: data.Object.contactStatusReports,
                pageSize: 10,
                height: 475,
                sortable: true,
                toolbar: kendo.template($("#templates").html()),
                excel: {
                    title: "Aktivite Durum Raporu",
                    fileName: "Aktivite Durum Raporu.xlsx",
                    filterable: true
                },
                filterable: {
                    operators: {
                        string: {
                            contains: "İçeriyor",
                            eq: "Eşittir",
                            neq: "Eşit Değil",
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                change: function (e, resp) {
                    debugger;
                    $('#ApprovedButtons').removeClass('hidden')
                    var grid = $("#contactStatusDetail").data("kendoGrid");
                    var selectedItem = grid.dataItem(grid.select());
                    $('[data-button="ApprovedButs"]').show();
                    $('[data-button="ApprovedButs"]').attr('data-href', '/CRM/VWCRM_Contact/ContactReportDetail?createdby=' + selectedItem.createdBy + '&ContactStartDate=' + selectedItem.startDate + '&ContactEndDate=' + selectedItem.endDate + '');
                },
                columns: [
                    { field: "createdByTitle", title: "Oluşturan", width: 200 },
                    { field: "planned", title: "Planlanan", width: 110 },
                    { field: "happening", title: "Gerçekleşen", width: 125 },
                    { field: "canceled", title: "İptal Edilen", width: 125 },
                    { field: "unplannedHappening", title: "Plan Dışı Gerçekleşen", width: 125 },
                    { field: "Total", title: "Toplam", width: 125 },
                ],
            });

            var icon = $("#contactStatusDetail .k-i-excel");
            $("#contactStatusDetail .k-grid-excel").text("");
            $("#contactStatusDetail .k-grid-excel").append(icon);




            //$("#contactStatusDetail").kendoGrid({
            //    toolbar: kendo.template($("#templates").html()),
            //    excel: {
            //        fileName: "Aktivite Durum Raporu.xlsx",
            //        allPages: true,
            //        filterable: true
            //    },
            //    dataSource: {
            //        data: data.Object.contactStatusReports,
            //        pageSize: 10
            //    },
            //    height: 550,
            //    sortable: true,
            //    pageable: {
            //        refresh: true,
            //        pageSizes: true,
            //        buttonCount: 5
            //    },
            //    filterable: {
            //        operators: {
            //            string: {
            //                contains: "İçeriyor",
            //                eq: "Eşittir",
            //                neq: "Eşit Değil",
            //            }
            //        }
            //    },
            //    columnMenu: true,
            //    selectable: 'Single, Row',
            //    reorderable: true,
            //    resizable: true,
            //    change: function (e, resp) {
            //        debugger;
            //        $('#ApprovedButtons').removeClass('hidden')
            //        var grid = $("#contactStatusDetail").data("kendoGrid");
            //        var selectedItem = grid.dataItem(grid.select());
            //        $('[data-button="ApprovedButs"]').show();
            //        $('[data-button="ApprovedButs"]').attr('data-href', '/CRM/VWCRM_Contact/ContactReportDetail?createdby=' + selectedItem.createdBy + '&ContactStartDate=' + selectedItem.startDate + '&ContactEndDate=' + selectedItem.endDate + '');
            //    },
            //    columns: [
            //        { field: "createdByTitle", title: "Oluşturan", width: 200 },
            //        { field: "planned", title: "Planlanan", width: 110 },
            //        { field: "happening", title: "Gerçekleşen", width: 125 },
            //        { field: "canceled", title: "İptal Edilen", width: 125 },
            //        { field: "unplannedHappening", title: "Plan Dışı Gerçekleşen", width: 125 },
            //        { field: "Total", title: "Toplam", width: 125 },
            //    ],
            //});

            //var icon = $("#contactStatusDetail .k-i-excel");
            //$("#contactStatusDetail .k-grid-excel").text("");
            //$("#contactStatusDetail .k-grid-excel").append(icon);
        },

        setDataSourceForContactTypeReport: function (data) {

            $("#contactTypeDetail").kendoGrid({
                dataSource: data.Object.contactTypeReports,
                pageSize: 10,
                height: 475,
                sortable: true,
                toolbar: kendo.template($("#templateContactType").html()),
                excel: {
                    title: "Aktivite Tipi Raporu",
                    fileName: "Aktivite Tipi Raporu.xlsx",
                    filterable: true
                },
                filterable: {
                    operators: {
                        string: {
                            contains: "İçeriyor",
                            eq: "Eşittir",
                            neq: "Eşit Değil",
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    { field: "createdByTitleForContactType", title: "Oluşturan", width: 200 },
                    { field: "faceToFace", title: "Yüz - Yüze", width: 110 },
                    { field: "phone", title: "Telefon", width: 110 },
                    { field: "videoConferencing", title: "Video - Konferans", width: 135 },
                    { field: "written", title: "Yazılı", width: 125 },
                    { field: "food", title: "Yemek - Toplantı", width: 125 },
                    { field: "other", title: "Diğer", width: 125 },
                    { field: "Totals", title: "Toplam", width: 125 },
                ],
            });

            var icon = $("#contactTypeDetail .k-i-excel");
            $("#contactTypeDetail .k-grid-excel").text("");
            $("#contactTypeDetail .k-grid-excel").append(icon);


            //$("#contactTypeDetail").kendoGrid({
            //    toolbar: kendo.template($("#templateContactType").html()),
            //    excel: {
            //        fileName: "Aktivite Tipi Raporu.xlsx",
            //        allPages: true,
            //        filterable: true
            //    },
            //    dataSource: {
            //        data: data.Object.contactTypeReports,
            //        pageSize: 10
            //    },
            //    height: 550,
            //    sortable: true,
            //    pageable: true,
            //    filterable: true,
            //    columnMenu: true,
            //    selectable: 'Single, Row',
            //    reorderable: true,
            //    resizable: true,
            //    change: function (e, resp) {
           
            //    },
            //    columns: [
            //        { field: "createdByTitleForContactType", title: "Oluşturan", width: 200 },
            //        { field: "faceToFace", title: "Yüz - Yüze", width: 110 },
            //        { field: "phone", title: "Telefon", width: 110 },
            //        { field: "videoConferencing", title: "Video - Konferans", width: 135 },
            //        { field: "written", title: "Yazılı", width: 125 },
            //        { field: "food", title: "Yemek - Toplantı", width: 125 },
            //        { field: "other", title: "Diğer", width: 125 },
            //        { field: "Totals", title: "Toplam", width: 125 },
            //    ],
            //});

            //var icon = $("#contactTypeDetail .k-i-excel");
            //$("#contactTypeDetail .k-grid-excel").text("");
            //$("#contactTypeDetail .k-grid-excel").append(icon);
        },
        getPageContactReportRecord: function () {
            var start = $("#ContactStartDate").val();
            var end = $("#ContactEndDate").val();
            GetJsonDataFromUrl('/CRM/VWCRM_Contact/DataSourceContactReport', { ContactStartDate: start, ContactEndDate: end }, function (res) {
                page.setDataSourceForContactStatusReport(res);
                page.setDataSourceForContactTypeReport(res);
                $('body').loadingModal('destroy');

            });
        }
    }

    $(document)
     .on('ready', function () {
         setTimeout(function () {
             $('body').loadingModal({ text: 'Veriler Yükleniyor.Lütfen Bekleyiniz...', animation: 'rotatingPlane', backgroundColor: 'black' });
         }, 1500)
         page.getPageContactReportRecord();
         })
        .on("click", '#DashBoardFilters', function (e) {
            var start = $("#ContactStartDate").val();
            var end = $("#ContactEndDate").val();
            GetJsonDataFromUrl('/CRM/VWCRM_Contact/DataSourceContactReport', { ContactStartDate: start, ContactEndDate: end }, function (res) {

                page.setDataSourceForContactStatusReport(res);
                page.setDataSourceForContactTypeReport(res);

            });
        });
</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox ">
            <div class="ibox-content" style="border-bottom:1px #e7eaec solid;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @(
                                        Html.Akilli().
                                        DatePicker("ContactStartDate").
                                        Placeholder("Başlangıç Tarihi").
                                        Format(Extensions.DateFormatShort()).
                                        Value(DateTime.Now).
                                        //Min(DateTime.Now).
                                         //MaxDateElement("dueDate").
                                        Validate(Validations.Required)
                                    )
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @(
                                      Html.Akilli().
                                      DatePicker("ContactEndDate").
                                      Placeholder("Bitiş Tarihi").
                                      Format(Extensions.DateFormatShort()).
                                      Value(DateTime.Now).
                                      Validate(Validations.Required)
                                  )
                                </div>
                            </div>
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-md btn-block btn-success" type="submit" id="DashBoardFilters" style="line-height: 27px">Sorgula</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
























                @*<div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5><i class="fa fa-users"></i> Aktivite Durumu</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content ibox-content_image clearfix " style="height:240px; overflow-y:scroll;">
                                <div id="customerStatistics"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5><i class="fa fa-users"></i> Aktivite Tipi</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content ibox-content_image clearfix " style="height:240px; overflow-y:scroll;">
                                <div id="contactTypes"></div>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 15px;">
            <div class="ibox-title">
                <h4>Aktivite Durumu</h4>
            </div>
            <div class="ibox-content clearfix" style="min-height: 350px; max-height: 610px; overflow: auto; height: 610px; ">
                <div class="folder-list m-b-md" style="padding: 0; font-size: 14px;" id="contactStatusDetail">

                </div>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 15px;">
            <div class="ibox-title">
                <h4>Aktivite Tipi</h4>
            </div>
            <div class="ibox-content clearfix" style="min-height: 350px; max-height: 610px; overflow: auto; height: 610px; ">
                <div class="folder-list m-b-md" style="padding: 0; font-size: 14px;" id="contactTypeDetail">

                </div>
            </div>
        </div>

    </div>
</div>