    /*
    Flaticon icon font: Flaticon
    Creation date: 22/11/2019 10:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-golf:before { content: "\f100"; }
.flaticon-technician:before { content: "\f101"; }
.flaticon-lost:before { content: "\f102"; }
.flaticon-recycle:before { content: "\f103"; }
.flaticon-trash:before { content: "\f104"; }
.flaticon-trash-1:before { content: "\f105"; }
.flaticon-settings:before { content: "\f106"; }
.flaticon-staff:before { content: "\f107"; }
.flaticon-rent:before { content: "\f108"; }
.flaticon-planner:before { content: "\f109"; }
.flaticon-planner-1:before { content: "\f10a"; }
.flaticon-merge:before { content: "\f10b"; }
.flaticon-merge-1:before { content: "\f10c"; }
.flaticon-robot:before { content: "\f10d"; }
.flaticon-production:before { content: "\f10e"; }
.flaticon-product:before { content: "\f10f"; }
.flaticon-barcode:before { content: "\f110"; }
.flaticon-barcode-1:before { content: "\f111"; }
.flaticon-null:before { content: "\f112"; }
.flaticon-stock:before { content: "\f113"; }
.flaticon-stock-1:before { content: "\f114"; }
.flaticon-forklift:before { content: "\f115"; }
.flaticon-truck:before { content: "\f116"; }
.flaticon-inside:before { content: "\f117"; }
.flaticon-stock-2:before { content: "\f118"; }
.flaticon-truck-1:before { content: "\f119"; }
.flaticon-customer-support:before { content: "\f11a"; }
.flaticon-business-presentation:before { content: "\f11b"; }
.flaticon-project-management:before { content: "\f11c"; }
.flaticon-exchange:before { content: "\f11d"; }
.flaticon-bill:before { content: "\f11e"; }
.flaticon-invoice:before { content: "\f11f"; }
.flaticon-parcel:before { content: "\f120"; }
    
    $font-Flaticon-golf: "\f100";
    $font-Flaticon-technician: "\f101";
    $font-Flaticon-lost: "\f102";
    $font-Flaticon-recycle: "\f103";
    $font-Flaticon-trash: "\f104";
    $font-Flaticon-trash-1: "\f105";
    $font-Flaticon-settings: "\f106";
    $font-Flaticon-staff: "\f107";
    $font-Flaticon-rent: "\f108";
    $font-Flaticon-planner: "\f109";
    $font-Flaticon-planner-1: "\f10a";
    $font-Flaticon-merge: "\f10b";
    $font-Flaticon-merge-1: "\f10c";
    $font-Flaticon-robot: "\f10d";
    $font-Flaticon-production: "\f10e";
    $font-Flaticon-product: "\f10f";
    $font-Flaticon-barcode: "\f110";
    $font-Flaticon-barcode-1: "\f111";
    $font-Flaticon-null: "\f112";
    $font-Flaticon-stock: "\f113";
    $font-Flaticon-stock-1: "\f114";
    $font-Flaticon-forklift: "\f115";
    $font-Flaticon-truck: "\f116";
    $font-Flaticon-inside: "\f117";
    $font-Flaticon-stock-2: "\f118";
    $font-Flaticon-truck-1: "\f119";
    $font-Flaticon-customer-support: "\f11a";
    $font-Flaticon-business-presentation: "\f11b";
    $font-Flaticon-project-management: "\f11c";
    $font-Flaticon-exchange: "\f11d";
    $font-Flaticon-bill: "\f11e";
    $font-Flaticon-invoice: "\f11f";
    $font-Flaticon-parcel: "\f120";