@model Infoline.WorkOfTime.BusinessData.VWINV_CompanyPersonSalary
@{
    ViewBag.Title = "Personel Ücret Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IdStaff_Title">Personel Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Person_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="Salary">Ücret</label>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                @Html.Kendo().NumericTextBoxFor(model => model.Salary).HtmlAttributes(new Dictionary<string, object>()
                {
                    {"style", "width:100%"},
                    {"class", "text-right form-control"},
                    {"readonly", "readonly"}
                }).Step(1).Spinners(false)
                <span class="input-group-addon" id="Salary">₺</span>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
