<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DefaultTenant" value="1100" />
		<add key="gettingLogsTimeMiliseconds" value="600000" />
		<add key="tryConnectTimeMiliseconds" value="10000" />
		<add key="RemoteConnection" value="3BLcxtsnJdi4sRUdTHuZqkRPxfNlSq9moOE8lVXJQiy+cbrLOuvTXu0i/L+/H7glbCJJ1yzRUWukQEeOLeNwxerMI9EXJdvYks77WBvKXA0qD4/twfHcW8SVDhQj0mKkVAAw1aRcsUA652rIkGgKsEeAWp7ZcspBR8b2HR/tBpY=" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Service1Soap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://95.0.40.92:1076/Service1.asmx" binding="basicHttpBinding"
			 bindingConfiguration="Service1Soap" contract="LogoService.Service1Soap"
			 name="Service1Soap" />
		</client>
	</system.serviceModel>
</configuration>