
svg {
    width: 700px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

    svg #service1, svg #service2, svg #service3, svg #service4, svg #service5, svg #service6, svg #service7, svg #service8 {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -webkit-animation: appear 1s 1;
        animation: appear 1s 1;
        -webkit-animation-delay: 3.0s;
        animation-delay: 3.0s;
        -webkit-animation-timing-function: cubic-bezier(0.63, 0.09, 0.3, 1.43);
        animation-timing-function: cubic-bezier(0.63, 0.09, 0.3, 1.43);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    svg #service2 {
        -webkit-animation-delay: 3.3s;
        animation-delay: 3.3s;
    }

    svg #service3 {
        -webkit-animation-delay: 3.6s;
        animation-delay: 3.6s;
    }

    svg #service4 {
        -webkit-animation-delay: 3.9s;
        animation-delay: 3.9s;
    }

    svg #service5 {
        -webkit-animation-delay: 4.2s;
        animation-delay: 4.2s;
    }

    svg #service6 {
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s;
    }

    svg #service7 {
        -webkit-animation-delay: 4.8s;
        animation-delay: 4.8s;
    }

    svg #service8 {
        -webkit-animation-delay: 5.1s;
        animation-delay: 5.1s;
    }

/*Keyframes*/
@-webkit-keyframes appear {
    0% {
        -webkit-transform: scaleX(0) scaleY(0) translateY(0);
        transform: scaleX(0) scaleY(0) translateY(0);
    }

    70% {
        -webkit-transform: scaleX(0.7) scaleY(0.7) translateY(0);
        transform: scaleX(0.7) scaleY(0.7) translateY(0);
    }

    80% {
        -webkit-transform: scaleX(0.9) scaleY(0.5) translateY(5px);
        transform: scaleX(0.9) scaleY(0.5) translateY(5px);
    }

    100% {
        -webkit-transform: scaleX(1) scaleY(1) translateY(0);
        transform: scaleX(1) scaleY(1) translateY(0);
    }
}

@keyframes appear {
    0% {
        -webkit-transform: scaleX(0) scaleY(0) translateY(0);
        transform: scaleX(0) scaleY(0) translateY(0);
    }

    70% {
        -webkit-transform: scaleX(0.7) scaleY(0.7) translateY(0);
        transform: scaleX(0.7) scaleY(0.7) translateY(0);
    }

    80% {
        -webkit-transform: scaleX(0.9) scaleY(0.5) translateY(5px);
        transform: scaleX(0.9) scaleY(0.5) translateY(5px);
    }

    100% {
        -webkit-transform: scaleX(1) scaleY(1) translateY(0);
        transform: scaleX(1) scaleY(1) translateY(0);
    }
}
