
@media screen and (max-width: 1500px) {
    .hide-on-medium {
        display: none;
    }

    .when-hide-on-medium {
        margin: auto;
        width: 100%;
        padding: 20px;
        font-size: 4vw;
    }
   

}

@media only screen and (max-width:1400px){
    .k-scheduler-toolbar .k-link, .k-scheduler-footer .k-link {
        font-size: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }
}


@media screen and (max-height:2500px){
    .hide-on-medium{
        white-space:inherit;
        font-size:1vw!important;
    }
    .when-hide-on-medium {
        white-space: inherit;
        font-size: 3vw !important;
    }
    .style1 {
        min-height: 242px;
    }
    .button-color{
        font-size:2vw;
        height:200px;
    }
}
@media screen and (max-height:1080px) {
    .hide-on-medium {
        white-space: inherit;
        font-size: 0.7vw !important;
    }

    .when-hide-on-medium {
        white-space: inherit;
        font-size: 1vw !important;
    }
    .button-color {
        font-size: 0.6vw;
        height: 100px;
    }
}
.button-color{
    white-space:inherit;
    width:100%!important;
    text-align:center;
}
@media screen and (min-width:769px){
    .button-color {
        font-size: 0.75vw !important;
    }
    .button-color i{
        font-size:2vw!important;
    }
    .style1 {
        min-height: 12.5vh !important;
    }
}
@media screen and (max-width:831px){
    .button-color {
        font-size: 13px !important;
    }

        .button-color i {
            font-size: 4vw !important;
            float: left;
        }

        .button-color button {
            text-align: right;
        }
}
@media screen and (max-width:1023px) {
    .button-color {
        font-size: 1vw !important;
    }

        .button-color i {
            font-size: 2vw !important;
            float: left;
        }

        .button-color button {
            text-align: right;
        }
}
@media screen and (max-width:768px) {
    .hide-on-medium {
        display: unset;
    }
  
    .wet-sign {
        font-size: 14px !important;
    }
    .button-color {
        font-size: 13px!important;
    }
        .button-color i {
            font-size: 4vw !important;
            float: left;
        }

        .button-color button {
            text-align: right;
        }
}

.eventtemplate img {
    float: left;
    margin: 0 8px;
}

.eventtemplate p {
    margin: 5px 0 0;
}

.eventtemplate h3 {
    padding: 0 8px 5px;
    font-size: 12px;
}

.eventtemplate a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

    .k-state-hover .eventtemplate a,
    .eventtemplate a:hover {
        color: #000000;
    }

canvas {
    background: radial-gradient(circle at center, rgba(0,0,0,0) 0, rgba(0,0,0,0) 35%, rgb(248, 172, 89) 37%, rgb(248, 172, 89) 60%, rgb(248, 172, 89) 64%, rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%);
}

.wrapper-content {
    margin-bottom: 0px !important;
}

.k-chart {
    width: 100px;
    height: 100px;
}


    .button-color i {
        font-size: 2.5vw;
        float: left;
    }

    .button-color button {
        text-align: right;
    }

.status-box {
    cursor: pointer;
   
}


.fa-5x {
    font-size:6rem !important;
}
.icon-center{
    top:16px;
}

.button-color  > span {
    margin-top: 7px;
    display: inline-block;
}