.skin-1.navbar-minimalize {
    background: #0e9aef !important;
    border-color: #0e9aef !important;
    position: absolute !important;
    z-index: 99999 !important;
}


.breadcrumb li:nth-child(1), .breadcrumb li:nth-child(1) > a {
    display: none !important;
}

.breadcrumb li:nth-child(2) {
    font-size: 20px !important;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: none;
}

#bread {
    text-align: center;
}


.easypiechart canvas {
    top: 0;
    left: 0;
    position: absolute;
}

.card-container .card .front .fa-stack .fa-stack-2x {
    font-size: 3.4em;
    left: 6px;
    top: 0px;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 100%;
    text-align: center;
    font-size: 33px;
}

.product-price2 {
    font-size: 17px;
    top: 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    right: 0;
}

.panel-body.bodyList {
    height: 330px;
    overflow-y: scroll;
}



.ibox-content.gozlemNoktalari {
    height: 380px !important;
    overflow-y: scroll;
}

.no-borders.StationLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.no-borders.StationLink > a {
    color: #676a6c;
}

.veriYok {
    color: #ed5565 !important;
    font-size: 15px;
    padding-top: 60px !important;
    padding-left: 25% !important;
}

td > strong {
    right: 5px !important;
}


.gozlemNoktalari {
    height: 380px !important;
    overflow-y: scroll !important;
    padding-left: 5%;
    padding-right: 5%;
}

ul.google-visualization-tooltip-item-list > li:first-child {
    display: none;
}

.geoCaption {
    color: #ed5565;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.geoTable > thead > tr > th, .geoTable > tbody > tr > td {
    text-align: center;
    width: 120px;
}

.geoTable > thead * {
    font-weight: normal;
}

.geoTable > tbody * {
    font-weight: bold;
    font-size: 15px;
}

.deger {
    font-size: 70px;
    text-align: center;
    display: block;
    font-weight: bold;
}

    .deger.r1 {
        color: #E80363;
    }

    .deger.r2 {
        color: #00B2B2;
    }

.cTitle {
    font-size: 16px;
    text-align: center;
}

.bgw {
    background-color: #fff;
}

.underline {
    font-weight: bold !important;
    color: #000;
    font-size: 12px;
    margin-left: 5px;
    color: #ee0000;
}

.cerceve {
    background-color: #49d07c;
    color: #fff;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 125px;
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 10px 0px #fff;
}

tfoot > tr:last-child {
    height: 35px;
}

.padding-left-20 {
    padding-left: 20px;
}

.lampClass {
    position: absolute;
    top: 5px;
    right: 10px;
}

.timeline-item .date {
    width: 90px;
}

.contact-box {
    border: 1px solid #b9b9b9;
    padding: 10px;
    margin-bottom: 15px;
}

.ibox-content.myCity {
    height: 265px !important;
    overflow-y: scroll;
}

.myCity {
    height: 265px !important;
    overflow-y: scroll !important;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 480px) {
    .product-price2 {
        top: -36px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 990px) {
    .product-price2 {
        top: -36px;
    }

    .product-name {
        font-size: 14px;
    }

    .product-box {
        height: 245px;
    }
}

@media screen and (max-width: 11990px) and (min-width: 1199px) {
    strong {
        font-size: 14px;
    }
}



.flot-x-axis.flot-x1-axis.xAxis.x1Axis > div {
    transform: rotate(-50deg);
}

.agile-list li {
    background: #fefefc;
}

    .agile-list li.warning-elementTrue {
        border-left: 3px solid #02af3f;
    }

    .agile-list li.warning-elementFalse {
        border-left: 3px solid #ff6666;
    }

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background: #ffffff;
    height: 3px;
}

::-webkit-scrollbar-track-piece {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    padding-right: 2px;
}

h4 {
    margin: 5px 0 !important;
}

#GeoChart > div {
    top: -160px;
}

#myBtn {
    right: 15px !important;
    left: auto !important;
}
