
.animation {
    animation-duration: 0.7s;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        top: -10%;
    }

    100% {
        top: 50%;
    }
}

.navbar-brand img {
    margin-top: 0px !important;
}

.dropdown-menu {
    box-shadow: none !important;
}

    .dropdown-menu a:hover {
        background: transparent !important;
        color: #1ab394 !important;
    }

.navbar-brand {
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.6) !important;
    padding: 15px;
    margin-top: 0px !important;
}

.img-responsive {
    margin: 61px 0px 0px -8px;
}

.slider-size {
    font-size: 16px;
    font-weight: bold;
}

.baslik {
    color: red;
    font-weight: bold !important;
    font-size: 26px !important;
    padding-top: 4%;
}

.pixels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 750px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
}

.onay {
    width: 150px;
    position: absolute;
    top: -23%;
    left: 39%;
    transform: translate(-50%, -50%);
    animation-iteration-count: 5;
}

.elemContainer {
    position: relative;
    padding: 0px 10px;
    width: 100%;
    height: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
