.close-label {
    background: transparent url("../img/sw2.png") repeat scroll 101% 0%;
}

.open-label {
    background: transparent url("../img/sw2.png") repeat scroll 0% 0%;
}

.col-sm-x {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.elem {
    /*display: inline-block;
    float: left;
    margin-right: 8px;*/
    background-color: #FFFFFF;
    /*border-radius: 5px;*/
    /*cursor: default;*/
    /*min-width: 117px;*/
    min-height: 112px;
    /*border: 1px solid rgba(128, 128, 128, 0.21);*/
    /*margin-left: 4px;*/
    /*width: 30%;*/
    /*margin-bottom: 3px;*/
    /*box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.21);*/
}

    .elem .elemBaslik {
        text-align: center;
        /* font-size: 13px; */
        color: #073a67;
        font-weight: bold;
        display: none;
    }

    .elem .elemIcon {
        text-align: center;
    }

        .elem .elemIcon .icon {
            font-size: 40px;
            color: #ED9A41;
        }

        .elem .elemIcon [class^="Icons-"]:before {
            color: #53c9ee;
            font-size: 52px;
        }

        .elem .elemIcon [class^="Icons-"]:before {
            color: #A4D789;
            transition: all 0.4s ease;
        }

        .elem .elemIcon [class^="Icons-"]:before {
            color: #CD4248;
            transition: all 0.4s ease;
        }

        .elem .elemIcon [class^="Icons-"]:before {
            color: #dcdcdc;
            color: -moz-linear-gradient(top, #dcdcdc 0%, #a4a3a3 100%);
            color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#a4a3a3));
            color: -webkit-linear-gradient(top, #dcdcdc 0%,#a4a3a3 100%);
            color: -o-linear-gradient(top, #dcdcdc 0%,#a4a3a3 100%);
            color: -ms-linear-gradient(top, #dcdcdc 0%,#a4a3a3 100%);
            color: linear-gradient(to bottom, #dcdcdc 0%,#a4a3a3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#a4a3a3',GradientType=0 );
            transition: all 0.4s ease;
        }

    .elem.acik .elemIcon > i:before {
        color: #A4D789;
        transition: all 0.4s ease;
    }

    .elem.default .elemIcon .icon {
        color: #666;
    }

    .elem.kapali .elemIcon > i:before {
        color: #CD4248;
        transition: all 0.4s ease;
    }

    .elem .elemStatusText {
        margin: 4px 0px 7px 0px;
        text-align: center;
    }

        .elem .elemStatusText > i {
            display: block;
            text-align: center;
            font-size: 12px;
            font-style: normal;
        }

    .elem.kapali .elemStatusText > i:after {
        content: "KAPALI";
        color: #CA4548;
        transition: all 0.4s ease;
        display: inline-block;
        width: 36px;
    }

    .elem.kapali .elemStatusText > i:before {
        content: "";
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #ca4144;
        border: 1px solid rgba(158, 35, 37, 0.27);
        margin-right: 6px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 5px 0px rgba(255, 83, 87, 0.47);
    }

    .elem.pasif .elemStatusText > i:after {
        content: "PASIF";
        color: #CA4548;
        transition: all 0.4s ease;
        display: inline-block;
        width: 36px;
    }

    .elem.pasif .elemStatusText > i:before {
        content: "";
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #ca4144;
        border: 1px solid rgba(158, 35, 37, 0.27);
        margin-right: 6px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 5px 0px rgba(255, 83, 87, 0.47);
    }

    .elem .elemStatusText > i:before {
        content: "";
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #ED9A41;
        border: rgba(249, 129, 0, 0.42);
        margin-right: 6px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 5px 0px rgba(249, 129, 0, 0.42);
    }

    .elem .elemStatusText > i:after {
        content: "BEKLENİYOR";
        color: #ED9A41;
        transition: all 0.4s ease;
        display: inline-block;
        /*width: 80px;*/
    }

    .elem.acik .elemStatusText > i:after {
        content: "AÇIK";
        color: #92BA43;
        transition: all 0.4s ease;
        display: inline-block;
        /*width: 80px;*/
    }

    .elem.acik .elemStatusText > i:before {
        content: "";
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #c3e285;
        border: 1px solid rgba(129, 173, 41, 0.25);
        margin-right: 6px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 5px 0px rgba(129, 173, 41, 0.47);
    }





    .elem.aktif .elemStatusText > i:after {
        content: "AKTIF";
        color: #92BA43;
        transition: all 0.4s ease;
        display: inline-block;
        width: 80px;
    }

    .elem.aktif .elemStatusText > i:before {
        content: "";
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #c3e285;
        border: 1px solid rgba(129, 173, 41, 0.25);
        margin-right: 6px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 5px 0px rgba(129, 173, 41, 0.47);
    }

    .elem .elemToggle {
        width: 103px;
        height: 31px;
        overflow: hidden;
        position: relative;
        margin: 2px auto 2px;
        background: rgba(239, 239, 239, 0.5);
        border: 1px solid rgba(227, 223, 223, 0.39);
        display: block;
        border-radius: 24px;
        overflow: hidden;
    }

    .elem.kapali .elemToggle > label {
        background-position-x: 0px;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .elem .elemToggle > label {
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        background: url('../img/sw2.png');
        background-position-x: -74px;
        width: 100%;
        height: 100%;
        display: inline-block;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 24px;
        cursor: pointer;
        background-size: 173px 27px;
    }

    .elem .elemToggle > input {
        display: none;
    }

.komut {
    padding: 17px;
    transition: 1s all ease;
    cursor: pointer;
    text-align: center;
    color: #6084A5;
    font-weight: bold;
    font-size: 13px;
}

    .komut .komutIcon:before {
        font-size: 45px;
        color: #245580;
    }

.col-sm-x {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-x {
        float: left;
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-sm-x {
        float: left;
        width: 12.5%;
    }
}

.mavi {
    background-color: #22beef;
    height: 101px;
}

.sari {
    background-color: #ffc100;
    height: 101px;
}

.kartIcon > i.fa {
    color: rgba(0, 0, 0, 0.15);
    font-size: 80px;
    position: relative;
}

    .kartIcon > i.fa > .livicon {
        position: absolute;
        top: -10px;
        left: 15px;
    }

.kartText {
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    margin-top: 15px;
    white-space: nowrap;
}

    .kartText .counter {
        color: #fff;
    }

    .kartText > .tekSatir {
        font-weight: bold;
        font-size: 24px;
        margin-top: 8px;
        display: inline-block;
    }

/*Uzaktan kontrol için olan bölüm bitti*/



.elem .elemStatusText-Durum {
    margin: 20px 0px 0px 0px;
}

    .elem .elemStatusText-Durum > i {
        display: block;
        text-align: center;
        font-size: 12px;
        font-style: normal;
    }

.elem.kapali .elemStatusText-Durum > i:after {
    content: "PASİF";
    color: #CA4548;
    transition: all 0.4s ease;
    display: inline-block;
    width: 36px;
}

.elem.kapali .elemStatusText-Durum > i:before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ca4144;
    border: 1px solid rgba(158, 35, 37, 0.27);
    margin-right: 6px;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 5px 0px rgba(255, 83, 87, 0.47);
}

.elem.pasif .elemStatusText-Durum > i:after {
    content: "PASIF";
    color: #CA4548;
    transition: all 0.4s ease;
    display: inline-block;
    width: 36px;
}

.elem.pasif .elemStatusText-Durum > i:before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ca4144;
    border: 1px solid rgba(158, 35, 37, 0.27);
    margin-right: 6px;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 5px 0px rgba(255, 83, 87, 0.47);
}

.elem.acik .elemStatusText-Durum > i:after {
    content: "AKTIF";
    color: #92BA43;
    transition: all 0.4s ease;
    display: inline-block;
    width: 36px;
}

.elem.acik .elemStatusText-Durum > i:before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c3e285;
    border: 1px solid rgba(129, 173, 41, 0.25);
    margin-right: 6px;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 5px 0px rgba(129, 173, 41, 0.47);
}

.elem.aktif .elemStatusText-Durum > i:after {
    content: "AKTIF";
    color: #92BA43;
    transition: all 0.4s ease;
    display: inline-block;
    width: 36px;
}

.elem.aktif .elemStatusText-Durum > i:before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c3e285;
    border: 1px solid rgba(129, 173, 41, 0.25);
    margin-right: 6px;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 5px 0px rgba(129, 173, 41, 0.47);
}










/*///////////////////////////////////*/



.controlKapsul {
    text-align: center;
    min-height: 120px;
}

    .controlKapsul .icon {
        font-size: 50px;
        color: #ED9A41;
    }

    .controlKapsul > a {
        text-decoration: none !important;
    }

    .controlKapsul.aktif .icon {
        color: #00BB1D;
    }

    .controlKapsul.pasif .icon {
        color: #FF3232;
    }

    .controlKapsul .text {
        color: #222222;
    }

    .controlKapsul:hover .text {
        font-weight: bold;
    }

    .controlKapsul .commands > .btn:first-child {
        border-radius: 5px 0px 0px 5px !important;
    }

    .controlKapsul .commands > .btn:last-child {
        border-radius: 0px 5px 5px 0px !important;
    }

    .controlKapsul .commands > .btn.btn-default {
        border-radius: 5px !important;
    }

.cpoint {
    cursor: pointer;
}

.flash {
    position: fixed;
    top: 0;
    left: 15%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
}

.ZoomSeviye {
    display: inline-block;
    float: left;
    height: 135px;
    padding-top: 35px;
}

.zoomslider {
    display: inline-block;
    color: #fff;
}

.camera {
    display: inline-block;
    float: left;
    background-image: url('/Content/Custom/img/arrow_camera.png');
    position: relative;
    width: 99px;
    height: 99px;
    margin-right: 10px;
    background-size: 99px 99px;
    margin-top: 15%;
}

    .camera .cameraCenter {
        cursor: pointer;
        width: 50px;
        height: 50px;
        z-index: 2;
        display: inline-block;
        top: 22px;
        left: 26px;
        position: absolute;
        background-color: #fefefe;
        opacity: 0;
        border-radius: 100%;
    }

        .camera .cameraCenter:hover {
            opacity: 0.4;
        }

    .camera .top {
        cursor: pointer;
        background-image: url('/Content/Custom/img/arrow_up_normal.png');
        width: 30px;
        height: 20px;
        position: absolute;
        left: 35px;
        top: 7px;
        background-size: 30px 20px;
        background-repeat: no-repeat;
    }

        .camera .top:hover {
            background-image: url('/Content/Custom/img/arrow_up_active.png');
        }

    .camera .bottom {
        cursor: pointer;
        background-image: url('/Content/Custom/img/arrow_down_normal.png');
        width: 30px;
        height: 20px;
        position: absolute;
        left: 35px;
        bottom: 11px;
        background-size: 30px 20px;
        background-repeat: no-repeat;
    }

        .camera .bottom:hover {
            background-image: url('/Content/Custom/img/arrow_down_active.png');
        }

    .camera .left {
        cursor: pointer;
        background-image: url('/Content/Custom/img/arrow_left_normal.png');
        width: 14px;
        height: 29px;
        position: absolute;
        left: 10px;
        bottom: 37px;
        background-size: 14px 29px;
        background-repeat: no-repeat;
    }

        .camera .left:hover {
            background-image: url('/Content/Custom/img/arrow_left_active.png');
        }

    .camera .right {
        cursor: pointer;
        background: url('/Content/Custom/img/arrow_right_normal.png') no-repeat 100% 100%;
        right: 10px;
        width: 14px;
        height: 29px;
        position: absolute;
        bottom: 37px;
        background-size: 14px 29px;
        background-repeat: no-repeat;
    }

        .camera .right:hover {
            background-image: url('/Content/Custom/img/arrow_right_active.png');
        }

.gobek {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.solMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    height: 100%;
}

.controlContainer {
    position: absolute;
    right: 17px;
    bottom: 5px;
}


.altMenu {
    position: absolute;
    bottom: 10px;
    left: 30px;
}


.elem:not(.acik):not(.kapali) .elemToggle {
    opacity: 0.2;
}

.elem:not(.acik):not(.kapali) .elemStatusText > i:after {
    animation: 2s waiting 600;
}

@-webkit-keyframes waiting {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes waiting {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes waiting {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes waiting {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.cambutonlar {
    background-color: #DEDEDE;
    padding: 5px;
}

.agentInfo {
    font-size: 12px;
    font-weight: bold;
    margin-top: 9px;
    display: inline-block;
}


/*.tooltip-inner {
    background-color: #FFF;
    color: #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #FFF;
}*/

.usel, .usel * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.olcum > * {
    display: inline-block;
    float: left;
}

.olcum > .icon {
    font-size: 65px;
    height: 90px;
    width: 22%;
    color: #FF3D3D;
}

.olcum {
    margin-bottom: 10px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 0px 6px;
}

    .olcum > .deger {
        width: 78%;
        text-align: center;
    }

        .olcum > .deger > * {
            display: block;
        }

        .olcum > .deger > .text {
            font-size: 14px;
            color: #666666;
        }

        .olcum > .deger > .deger {
            padding-top: 10px;
            font-size: 25px;
        }

            .olcum > .deger > .deger > span:first-child {
                font-size: 45px;
                line-height: 45px;
                margin-right: 10px;
            }

.btn-info-custom-Container {
    border: 1px solid #DEDEDE;
    padding: 3px;
    border-radius: 20px !important;
    background-color: #F6F6F1;
}

.btn-info-custom {
    border-radius: 20px !important;
    border: 1px solid #DEDEDE;
    height: 23px;
    line-height: 8px;
    color: #0E7088;
    font-weight: bold;
}

.btn-info-custom-Container a {
    font-size: 11px;
}

.elem .elemStatusText, .elem .elemStatusText * {
    font-size: 11px !important;
}


.restart {
    cursor: pointer !important;
}

.restart-button {
    height: 57px;
    width: 60px;
    background-color: #C5454A;
    border: 7px solid rgba(249, 245, 245, 0.35);
    border-radius: 65px;
    margin: 10px auto;
    line-height: 4;
    color: white;
    transition: all 0.4s ease;
    font-size: 11px;
}

    .restart-button:hover {
        background-color: #712326;
        border: 7px solid rgba(249, 245, 245, 0.35);
        color: white;
        transition: all 0.4s ease;
    }

    .restart-button:before {
        content: 'Restart';
    }

.elemIcon .fa {
    padding-top: 18px !important;
    font-size: 48px !important;
    padding-bottom: 3px !important;
}
