@font-face {
    font-family: 'WebComponentsIcons';
    src: url('/Content/Kendo/css/fonts/glyphs/WebComponentsIcons.eot') format('embedded-opentype'), url('/Content/Kendo/css/fonts/glyphs/WebComponentsIcons.woff') format('woff'), url('/Content/Kendo/css/fonts/glyphs/WebComponentsIcons.ttf') format('truetype');
}


.k-pdf-export .k-filter-row {
    display: none;
}

.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap {
    display: none;
}

.k-pdf-export .k-grid-filter {
    display: none;
}


.k-picker-wrap .k-icon {
    background-image: url(/Content/Kendo/css/MaterialBlack/sprite.png) !important;
    border-color: transparent;
}


.minimalize-styl-1 {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
}

.nav-tabs > li > a {
    padding: 10px !important;
}


.navbar-default .sidebar-collapse {
    padding-bottom: 60px;
}


a#selectLanguage, .dropdown-menu a {
    color: rgb(103, 106, 108) !important;
}

.k-grid-header .k-header .k-link, .k-grid-header .k-header, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-header, .k-scheduler-agendaview .k-scheduler-datecolumn {
    color: #3e3e3e !important;
}


.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: #3e3e3e !important;
}


/*.k-chart {
    background: no-repeat center url(/Content/Custom/img/turkey.png) !important;
}*/

.wrapper-content {
    padding: 15px 0px 10px !important;
}

.widget {
    border-radius: 10px !important;
    padding: 10px 20px;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}


.ibox-title {
    border-width: 0 0 0 0 !important;
}

form {
    padding: 30px;
    background: #fff;
}

.panel-content form {
    padding: 0px !important;
}

.help-block {
    margin: 0 !important;
}

    .help-block ul {
        padding: 10px 0;
        margin: 0 !important;
    }

.modal-body form {
    padding: 0px !important;
}

.buttons:after {
    clear: both;
}


.k-grid-excel, .k-grid-pdf {
    float: right;
}

.checkbox-inline {
    padding: 5px 0 0 20px !important;
}

/*.k-radio-label {
    margin-top: -10px !important;
    top:5px;
}*/

.k-radio:checked + .k-radio-label:after {
    background-color: #1c84c6;
}

.k-radio-label {
    background-color: #1c84c6;
    border-radius: 50%;
    margin-bottom: 5px !important;
}

    .k-radio-label:hover {
        background-color: #1c84c6;
        font-size: 25px !important;
    }

    .k-radio-label:active {
        box-shadow: none !important;
    }

    .k-radio-label:before {
        width: 20px !important;
        height: 20px !important;
        border: 3px solid #1c84c6;
    }

.k-radio:checked + .k-radio-label:after {
    width: 12px !important;
    height: 12px !important;
}

.form-control {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    padding: 20px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background: #fff !important;
    border: 1px #ccc solid;
    /*--------Mozilla da padding sıkıntısı var üst taraf karışmasın diye alttakiler eklendi------*/
    /*padding: 0px 10px !important;
    height: 40px;*/
}


select.form-control {
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding: 0 15px !important;
}

/*select.form-control option {
        height: 20px !important;
        line-height: 20px !important;
    }*/

.k-datepicker input, .k-datetimepicker input {
    cursor: default !important;
}


.form-control.k-widget {
    height: auto !important;
    width: 100%;
    border: 1px #ccd solid !important;
}

    .form-control.k-widget input {
        border: none;
    }

.form-control .k-dropdown-wrap, .form-control .k-picker-wrap, .form-control .k-multiselect-wrap {
    border: 0 !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    padding: 3px 0 !important;
}

.form-control .k-state-default {
    background: #fff !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    padding: 3px 0 !important;
}

.form-control:focus {
    border: 1px solid #3fb206;
}



.k-widget.k-colorpicker {
    width: 100%;
    border-radius: 0 !important;
}

.k-colorpicker .k-select {
    display: none !important;
}

.k-widget.k-colorpicker .k-picker-wrap {
    padding: 8px 10px 10px 10px;
    height: 22px;
}

    .k-widget.k-colorpicker .k-picker-wrap .k-selected-color {
        height: 18px;
        cursor: pointer;
        width: calc(100%);
    }

    .k-widget.k-colorpicker .k-picker-wrap.k-state-border-down {
        border-bottom-width: 1px;
    }

.form-control.k-textbox {
    padding: 20px 2px !important;
    font-family: 'Roboto', sans-serif;
    border: 1px #ccc solid;
}


input[data-toggle="ImageInput"] {
    background-repeat: no-repeat !important;
    background-position: center right !important;
    background-position-x: 8px !important;
    background-size: 30px 30px !important;
}


ul.ImageInputList {
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px #ccc solid;
    padding: 0 !important;
}

    ul.ImageInputList li {
        width: 38px;
        height: 38px;
        margin: 5px;
        float: left;
        list-style: none;
        border: 1px #ccc solid;
        cursor: pointer;
    }

        ul.ImageInputList li:hover {
            background: #ccc;
        }

        ul.ImageInputList li img {
            width: 34px;
            heighT: 34px;
            margin: 2px;
        }

/*.control-label {
    padding: 10px 0 !important;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
}

.list-unstyled {
    font-size: 13px !important;
}

.buttons {
    padding: 30px 0;
}

.bootstrap-dialog.type-info .modal-header {
    background-color: #3343a4 !important;
}

.nav.nav-tabs .active a, .nav.nav-tabs li a:active, .nav.nav-tabs li a:focus {
    background: #fff;
    border-bottom-color: #fff;
}

.tab-content {
    background: #fff;
    border: 1px #e7eaec solid !important;
    border-top: none !important;
}




@import url(http://fonts.googleapis.com/css?family=Rambla:400,400italic,700,700italic);

.widget-container {
    margin: 0 auto 30px auto;
    width: 100%;
    border-radius: 4px;
    font: 14px/22px "Rambla", Arial, sans-serif;
    color: #4a5a67;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 365px !important;
    overflow: hidden;
}

.widget-content {
    width: 100%;
    background: #e8eaec;
    display: block;
}

.widget-container.clearfix .widget-content {
    float: right;
    width: 40%;
}



.widget-container .widget-title i {
    font-size: 45px;
    float: left;
    margin-right: 15px;
    line-height: 92px;
}

.widget-container a:hover {
    text-decoration: none;
}

.widget-container hr {
    margin: 0px !important;
    border: 0px !important;
}


.widget-title, .widget-body, .votes {
    padding: 0 18px;
}

.widget-title {
    background: #1483c6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: white;
    height: 92px;
    overflow: hidden;
    position: relative;
}

    .widget-title a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .widget-title span {
        display: block;
        padding-left: 78px;
        position: absolute;
        padding-right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

.widget-body {
    padding-top: 20px;
    color: #4a5a67;
    /*background-color: #FFFFD8;*/
}

    .widget-body .name1 {
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
    }

    .widget-body .name2 {
        padding-top: 5px;
        font-size: 18px;
        height: 54px;
        overflow: hidden;
    }

    .widget-body .prep-time, .widget-body .calories {
        color: #b14026;
    }

    .widget-body .prep-time {
        padding-top: 20px;
    }


    .widget-body .calories {
        padding-top: 5px;
    }


.widget-footer {
    color: #ec6744;
    padding: 20px;
    padding-top: 0px;
}

    .widget-footer .rating {
        font-size: 28px;
        font-weight: bold;
    }

    .widget-footer img {
        position: absolute;
        bottom: 29px;
        right: 39px;
    }

    .widget-footer i {
        float: left;
        font-size: 40px;
        margin-right: 15px;
    }

.table > thead > tr > th {
    padding: 14px 8px !important;
}

.table {
    border-top: 1px #ddd solid;
}


form fieldset {
    border: 1px #cfcfcf solid !important;
    padding: 0px 25px 5px 25px !important;
    margin: 0 0 20px 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 0px;
}




    form fieldset legend {
        font-size: 16px !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        color: #000;
        margin-left: 15px;
        margin-bottom: 15px !important;
    }

.mb0 {
    margin-bottom: 0px !important;
}

.landing-page .container {
    overflow: inherit;
}


.input-group-addon {
    padding: 2px;
    background-color: #1ab394;
    color: white;
    min-width: 40px;
    text-align: center;
}

    .input-group-addon > .btn {
        display: inline;
        color: #4b341b;
    }

.k-widget .k-picker-wrap .k-select {
    background-color: #1ab394;
}

.input-group-addon {
    font-weight: bold;
    font-size: 12px;
}



/**RadioButtonlar için*/


.akilliRadioGrup {
    padding-top: 0px !important;
}

    .akilliRadioGrup > input {
        display: none;
    }

    .akilliRadioGrup > label {
        border: 1px solid #ccc;
        padding: 7px 6px 7px 6px;
        margin: 0px -1px 0px 0px;
        float: left;
        cursor: pointer;
    }

    .akilliRadioGrup > input:checked + label {
        background-color: #1ab394;
        color: #fff;
    }

.qrCodeWrapper {
    border: 1px solid #cfcfcf;
    padding: 5px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.qrcode-wrapper {
    border: 1px solid rgba(128, 128, 128, 0.22);
    padding-bottom: 14px;
}

.qrcode-wrapperNew {
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 5;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.22);
    padding-bottom: 10px;
    width: 142px;
}

.qrcode-options-button {
    padding-left: 11px;
    padding-right: 11px;
}

    .qrcode-options-button i.fa-print:after {
        content: " Yazdır";
    }

    .qrcode-options-button i.fa-download:after {
        content: " İndir";
    }


.req:after {
    content: "*";
    margin-left: 5px;
    color: #f00;
}

.usel {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}






#DemirbasDiag, #StationDiag, #arizali-istasyonlar {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    #DemirbasDiag::before, #StationDiag::before, #arizali-istasyonlar::before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #f1f1f1;
    }

.k-numeric-wrap .k-formatted-value {
    text-align: right;
}



.lng-wrapper {
    position: absolute;
    width: 92.8%;
    height: 100%;
    top: 0px;
}

    .lng-wrapper .lng {
        width: 50px;
        height: 50px;
        background-color: #c4c4c4;
        margin: 0 auto 30px;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
        animation: sk-rotatePlane 1.2s infinite ease-in-out;
        margin-top: 28%;
    }

    .lng-wrapper .lng-text {
        color: black;
    }



.sweet-alert fieldset {
    border: 0 !important;
}

.border-gray {
    border: 1px solid rgba(128, 128, 128, 0.29);
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 290px;
    z-index: 99;
    border: 2px solid steelblue;
    outline: none;
    background-color: white;
    color: darkslategray;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}

    #myBtn:hover {
        background-color: steelblue;
        color: white;
    }



.pink-bg {
    color: #fff;
    background-color: #d43c68;
}

.clearDropdown {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 29px;
    line-height: 29px;
    background-color: #1ab293;
    color: #ffffff;
    padding: 0px 4px;
    cursor: pointer;
}



.wrapper-export {
    position: absolute;
    z-index: 40;
    right: 12px;
    top: 10px;
}


.ucnokta {
    width: 152px;
    overflow: hidden; /* taşanları gizle */
    white-space: nowrap; /* alt satıra hiç inme */
    text-overflow: ellipsis; /* eğer uzunsa üç nokta koy */
}

.corange {
    color: #ED9A41;
}



.grafik-wrapper {
    background: #fff;
    border: 1px solid #e7eaec;
    border-top: 0px !important;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.simpleExcel {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #cfcfcf;
    background-color: #089ad9;
    color: #fff !important;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 15px;
}

    .simpleExcel > i {
        display: block;
        padding-bottom: 4px;
    }

.k-dropdown li.k-state-selected:before {
    content: "\f00c";
    padding-right: 5px;
    color: green;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

@media screen and (max-width: 1507px) and (min-width: 991px) {
    .colmd3Cards {
        width: 50% !important;
    }
}

@media screen and (max-width: 1377px) and (min-width: 991px) {
    .colmd2Cards {
        width: 50% !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .colmd2Cards {
        width: 50% !important;
    }
}

@media screen and (max-width: 1635px) and (min-width: 1375px) {
    .widget.style1 h2 {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .widget.style1 h2 {
        font-size: 17px !important;
    }

    .fa-4x {
        font-size: 3em !important;
    }
}

@media screen and (max-width: 450px) and (min-width: 150px) {
    .widget.style1 h2 {
        font-size: 17px !important;
    }

    .fa-4x {
        font-size: 3em !important;
    }
}

.k-widget .k-numeric-wrap > input {
    padding-right: 8px;
}


.AkilliExcel span {
    cursor: pointer;
    line-height: 30px;
}

.AkilliExcel input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.AkilliExcel .simpleFile {
    text-align: center;
    background-color: #089ad9;
    color: #fff !important;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0px 3px 0px;
}

    .AkilliExcel .simpleFile .fa {
        display: block;
    }

.npl {
    padding-left: 0px !important;
}

.npr {
    padding-right: 0px !important;
}

.k-scheduler .k-state-selected, .k-scheduler .k-state-selected a {
    background-color: #FFF !important;
    color: #3e50b5 !important;
}



/**File Upload Start*/


.fileupload-wrapper {
    background-color: #e7eaec66;
    text-align: center;
    display: block;
    border: 1px solid #afaaa51a;
    cursor: pointer;
    padding: 10px 0px 0px 0px;
    border-radius: 3px;
}

    .fileupload-wrapper i {
        font-size: 42px;
        padding-bottom: 10px;
    }

.img-wrapper {
}

    .img-wrapper i {
        font-size: 47px;
        margin: 26px;
    }

.bottom-header {
    margin-bottom: 0px;
    bottom: 0px;
    border-top: 1px solid #d1caca;
    line-height: 28px;
    background-color: #f8ac59;
    color: white;
}
/**File Upload End*/


[data-role="maskedtextbox"]:hover {
    border: 1px #ccc solid !important;
}

[data-role="maskedtextbox"]:focus {
    border: 1px solid #3fb206;
}

.radio > label:first-child {
    margin-left: -20px;
}


/**Kendo Multi Select Temizle Start*/
.k-autocomplete > .k-i-close, .k-multiselect > .k-multiselect-wrap > .k-i-close {
    right: 10px;
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: 10px;
}

.k-autocomplete > .k-i-close, .k-combobox > .k-dropdown-wrap > .k-i-close, .k-multiselect > .k-multiselect-wrap > .k-i-close {
    font-size: 100%;
    display: none;
    position: absolute;
    right: 34px;
    cursor: pointer;
}

.k-autocomplete > .k-i-all, .k-combobox > .k-dropdown-wrap > .k-i-all, .k-multiselect > .k-multiselect-wrap > .k-i-all {
    display: none;
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 17px;
    top: 9px;
}

.k-multiselect:not(.k-state-disabled) :hover > .k-i-all {
    display: block !important;
}

.k-multiselect:not(.k-state-disabled) :hover > .k-i-close {
    display: block !important;
}
/**Kendo Multi Select Temizle Finsh*/


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 290px;
    z-index: 99;
    border: 2px solid steelblue;
    outline: none;
    background-color: white;
    color: darkslategray;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}

    #myBtn:hover {
        background-color: steelblue;
        color: white;
    }


.label-xs {
    font-size: 10px;
    padding: 1px 4px;
}


[role="option"] .label-xs {
    line-height: 12px;
    margin-right: 2px;
}

[role="option"] .label-inverse {
    width: 68px;
    display: inline-block;
}

.middle h2 {
    font-size: 12px !important;
}

.k-i-funnel, .k-filter {
    background-position: -32px -240px !important;
}

.detailHeader {
    margin-top: -16px;
    background: #fff;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none !important;
}

    .bootstrap-tagsinput input {
        height: 38px;
    }


.folder-list a.active {
    font-weight: bold;
}

.category-list a.active {
    font-weight: bold;
}

tbody[role="rowgroup"] tr td {
    word-break: break-all;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee !important;
    opacity: 1;
}

.rendered-form .form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}



.withTabs {
    position: relative;
    padding-bottom: 15px !important;
}

    .withTabs > legend {
        text-align: right !important;
        margin-right: 30px;
    }

    .withTabs .customTabs {
        position: absolute;
        top: -45px;
        left: 10px;
    }

        .withTabs .customTabs li:not(.active) > a {
            background-color: #f5f5f6 !important;
        }

    .withTabs .customTabs {
        font-size: 10px;
        border: 1px solid #dddddd !important;
        margin: 0px;
        padding: 1px;
        margin-bottom: 0px;
        float: left;
    }

        .withTabs .customTabs li > a {
            padding: 5px 8px !important;
            margin: 0px;
            border: none;
            border-right: 1px solid #dddddd;
            border-radius: 0;
            color: #000 !important;
        }

        .withTabs .customTabs li:last-child > a {
            border-right: none;
        }

        .withTabs .customTabs li.active > a {
            background-color: #13af48 !important;
            color: #fff !important;
            border: none !important;
        }

        .withTabs .customTabs:before {
            content: 'Periyot :';
            float: left;
            line-height: 25px;
            font-size: 12px;
            padding: 0px 15px;
            background-color: #fff;
        }

