label > a {
    color: aliceblue !important;
}

#Map {
    height: 700px;
}

.panel-control .panel-content {
    padding: 6px !important;
}

.widget {
    height: 100px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 2px !important;
    margin-left: -9px !important;
}

.panel-control .panel-content ul li {
    /*border: 1px #333 solid !important;*/
    margin: 10px 0px 10px 0px !important;
    border-radius: 10px;
}

.hizala {
    margin-top: 7%;
    padding-left: 25px;
    color: #000000;
    font-family: 'Arial';
}

.stil {
    margin-top: 2%;
    color: #000000;
    font-family: 'Arial';
}

.modal-body {
    padding: 20px 30px 30px 30px;
    text-align: center;
}
/*
     #2e78c7;
*/
