.skin-setttings {
    width: 280px;
    margin-left: 40px;
    background: #f3f3f4;
    border: solid 1px;
    border-color: #3343a4;
}

.file-manager {
    list-style: none outside none;
    margin: 13px;
    margin-top: -13px;
    padding: 8px;
    overflow: auto;
}
