.widget {
    height: 100px;
    cursor: pointer;
    /*text-align: center;*/
}

.fixed-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999 !important;
    background-color: rgba(128, 128, 128, 0.44);
    padding: 10px;
}

.feed-activity-list {
    height: 400px;
    overflow-y: scroll;
}

.default {
    cursor: default;
}

.lng-wrapper {
    position: absolute;
    width: 92.8%;
    height: 100%;
    top: 0px;
}

    .lng-wrapper .lng {
        width: 50px;
        height: 50px;
        background-color: #c4c4c4;
        margin: 0 auto 30px;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
        animation: sk-rotatePlane 1.2s infinite ease-in-out;
        margin-top: 28%;
    }

    .lng-wrapper .lng-text {
        color: black;
    }

.chart-height {
    height: 487px;
}

.baslik-stil {
    color: #1c84c6;
    background-color: #e0e0e0;
}

.nodata {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

    .nodata > div {
        color: #21B9BB;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

.ovflow-height478 {
    height: 416px !important;
}

.ibox-content {
    padding: 15px 5px 0px 5px;
}

#Map {
    height: 500px !important;
    margin: 16px 14px 136px 16px;
}


.wrapper-export {
    position: absolute !important;
    z-index: 40 !important;
    right: -10px !important;
    top: -57px !important;
    border: 1px solid darkgrey !important;
    border-radius: 5px !important;
}