.radio-tile-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    /*.radio-tile-group .input-container {
        position: relative;
        height: 9rem;
        width: calc(93% / 7);
        margin: 0.5%;
    }*/


        .radio-tile-group .input-container .radio-tile {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 2px solid #1ab394;
            color: #1ab394;
            border-radius: 5px;
            padding: 1rem;
            -webkit-transition: -webkit-transform 300ms ease;
            transition: -webkit-transform 300ms ease;
            transition: transform 300ms ease;
            transition: transform 300ms ease, -webkit-transform 300ms ease;
            cursor: pointer;
        }


        .radio-tile-group .input-container .radio-tile-label {
            text-align: center;
            font-size: 8px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #1ab394;
        }


        .radio-tile-group .input-container.disabled  .radio-tile  {
            color: #cfcfcf !important;
            border-color: #cfcfcf !important;
        }

        .radio-tile-group .input-container.disabled  .radio-tile-label {
            color: #cfcfcf !important;
            border-color: #cfcfcf !important;
        }


        .radio-tile-group .input-container:not(.disabled):hover .radio-tile, .radio-tile-group .input-container.active .radio-tile {
            background-color: #1ab394 !important;
            color: white !important;
        }

            .radio-tile-group .input-container:not(.disabled):hover .radio-tile .radio-tile-label, .radio-tile-group .input-container.active .radio-tile .radio-tile-label {
                color: #fff !important;
            }
