
.inner-addon {
    position: relative;
}

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

.left-addon .glyphicon {
    left: 0px;
    border-right: 1px solid #cccccc;
    line-height: 21px;
}

.right-addon .glyphicon {
    right: 2px;
    border: 1px solid #ccccdd;
    line-height: 16px;
    top: 0;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.iconx {
    padding-left: 62px;
}

.col-md-12 {
    margin-top: 3px;
}

.qr-code {
    position: absolute;
    right: 15px;
    z-index: 5;
    background-color: #fff;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left !important;
    }
}

/*BUNU KOPYALAMAYIN ÖZEL AYAR İÇİN KULLANILDI -*/ 
 @media screen and (max-width: 1255px) and (min-width: 991px) {
        .col-md-8 {
            width: 100%;
        }
        .col-md-4 {
            width: 100%;
        }
    }