 .ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
        margin-top: 2px;
    }

    .ibox-content {
        padding: 22px 20px 0px 20px !important;
    }

    .ibox-title h5 {
        display: block;
        font-size: 14px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        float: inherit;
    }

    .ovflow-height478 {
        overflow: auto;
        height: 430px !important;
    }

    h5 {
        text-align: center;
    }

    small {
        display: block;
        float: inherit;
        text-align: center;
        margin-top: -12px;
    }

    .chart-total {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }
    .nodata {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top:25%;
}

