
#Map {
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: relative;
}

#mapsize {
    height: 500px !important;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
    margin-top: 2px;
}
  .nodata {
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 202px 0px 150px;
}


.fa-info-circle {
    color: rgb(28, 132, 198) !important;
}

.nodata.fix {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fixed-button.scrolltop {
    bottom: 136px !important;
}

.feed-activity-list .feed-element {
    border-bottom: 0px solid #e7eaec;
    padding: 0px 0px 0px 0px !important;
}

.timeline-item .date {
    width: 167px;
    padding-top: 12px;
}

.widget {
    min-height: 0;
    margin-bottom: 0px;
}

b, strong {
    font-weight: 700;
}

.vertical-timeline-content {
    background: #f6f6f6 !important;
}

    .vertical-timeline-content::before {
        border-right: 7px solid #f6f6f6 !important;
    }

.height538 {
    height: 538px;
}

.ovflow-height400 {
    overflow: auto;
    height: 415px;
}

.ovflow-height398 {
    overflow: auto;
    height: 398px;
}

.height398 {
    overflow: auto;
    height: 398px;
}

.text-left {
    text-align: left;
}

.margin-left0 {
    margin-left: 0px;
}

.color-red {
    color: #ed5565;
}

.color-blue {
    color: #1c84c6;
    font-weight: bold;
}

.color-lazur {
    color: #23c6c8;
}

.color-orange {
    color: orange;
}

.fw-pt {
    padding-top: 8px;
}

.style1 {
    min-height: 90px;
}

.gri-bg {
    background-color: #e3e1e1;
    color: white;
}

.orange-bg {
    background-color: orange;
    color: white;
}

.red-bg {
    background-color: #ed5565 !important;
}

.orange-bg {
    background-color: orange !important;
}

.yellow-bg {
    background-color: #f8ac59 !important;
}

.gri-bg {
    background-color: #c5c5c5 !important;
}

[data-selector] {
    cursor: pointer;
}

.station-wrapper {
    padding: 30px;
    background: #fff;
}


.fixed-btn {
    position: fixed;
    right: 47px;
    bottom: 47px;
    z-index: 9;
}

.height292 {
    min-height: 292px;
}

.height458 {
    min-height: 458px;
}

.infotul {
    padding-left: 0px;
}

ul.infotul li {
    list-style-type: none;
    line-height: 33px;
    padding-left: 0px;
}

.alarm {
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 29px;
    margin-top: 9px;
    margin-right: 7px;
}

.paddin-left0 {
    padding-left: 0px;
}

.paddin-right0 {
    padding-right: 0px;
}


.alarm-calisiyor {
    background-color: green;
}

.alarm-arizali {
    background-color: red;
}

.alarm-erisimyok {
    background-color: orange !important;
}

.alarm-bakimda {
    background-color: #f8ac59 !important;
}

.alarm-kurulumda {
    background-color: #e3e1e1 !important;
}

[data-toggle="AkilliMapInput"] div.mapInput {
    display: none;
}


.fail-data {
    line-height: 190px;
    text-align: center;
    font-size: 10px;
}

.map-chart-wrapper {
    position: absolute;
    z-index: 9;
    bottom: 7%;
    left: 3%;
}

.ibox-content {
    padding: 22px 20px 0px 20px !important;
}


.fa-info-circle {
    color: rgb(28, 132, 198);
}

.ovflow-height478 {
    overflow: auto;
    height: 430px !important;
}

h5 {
    text-align: center;
}

.ibox-title h5 {
    display: block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: inherit;
}

small {
    display: block;
    float: inherit;
    text-align: center;
    margin-top: -12px;
}
.chart-total{
color:red;
font-size:14px;
font-weight:bold;
}