.widget {
    height: 100px;
}

.fa-4x {
    font-size: 4em;
    margin-top: 10px;
}

.ibox-content {
    height: 449px;
}


.dataless {
    color: #21B9BB;
    text-align: center;
    font-weight: bold;
    padding-top: 30%;
    font-size: 16px;
}

.nodata {
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
    padding: 220px 0px 150px;
    width: 100%;
    font-size: 34px;
    font-family: Arial;
    color: black;
    text-align: center;
}

    .nodata.fix {
        position: absolute;
        top: 0px;
        left: 0px;
    }

.ibox-title {
    color: #1c84c6;
    background-color: #e0e0e0;
}
