.padRight .padLeft .padBoth .box {
    max-width: 210px;
    margin: 0px auto 10px;
    text-align: left;
}

.box > span:first-child {
}

.box > span:last-child {
    font-weight: bold;
    float: right;
}

.Istasyon div > .birim {
    font-size: 80%;
    font-weight: normal;
    margin: 0px 4px 0px 4px;
    color: #f86959;
}

    .Istasyon div > .birim:last-child {
        margin-right: 0px;
    }

.Istasyon i {
    font-size: 130%;
    position: absolute;
    left: 20px;
    top: 0px;
}

.Istasyon .row {
    margin-top: 10px;
}

.Istasyonlar {
    height: 565px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.Istasyon {
    position: relative;
    margin-bottom: 5px;
}

.istasyonSehirAdi {
    padding: 10px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

/*.Istasyon:before {
    content: "\e936";
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    font-family: 'infoline' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

.Istasyon.Kurulumda:before {
    color: #f8ac59;
}

.Istasyon.Arizali:before {
    color: #ed5565;
}

.Istasyon.Calisiyor:before {
    color: #1c84c6;
}*/

.kurulumda {
    color: #f8ac59;
}

.arizali {
    color: #ed5565;
}

.calisiyor {
    color: #1c84c6;
}

.ol-overviewmap, .ol-scale-line, .ol-mouse-position {
    display: none;
}

.widget {
    margin-bottom: 30px;
}

    .widget .wInformation {
        padding-top: 14px;
    }

        .widget .wInformation h2 span {
            font-size: 80%;
            opacity: 0.9;
            margin-left: 5px;
        }

#Harita {
    height: 600px;
    position: relative;
}

.pnl {
    /*background-color: rgba(255,255,255,0.8);*/
}

.istasyonInformation {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

    .istasyonInformation > span {
        background-color: #ffffff;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 2px;
        border-radius: 2px;
        cursor: pointer;
    }

        .istasyonInformation > span > img {
            width: 100%;
            height: 100%;
        }

.haritaPopup {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.istasyonScale {
    width: 300px;
    color: #ffffff;
    height: 30px;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    bottom: 2px;
    right: 2px;
}

    .istasyonScale .scaleBox {
        display: inline-block;
        overflow: hidden;
        height: 100%;
        width: 20%;
    }

        .istasyonScale .scaleBox > h5 {
            line-height: 30px;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

    .istasyonScale > .scaleBox:first-child {
        border-radius: 10px 0px 0px 10px;
    }

    .istasyonScale > .scaleBox:last-child {
        border-radius: 0px 10px 10px 0px;
    }

    .istasyonScale .scaleBox.Sari {
        color: #333;
    }
