.station-wrapper {
    padding: 30px;
    background: #fff;
}

.title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.32);
    margin-bottom: 4px;
    padding-left: 6px;
    padding-top: 3px;
}

.yonetim-button {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.17);
    margin-bottom: 4px;
    padding: 16px;
    border-radius: 5px;
    min-height: 148px;
}

    .yonetim-button .elemIcon .icon {
        font-size: 38px;
    }

    .yonetim-button a {
        padding: 40px !important;
        display: grid;
    }

.min-height-684 {
    min-height: 684px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-top0 {
    padding-top: 0px !important;
}

.foto-wrapper {
    overflow: hidden;
    height: 475px;
}

.wrapper-border {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.17);
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 14px;
}

.k-event-template {
    padding: 0 !important;
}


.btn.btn-danger.active {
    background-color: #18a689 !important;
    border-color: #18a689 !important;
    color: #FFFFFF;
}

.k-slider-vertical .k-label {
    color: white;
}


#video {
    height: 480px;
}

.pink-lg {
    background-color: #ee7489;
    color: white;
}

.k-state-disabled {
    pointer-events: none;
}

legend.datalink {
    cursor: pointer;
}


.wrapper-export {
    position: absolute;
    z-index: 999;
    right: 14px;
    top: -21px;
}

td.day.disabled,
td.month.disabled,
td.years.disabled {
    background-color: #fefafa !important;
}

legend.datalink:hover {
    text-decoration: underline;
}

.progress span {
    font-weight: bold;
}

.default-bg {
    border: 1px solid gainsboro;
    background: gainsboro;
    color: black;
}

.customClass {
    background-color: red;
    color: white;
}

.progress {
    margin-bottom: 0px !important;
}

.widget {
    padding: 8px 11px;
}

.btn-wrapper {
    width: 20%;
}

.m-5 {
    margin: 5px;
}

.bg-green, .bg-green:hover {
    background-color: rgb(0, 128, 0);
    border-color: green;
    color: white;
}
