.inner-addon {
    position: relative;
}
    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
    border-right: 1px solid #cccccc;
    line-height: 21px;
}

.right-addon .glyphicon {
    right: 0px;
    border-left: 1px solid #cccccc;
    line-height: 21px;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.iconx {
    padding-left: 34px;
}

.form-control.k-widget input {
    padding-right: 10px;
}

