#myTab > li > a {
    margin-bottom: 0;
    color: white;
}

#myTab > li.active > a {
    color: #555;
}

#myTab > li > a:hover {
    color: #555 !important;
}

.tab-posts-box .tab-content {
    border: none !important;
}

.widget {
    height: 100px;
}

.tab-content {
    clear: both;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left !important;
    }
}

.bottom {
    padding-bottom: 30px !important;
}
