.skin-1.navbar-minimalize {
    background: #0e9aef !important;
    border-color: #0e9aef !important;
    position: absolute !important;
    z-index: 99999 !important;
}

legend > small {
    font-size: 75%;
    margin-left: 10px;
}

fieldset.boyutfield {
    padding: 7px 10px 7px 7px !important;
}



.nodatas {
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
  /*//  padding: 202px 0px 150px;*/
    width: 100%;
    font-size: 34px;
    font-family: Arial;
    color: black;
    text-align: center;
}

    .nodata.fixs {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 202px;
    }


legend {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    color: #000;
    margin-left: 30px;
}

.heightb {
    height: 485px;
}


fieldset {
    border: 1px #cfcfcf solid !important;
    padding: 0px 20px 25px 20px !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 0px;
}


#bread {
    text-align: center;
}

.isletmeoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
}

    .isletmeoverlay div {
        position: relative;
        font-size: 34px;
        font-family: Arial;
        color: black;
        margin-top: -17px;
        top: 50%;
    }


.bakimoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
}

    .bakimoverlay div {
        position: relative;
        font-size: 34px;
        font-family: Arial;
        color: black;
        margin-top: -17px;
        top: 50%;
    }

.durumoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
}

    .durumoverlay div {
        position: relative;
        font-size: 34px;
        font-family: Arial;
        color: black;
        margin-top: -17px;
        top: 50%;
    }

.cozumoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=60);
    text-align: center;
}

    .cozumoverlay div {
        position: relative;
        font-size: 34px;
        font-family: Arial;
        color: black;
        margin-top: -17px;
        top: 50%;
    }

.easypiechart canvas {
    top: 0;
    left: 0;
    position: absolute;
}

.card-container .card .front .fa-stack .fa-stack-2x {
    font-size: 3.4em;
    left: 6px;
    top: 0px;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 100%;
    text-align: center;
    font-size: 33px;
}

.product-price2 {
    font-size: 17px;
    top: 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    right: 0;
}

.ovflow-height478 {
    overflow: auto;
    height: 478px;
}

.tabs-container .panel-body {
    background-color: transparent;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.panel-greensea {
    background: steelblue !important;
}

.panel-grey {
    background: antiquewhite !important;
}

.panel-yellow {
    background: cadetblue !important;
}




.NullKontrol {
    background-color: #ed5565 !important;
    color: white;
}

.NotNullKontrol {
    background-color: #1ab394 !important;
    color: white;
}

.text-warning {
    color: white;
}

.text-success {
    color: white;
}

.text-white {
    color: red;
}





#ServisOrtalama {
    background-color: khaki;
}



#Performans {
    clear: both;
}
