.form-group {
    margin-bottom: 10px;
}

.modal-lg {
    width: 95%;
}


table.table-custom {
    table-layout: fixed;
}

    table.table-custom thead {
        background-color: #d6d5d4;
        font-size: 11px;
    }

    table.table-custom tr {
        border-bottom: 1px #d6d5d4 solid;
    }

    table.table-custom tbody tr:last-child {
        border-bottom: none;
    }

    /*table.table.table-custom tbody td .k-dropdown-wrap.k-state-default, table.table.table-custom tbody td .k-dropdown-wrap.k-state-disabled {
        padding: 0px !important;
    }*/

    table.table-custom tbody td {
        padding: 6px !important;
    }

        table.table-custom tbody td > input {
            width: 100%;
            height: 100%;
            padding: 10px 5px !important;
        }

    table.table-custom .k-widget.k-numerictextbox {
        width: 100% !important;
    }

        table.table-custom .k-widget.k-numerictextbox.k-input {
            padding: 0px !important;
        }

    table.table-custom .k-numeric-wrap {
        border: 0px !important;
    }

        table.table-custom .k-numeric-wrap.k-state-focused, table.table-custom .k-numeric-wrap.k-state-hover {
            box-shadow: none !important;
        }

            table.table-custom .k-numeric-wrap.k-state-focused > input, table.table-custom .k-numeric-wrap.k-state-hover > input {
                border-color: #1ab394 !important;
            }

    table.table-custom .k-item {
        font-weight: 400 !important;
    }

    table.table-custom input:read-only {
        background: #f3f1f0 !important;
    }

    table.table-custom .input-group-addon {
        padding: 0 5px !important;
        font-size: 11px;
    }

    table.table-custom .k-input {
        height: 30px !important;
    }

    table.table-custom .form-control .k-dropdown-wrap, table.table-custom .form-control .k-picker-wrap, table.table-custom .form-control .k-multiselect-wrap {
        padding: 0px 0px 0px 0px !important
    }

    table.table-custom .form-control.k-widget {
        padding: 0px !important;
    }


    table.table-custom .k-multiselect.k-state-disabled .k-multiselect-wrap {
        background: #fcfcfc !important;
    }

    table.table-custom tbody tr td {
        vertical-align: middle !important;
    }


.input-group .k-widget {
    margin-top: 1px !important;
}

.tagify {
    max-height: 131px;
    overflow: auto;
}

    .tagify[aria-readonly="true"] {
        background: #f3f3f3;
    }

.k-autocomplete.k-state-disabled, .k-picker-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled .k-input, .k-numeric-wrap.k-state-disabled .k-select, .k-dropdown-wrap.k-state-disabled, .k-multiselect.k-header.k-state-disabled {
    background-color: #f3f3f3;
}

.input-group {
    width: 100%;
}
