/*.timeline-item .date {
    width: 167px;
    padding-top: 12px;
}*/

.widget {
    min-height: 0;
}

.widget {
    cursor: pointer;
}

b, strong {
    font-weight: 700;
    cursor: pointer;
}

.vertical-timeline-content {
    background: #f6f6f6 !important;
}

    .vertical-timeline-content::before {
        border-right: 7px solid #f6f6f6 !important;
    }

.fixed-btn {
    position: fixed;
    right: 47px;
    z-index: 9;
    bottom: 47px;
}

.height538 {
    height: 538px;
}

.ovflow-height478 {
    overflow: auto;
    height: 478px;
}

.ovflow-height400 {
    overflow: auto;
    height: 415px;
}

.ovflow-height398 {
    overflow: auto;
    height: 398px;
}

.height398 {
    overflow: auto;
    height: 398px;
}

.text-left {
    text-align: left;
}

.margin-left0 {
    margin-left: 0;
}

.color-red {
    color: #ed5565;
}

.color-blue {
    color: #1c84c6;
}

.color-lazur {
    color: #23c6c8;
}

.color-success {
    color: #006633;
}

.color-orange {
    color: orange;
}

.fw-pt {
    padding-top: 15px;
}

.style1 {
    min-height: 90px;
}

.gri-bg {
    background-color: #e3e1e1;
    color: white;
}

.orange-bg {
    background-color: orange;
    color: white;
}

.red-bg {
    background-color: #ed5565 !important;
}

.orange-bg {
    background-color: orange !important;
}

.yellow-bg {
    background-color: #f8ac59 !important;
}

.gri-bg {
    background-color: #c5c5c5 !important;
}

[data-selector] {
    cursor: pointer;
}
/**Station Detail/*/

.station-wrapper {
    padding: 30px;
    background: #fff;
}

.height292 {
    min-height: 292px;
}

.height458 {
    min-height: 458px;
}

.infotul {
    padding-left: 0;
}

ul.infotul li {
    list-style-type: none;
    line-height: 33px;
    padding-left: 0;
}

.fail-data {
    line-height: 250px;
    text-align: center;
    font-size: 12px;
}

.map-chart-wrapper {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 10px;
}


        .nodata {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #21B9BB;
            transform: translate(-50%,-50%);
            font-size: 14px;
            font-weight: bold;
        }


              fieldset#verisor {
            padding: 0px 10px 25px 10px !important;
        }

       button#sorgla {
    height: 42px;
    width: 486px;
}

        div#col4 {
    width: 32.333333%;
    right: -15px;
}