.navbar-header {
    position: relative;
    max-height: 50px;
}


    .navbar-header .navbar-brand + .btn {
        right: 0;
        top: 0;
        left: auto;
    }

.nav-primary {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.bg-light .nav-primary {
    border-bottom: 1px solid #e9e9e9;
}

.nav-primary li {
    line-height: 1.5;
}

    .nav-primary li > a > i {
        margin: -12px -15px;
        line-height: 44px;
        width: 44px;
        float: left;
        margin-right: 10px;
        font-size: 14px;
        border-right: 1px solid rgba(255,255,255,0.05);
        text-align: center;
        position: relative;
        overflow: hidden;
    }

        .nav-primary li > a > i:before {
            position: relative;
            z-index: 2;
        }

        .nav-primary li > a > i > b {
            position: absolute;
            left: -42px;
            width: 100%;
            top: 0;
            bottom: 0;
            z-index: 0;
            -webkit-transition: left .25s;
            transition: left .25s;
        }

.nav-primary ul.nav > li > a {
    padding: 11px 15px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid transparent;
    border-color: rgba(255,255,255,0.05);
    transition: color .3s ease-in-out 0s;
}

.no-borders .nav-primary ul.nav > li > a {
    border-width: 0 !important;
}

.nav-primary ul.nav > li > a > .badge {
    font-size: 11px;
    padding: 3px 6px;
    margin-top: 2px;
}

.bg-light .nav-primary ul.nav > li > a {
    color: #717171 !important;
    border-color: #ececec;
}

    .bg-light .nav-primary ul.nav > li > a > i {
        color: #a4a4a4;
        border-right: 1px solid #ececec;
    }

.nav-primary ul.nav > li > a.active .text {
    display: none;
}

.nav-primary ul.nav > li > a.active .text-active {
    display: inline-block !important;
}

.nav-primary ul.nav > li:hover > a,
.nav-primary ul.nav > li:focus > a,
.nav-primary ul.nav > li > a:hover,
.nav-primary ul.nav > li > a:focus,
.nav-primary ul.nav > li > a:active,
.nav-primary ul.nav > li.active > a {
    color: #fff;
    background-color: inherit;
    background-color: rgba(0,0,0,0.05) !important;
    text-shadow: none;
}

    .nav-primary ul.nav > li:hover > a > i.icon,
    .nav-primary ul.nav > li:focus > a > i.icon,
    .nav-primary ul.nav > li > a:hover > i.icon,
    .nav-primary ul.nav > li > a:focus > i.icon,
    .nav-primary ul.nav > li > a:active > i.icon,
    .nav-primary ul.nav > li.active > a > i.icon {
        color: #fff;
    }

    .nav-primary ul.nav > li:hover > a > i > b,
    .nav-primary ul.nav > li:focus > a > i > b,
    .nav-primary ul.nav > li > a:hover > i > b,
    .nav-primary ul.nav > li > a:focus > i > b,
    .nav-primary ul.nav > li > a:active > i > b,
    .nav-primary ul.nav > li.active > a > i > b {
        left: 0 !important;
    }

.nav-primary ul.nav > li li a {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

.nav-primary ul.nav > li.active > ul {
    display: block;
}

.nav-primary ul.nav ul {
    display: none;
}



/*********************************/
/************* CARDS *************/
/*********************************/
.card-container {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
}

    .card-container .card {
        height: 100%;
        position: relative;
        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        -ms-perspective: 600px;
        -o-perspective: 600px;
        perspective: 600px;
        width: 100%;
        cursor: pointer;
    }

        .card-container .card .front {
            height: 100%;
            position: relative;
            width: 100%;
            background-color: #f2f2f2;
            padding: 15px;
            min-height: 115px;
            top: 0;
            left: 0;
            z-index: 900;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

            .card-container .card .front h1 {
                margin: 0;
                padding: 0;
                font-weight: 300;
                font-size: 14px;
            }

            .card-container .card .front p {
                font-size: 48px;
                font-weight: 100;
                margin: 0;
            }

            .card-container .card .front .fa-stack {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 3em;
                height: 3em;
                line-height: 3em;
            }

                .card-container .card .front .fa-stack .fa-circle {
                    color: rgba(0, 0, 0, 0.15);
                }

                .card-container .card .front .fa-stack .fa-stack-2x {
                    font-size: 3em;
                }

                .card-container .card .front .fa-stack .easypiechart {
                    position: absolute;
                    left: 4px;
                    top: 4px;
                }

        .card-container .card.flip .front {
            z-index: 900;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .card-container .card.flip .back {
            z-index: 1000;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
        }

        .card-container .card .back {
            position: absolute;
            top: 0;
            background-color: white !important;
            border: 1px solid #e2e2e2;
            color: inherit !important;
            padding: 15px 15px 5px 15px;
            text-align: center;
            height: auto;
            width: 100%;
            min-height: 115px;
            left: 0;
            z-index: 800;
            border: 1px solid #ccc;
            background: #333;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-179deg);
            /* setting to 180 causes an unnatural-looking half-flip */
            transform: rotateY(-179deg);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

            .card-container .card .back h1 {
                margin: 0;
                padding: 0;
                font-weight: 300;
                font-size: 14px;
            }

            .card-container .card .back h1,
            .card-container .card .back p {
                text-align: center;
            }

            .card-container .card .back p {
                font-size: 32px;
                font-weight: 700;
            }

            .card-container .card .back ul {
                padding: 0;
                margin: 0;
                text-align: center;
            }

            .card-container .card .back .summary {
                font-size: 11px;
                padding: 5px 0 0 0;
            }

                .card-container .card .back .summary i {
                    font-size: 10px;
                }

                .card-container .card .back .summary.negative i {
                    color: #ff4a43;
                }

                .card-container .card .back .summary.positive i {
                    color: #a2d200;
                }

            .card-container .card .back table {
                font-size: 11px;
            }

                .card-container .card .back table thead {
                    background-color: #fafafa;
                }

                .card-container .card .back table tr td,
                .card-container .card .back table tr th {
                    padding: 3px;
                    border: 0;
                }

                    .card-container .card .back table tr td:last-child,
                    .card-container .card .back table tr th:last-child {
                        padding-right: 10px;
                    }

                    .card-container .card .back table tr td:first-child,
                    .card-container .card .back table tr th:first-child {
                        padding-left: 10px;
                    }

        .card-container .card.card-red .front {
            color: white;
            background-color: #ff4a43;
        }

        .card-container .card.card-red .back p {
            color: #ff4a43;
        }

        .card-container .card.card-cyan .front {
            color: white;
            background-color: #22beef;
        }

        .card-container .card.card-cyan .back p {
            color: #22beef;
        }

        .card-container .card.card-green .front {
            color: white;
            background-color: #a2d200;
        }

        .card-container .card.card-green .back p {
            color: #a2d200;
        }

        .card-container .card.card-orange .front {
            color: white;
            background-color: #ffc100;
        }

        .card-container .card.card-orange .back p {
            color: #ffc100;
        }

        .card-container .card.card-amethyst .front {
            color: white;
            background-color: #cd97eb;
        }

        .card-container .card.card-amethyst .back p {
            color: #cd97eb;
        }

ul.inline {
    padding: 0;
    margin: 0;
}

    ul.inline > li {
        display: inline-block;
        padding: 5px 10px;
        vertical-align: top;
    }

    ul.inline.divided > li {
        /* border-right: 1px solid #f2f2f2;*/
    }

        ul.inline.divided > li:last-child {
            border: 0;
        }

ul.nolisttypes {
    list-style-type: none;
    padding: 0;
}

ul.list-type {
    padding: 0;
    margin: 7px 0 7px 20px;
    list-style-type: none;
}

    ul.list-type li {
        padding: 2px 2px 2px 0px;
        position: relative;
    }

        ul.list-type li:before {
            position: absolute;
            left: -18px;
            margin-top: 3px;
            font-family: FontAwesome;
            line-height: 1;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }

    ul.list-type.arrow li:before {
        content: "\f061";
    }

    ul.list-type.circle li:before {
        content: "\f10c";
    }

    ul.list-type.check li:before {
        content: "\f046";
    }

    ul.list-type.caret-right li:before {
        content: "\f0da";
    }

.panel-greensea {
    background: #1ccdaa !important;
}

.panel-grey {
    background: #8b8b8b !important;
}

.panel-yellow {
    background: #ffc100 !important;
}

.panel-blue {
    background: #22beef !important;
}

.progress-info {
    margin-bottom: 5px;
}

    .progress-info .desc {
        font-size: 12px;
    }

    .progress-info .percent {
        padding-left: 10px;
        margin-top: 1px;
        display: inline-block;
        font-weight: 600;
        float: right;
        font-size: 12px;
    }

.progress {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .progress.progress-thin {
        height: 10px;
    }

    .progress.progress-little {
        height: 5px;
    }

    .progress.no-radius {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    .progress.nomargin {
        margin-bottom: 5px;
    }

    .progress .progress-bar {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .progress .progress-bar.animate-progress-bar {
            -webkit-transition: width 2.50s ease !important;
            transition: width 2.50s ease !important;
        }

        .progress .progress-bar.progress-bar-green {
            background-color: #a2d200;
        }

        .progress .progress-bar.progress-bar-cyan {
            background-color: #22beef;
        }

        .progress .progress-bar.progress-bar-orange {
            background-color: #ffc100;
        }

        .progress .progress-bar.progress-bar-red {
            background-color: #ff4a43;
        }

        .progress .progress-bar.progress-bar-amethyst {
            background-color: #cd97eb;
        }

        .progress .progress-bar.progress-bar-greensea {
            background-color: #16a085;
        }

        .progress .progress-bar.progress-bar-dutch {
            background-color: #1693a5;
        }

        .progress .progress-bar.progress-bar-hotpink {
            background-color: #ff0066;
        }

        .progress .progress-bar.progress-bar-drank {
            background-color: #a40778;
        }

.progress-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .progress-list .details {
        display: inline-block;
        float: left;
    }

        .progress-list .details .title {
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
        }

        .progress-list .details .description {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 10px;
            opacity: .4;
            line-height: 12px;
        }

    .progress-list .status {
        display: inline-block;
        background-color: #f2f2f2;
        font-size: 11px;
        padding: 6px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    .progress-list .clearfix {
        height: 35px;
    }


/*svg g g:nth-child(6) {
    display: none !important;
}*/

.easypiechart canvas {
    top: 0;
    left: 0;
    position: absolute;
}

.card-container .card .front .fa-stack .fa-stack-2x {
    font-size: 3.4em;
    left: 6px;
    top: 0px;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 100%;
    text-align: center;
    font-size: 33px;
}

.product-price2 {
    font-size: 17px;
    top: 17px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    right: 0;
}
