  .folder-list {
            line-height: 24px;
        }

        ul.folder-list li strong,
        ul.folder-list li span {
            color: rgba(0, 0, 0, 0.71);
        }

   

        .style1 {
            min-height: 111px;
        }

        .gri-bg {
            background-color: #c5c5c5 !important;
            color: white;
        }

        .orange-bg {
            background-color: orange;
            color: white;
        }

        .red-bg {
            background-color: #ed5565 !important;
        }

        .orange-bg {
            background-color: orange !important;
        }

        .yellow-bg {
            background-color: #f8ac59 !important;
        }

        .gri-bg {
            background-color: #c5c5c5 !important;
        }

        [data-selector] {
            cursor: pointer;
        }

        ul.bootpag > li.active a, ul.bootpag > li.active a:hover, ul.bootpag > li.active a:active, ul.bootpag > li.active a:focus, ul.bootpag > li.active a:visited {
            background-color: #337ab7 !important;
            color: white;
        }
    .cursor-feature{
         cursor:default;
    }