
.widget {
    height: 85px;
}


    .widget.style1 h2 {
        font-size: 16px !important;
    }

.blue-bg, .bg-success {
    background-color: #FF2012 !important;
}

.indigo-bg {
    background-color: #FF1610;
    color: white;
}

.yellow-bg {
    background-color: #f7b02e;
}

.red-bg {
    background-color: #a24401 !important;
}

.widget.style1 h2 {
    font-size: 18px;
    height: 30px !important;
    text-align: center !important;
}

.widget.style1 h2 {
    font-size: 19px;
}

.red-bg {
    background-color: #AD0F0B;
}


 form fieldset {
        margin-bottom: 30px !important;
    }

    legend.custom {
        background: #f7b02e !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }

  fieldset#rrr {
    border-color: #f7b02f !important;
}
    
    legend.custom1 {
        background: #f7a818 !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }


    fieldset#rrr1 {
    border-color: #f7a818 !important;
}

    legend.custom2 {
        background: #fc7e12 !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }

       fieldset#rrr2 {
    border-color: #fc7e12 !important;
}

           fieldset#bas {
    border-color: #fc7e12 !important;
}

    legend.custom3 {
        background: #f16f13 !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }

         fieldset#rrr3 {
    border-color: #f16f13 !important;
}


    legend.custom4 {
        background: #ff6a00 !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }

          fieldset#rrr4 {
    border-color: #ff6a00 !important;
}

    legend.custom5 {
        background: #FF2012 !important;
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
    }

          fieldset#rrr5 {
    border-color: #FF2012 !important;
}

    legend.custom6 {
        background: #AD0F0B !important;
        padding: 10px 15px;
        border-radius: 30px;
          color: white;
    }

          fieldset#rrr6 {
    border-color: #AD0F0B !important;
}

    .k-grid-content {
        height: 369px !important;
    }
