  #myTab > li > a {
        color: white;
    }

    #myTab > li.active > a {
        color: #555;
    }

    #myTab > li > a:hover {
        color: #555 !important;
    }

    .ibox-content {
        padding: 15px 20px 10px 20px !important;
    }

    .tab-posts-box .tab-content {
        border: none !important;
    }


    fieldset {
    padding: 0px 25px 25px 25px !important;
}

    #myTab > .nav.nav-tabs .active a, .nav.nav-tabs li a:active, .nav.nav-tabs li a:focus {
        background-color: #e6e6e6;
        border-bottom-color: #fff;
    }

    .cd-timeline-content > h2 {
        font-size: 14px !important;
    }

    .cd-timeline-content > p {
        font-size: 12px !important;
    }

    .cd-timeline-content > span {
        font-size: 12px !important;
    }

    .cd-timeline-block > a {
        color: black !important;
    }

    .yaziRenk > a {
        color: white !important;
    }

    .widget {
        height: 100px;
    }

    .blue-bg {
        background-color: #1c84c6;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .red-bg, .bg-danger {
        background-color: cadetblue;
        color: #ffffff;
    }


    
    .tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;

    border-top-color: red;
        border-left-color: red;
}
