
.bs-wizard {
  margin-top: 0;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #FF5959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  font-size: 15px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 38px;
  height: 38px;
  display: block;
  background: #fff;
  border: 3px solid #0B6AA0;
  top: 42px;
  left: 50%;
  margin-top: -13px;
  margin-left: -15px;
  border-radius: 50%;
}

/*.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' '; 
  width: 33px; 
  height: 33px; 
  background: #fff; 
  border-radius: 50px; 
  position: absolute; 
  top: 3px; 
  left: 3px; 
} */
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 3px;
  box-shadow: none;
  margin: 23px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #0B6AA0;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: gainsboro;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  background-color: gainsboro;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot > i {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  top: 39px;
  left: 50%;
  margin-top: -31px;
  margin-left: -8px;
  z-index: 1000;
  font-size: 16px;
}

.progress {
  background-color: gainsboro;
}

.disabled bs-wizard-dot > .fa {
  color: #fff;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  border: 3px solid gainsboro;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-info {
  color: #cfcfcf;
}

/*END Form Wizard*/
.container {
  width: 100%;
  margin: 20px auto;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  text-transform: none;
  color: #FBAA26;
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #FBAA26;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #FBAA26;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #0B6AA0;
}

.progressbar li.active:before {
  border-color: #0B6AA0;
}

.progressbar li.active + li:after {
  background-color: #0B6AA0;
}

.progressbar {
  margin-top: 50px;
}
.disabled a,.disabledi{ color: white;}