<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="WebSecurity" type="Infoline.Web.SecurityWebConfig" />
	</configSections>
	<appSettings>
		<add key="DefaultTenant" value="1000" />
		<add key="FilesPath" value="C:\inetpub\wwwroot\WorkOfTime\WebApp\Files" />
    <add key="RemoteConnection" value="okXEh4tXrdTDjSMoHMmIApJYFNcRSJc2TYm7KitxyCle6HESu9N3ABy+aKD6a1bnoZlqi/zdYvWtVMjSrJa7D7WZ0Adg1TPY66hwaRt/Cv99bulWw7ScN0YmiqWx8ZCuhxW59MQf4kgzRJaaIMVaZw==" />
	</appSettings>
	<WebSecurity LoginPage="/security/login" CookieName="Mira" TicketLife="30">
		<Securepath>/</Securepath>
		<Publicpath>/Security/Login</Publicpath>
		<Publicpath>/Security/LoginCustomer</Publicpath>
		<Publicpath>/Security/LoginStudent</Publicpath>
		<Publicpath>/Security/SignUp</Publicpath>
		<Publicpath>/Security/ForgotPassword</Publicpath>
		<Publicpath>/General/CreateLoginPassword</Publicpath>
		<Publicpath>/GetTime</Publicpath>
		<Publicpath>/Security/MBLogin</Publicpath>
		<Publicpath>/Notification/Get</Publicpath>
		<Publicpath>/Defaults/AToken</Publicpath>
		<Publicpath>/General/GetCity</Publicpath>
		<Publicpath>/Defaults/Config</Publicpath>
		<Publicpath>/FTM_Task/CreateTask</Publicpath>
		<Publicpath>/VWCMP_Storage/GetCustom</Publicpath>
		<Publicpath>/Defaults/GetTenantInfo</Publicpath>
		<Publicpath>/MBUT_LocationTracking/Insert</Publicpath>
		<Publicpath>/Demo/Task</Publicpath>
		<Publicpath>/SH_ShiftTrackingDevice/GetAll</Publicpath>
		<Publicpath>/SH_ShiftTrackingDeviceUsers/GetByDeviceIdAndDeviceUserId</Publicpath>
		<Publicpath>/SH_ShiftTrackingDeviceUsers/Insert</Publicpath>
		<Publicpath>/SH_ShiftTracking/LastRecordByDeviceId</Publicpath>
		<Publicpath>/SH_ShiftTracking/PdksInsert</Publicpath>
		<Publicpath>/SH_ShiftTrackingDeviceUsers/GetByDeviceId</Publicpath>
	</WebSecurity>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.web>
		<httpRuntime maxRequestLength="1048576" />
		<httpHandlers>
			<add path="*.js" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework" />
			<add path="*.css" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework" />
		</httpHandlers>
		<customErrors mode="Off" redirectMode="ResponseRewrite" />
		<compilation debug="true" targetFramework="4.5" />
		<httpModules>
			<add name="Security" type="Infoline.Web.SecurityAuthenticationModule,Infoline.Framework" />
		</httpModules>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="Security" type="Infoline.Web.SecurityAuthenticationModule,Infoline.Framework" />
		</modules>
		<handlers>
			<add name="staticjs" path="*.js" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework" />
			<add name="staticcss" path="*.css" verb="*" type="Infoline.Web.StaticFileHandler,Infoline.Framework" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ProjNet" publicKeyToken="a1f5bdcd9c6f5740" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.6362.21632" newVersion="1.2.6362.21632" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>