@model VMPageData
@{
    ViewBag.Title = "Proje Görev Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="icon-briefcase fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Toplam Proje </span>
                    <h2 class="font-bold active unitName"> @(Model.totalProject) Adet</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="icon-check fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Aktif Görevler </span>
                    <h2 class="font-bold active unitName"> @(Model.activeProjectCommission) Adet</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="icon-calendar-times-o fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Sonlanmış Görevler </span>
                    <h2 class="font-bold active unitName"> @(Model.endProject) Adet</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document)
      .on("load:grid", "#VWPRJ_ProjectTimeline", function (e, data) {
          $.each($(this).find('[role="row"] [data-event="GridSelector"]'), function (i, item) {
              var deger = $(item).attr('data-Status');
              if (deger == "1") {
                  $(item).parents("td").css('background-color', '#23c6c8');
              } else if (deger == "3") {
                  $(item).parents("td").css('background-color', '#f8ac59');
              } else {
                  $(item).parents("td").css('background-color', '#b8b3ae');
              }
             
          })
      })
</script>


@(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWPRJ_ProjectTimeline>
    ("VWPRJ_ProjectTimeline")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRJ_ProjectTimeline", new { area = "PRJ" })).PageSize(25))
    .Columns(x =>
    {
        x.Bound(y => y.id).Title("").GridSelector(GridSelectorType.Radio).DataColumn(a=>a.Status).Width(40);
        x.Bound(y => y.projectCode).Title("Proje Kodu").HtmlAttributes(new Dictionary<string, object>
            () { { "class", "text-right" } }).Width(120);
        x.Bound(y => y.Project_Title).Title("Proje Adı").Width(200);
        x.Bound(y => y.Name).Title("Görev Adı").Width(230);
        x.Bound(y => y.Type_Title).Title("Tip").Width(160);
        x.Bound(y => y.StartDate).Title("Başlangıç Tarihi").Width(120).Format(Extensions.DateFormatShort(true));
        x.Bound(y => y.EndDate).Title("Bitiş Tarihi").Width(120).Format(Extensions.DateFormatShort(true));
        x.Bound(y => y.Status_Title).Title("Durum").Width(120);
        x.Bound(y => y.lastStatus).Title("Son Durum").Width(120);
        x.Bound(y => y.actionPlan).Title("Aksiyon Planı").Width(150);
        x.Bound(y => y.Description).Title("Açıklama").Width(300);
    })
        .Selectable(x => x.Mode(GridSelectionMode.Multiple))
        .ToolBar(x =>
        {
            //x.Custom().Text("Ekle").HtmlAttributes(new Dictionary<string, object>
            //    () { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWPRJ_ProjectTimeline", new { area = "PRJ" }));
            //x.Custom().Text("Düzenle").HtmlAttributes(new Dictionary<string, object>
            //    () { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWPRJ_ProjectTimeline", new { area = "PRJ" }));
            //x.Custom().Text("Detay").HtmlAttributes(new Dictionary<string, object>
            //    () { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRJ_ProjectTimeline", new { area = "PRJ" }));
            //x.Custom().Text("SİL").HtmlAttributes(new Dictionary<string, object>
            //    () { { "data-ask", "" } }).Url(Url.Action("Delete", "VWPRJ_ProjectTimeline", new { area = "PRJ" }));
        }))
