
@model Infoline.WorkOfTime.BusinessData.VWSYS_TableAdditionalProperty[]

    @foreach (var item in Model)
    {
        <div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="code">@item.propertyKey</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="@item.propertyKey" value="@item.propertyValue" class="form-control" placeholder="Lütfen @item.propertyKey giriniz." />
                </div>
            </div>
        </div>
    }

