@model Infoline.WorkOfTime.BusinessAccess.Business.Product.PRD_EntegrastionActionSellerReport
@{
	ViewBag.Title = "Bayi Aktivasyon Raporu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
	.filterButtonActive {
		background-color: #2f96b4;
		border-color: #2f96b4;
		color: white;
	}

	.filterButtonPassive {
		background-color: #49afcd;
		border-color: #2f96b4;
		color: white;
	}

	ul, li {
		list-style-type: none;
	}

	.active {
		color: black !important;
	}

	.btn-group .btn + .btn {
		margin-left: -9px !important;
	}
</style>


<div class="ibox ">
	<div class="ibox-title">
		<h5>Bayi Aktivasyon Raporu</h5>
			<div class="col-md-4" style="float:right;margin-top:-11px;">
				@(
									   Html.Akilli()
									   .DropDownListFor(model => model.DistributorId)
									   .OptionLabel("Lütfen Cari Seçiniz..")
									   .DataValueField("id")
									   .DataTextField("fullName")
									   .Template("#=TemplateEngine('companyTemplate',data)#")
									   .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
									   .Sort(x => x.Add("fullName").Ascending())
									   .Events(x=>x.Change("onChange"))
									   .Execute()
                                        )
			</div>
	</div>
	<div class="ibox-content">
		@if (Model.DistributorId.HasValue)
		{
			@(Html.Akilli()
					.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_EntegrationAction>("VWPRD_EntegrationAction")
					.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRD_EntegrationAction", new { area = "PRD" }))
					.Filter(a=>a.DistributorId == Model.DistributorId)
					.PageSize(25))
					.Columns(x =>
					{
						x.Bound(y => y.created).Title("Fatura Tarihi").Width(200).Format(Extensions.DateFormatShort(true));
						x.Bound(y => y.InvoiceNumber).Title("Fatura Numarası").Width(200);
						x.Bound(y => y.CustomerOperatorCode).Title("Bayi Kodu").Width(200);
						x.Bound(y => y.CustomerOperatorName).Title("Bayi Adı").Width(200);
						x.Bound(y => y.CustomerOperatorStorageCity).Title("İl").Width(200);
						x.Bound(y => y.CustomerOperatorStorageTown).Title("İlçe").Width(200);
						x.Bound(y => y.ConsolidationCode).Title("Cihaz Kodu").Width(200);
						x.Bound(y => y.ConsolidationName).Title("Cihaz Adı").Width(200);
						x.Bound(y => y.Imei).Title("Imei").Width(200);
						x.Bound(y => y.Quantity).Title("Adet").Width(200);
						x.Bound(y => y.ActivationDate).Title("Aktivasyon Tarihi").Width(200).Format(Extensions.DateFormatShort(true));
					})
					.Selectable(x => x.Mode(GridSelectionMode.Single))
					.Scrollable(a => a.Height(630))
					.ToolBar(x =>
					{
						//x.Custom().Text("<i data-original-title='Ürün Kopyala' class='fa fa-copy'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWPRD_Product", new { area = "PRD" }));
						//x.Custom().Text("<i data-original-title='Ürün Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWPRD_Product", new { area = "PRD" }));
						//x.Custom().Text("<i data-original-title='Ürün Detay' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "false" } }).Url(Url.Action("Detail", "VWPRD_Product", new { area = "PRD" }));
						//x.Custom().Text("<i data-original-title='Ürün Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" }, { "data-show", "single" } }).Url(Url.Action("Delete", "VWPRD_Product", new { area = "PRD" }));
					}))
		}
		else
		{
			<div class="alert alert-warning" style="text-align: center;">
				<h4>Bakım Planı Kaydı Bulunamadı..</h4>
			</div>
		}
	</div>
</div>

<script>
	function onChange(e) {
		var companyId = e.sender.dataItem().id;
		var filter = ("(DistributorId~eq~'" + companyId + "')");
		var filterJSON = kendo.filterParser(filter);
		$('#VWPRD_EntegrationAction').data("kendoGrid").dataSource.filter(filterJSON);


	}
</script>