@model VMPRD_ProductionModel
@{
    ViewBag.Title = Model.code + " Kodlu Üretime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(x => x.id)
@using (Html.BeginForm("Upsert", "VWPRD_Transaction", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "id","VWPRD_ProductionUpsertOperationForm"},
    { "data-formType", "Ajax" }
}))
{


<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label label-md req" for="assignableUsers">Üretimde Görevli Personeller</label>
            </div>
            <div class="col-md-7">
                @(
             Html.Akilli()
             .MultiSelectFor(a => a.assignableUsers)
             .Placeholder("Lütfen Görevli Personel Seçiniz..")
             .DataValueField("id")
             .Filter<VWSH_User>(x => x.RoleIds.Contains(SHRoles.UretimPersonel))
             .DataTextField("FullName")
             .ItemTemplate("#=TemplateEngine('userTemplate',data)#")
             .Action(b => b.Action("DataSourceDropDown", "VWSH_User", new { area = "SH" }))
             .Sort(x => x.Add("FullName").Ascending())
             .TagMode(TagMode.Multiple)
             .Validate(Validations.Required)
             .Execute()


                    )
            </div>

        </div>
        <div class="buttons">
            <div class="hr-line-dashed"></div>
            <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
            <button id="sumbitButton" class="btn btn-md btn-primary pull-right " formaction="@Url.Action("AddUser","VWPRD_Production",new {area="PRD" })" type="submit"><i class="icon-ok-2"></i>Kaydet</button>
        </div>
    </div>
</div>

}

