@{
	ViewBag.Title = "Tüm Üretim Emirleri";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var userStatus = (PageSecurity)Session["userStatus"];
}

<style>
	.active {
		font-weight: bold;
	}
</style>

<style type="text/css">
	.k-grid-content i {
		font-size: 13px;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="ibox m-b-none">
			<div class="ibox-title">
				<div class="col-md-9">
					<h5>Üretim Emirleri Listesi</h5>
				</div>
				<div class="col-md-3">
					<a class="btn pull-right m-r-sm btn-sm btn-success" style="margin-top: -5px;" data-modal="true" data-task="Insert" data-href="/PRD/VWPRD_Production/Insert"> <i class="fa fa-plus-circle"></i> Yeni Üretim Emri </a>
				</div>
			</div>
			<div class="ibox-content">
				@(Html.Akilli()
		.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_Production>("VWPRD_Production")
		.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRD_Production", new { area = "PRD" }))
		.PageSize(25).Sort(a => a.Add(c => c.created).Descending()))
		.Scrollable(a => a.Height(650))
		.Columns(x =>
		{
			x.Bound(y => y.lastOperationStatus_Title).Title("Durumu").Width(180);
			x.Bound(y => y.name).Title("Üretim Emri").Width(180);
			x.Bound(y => y.name).Title("Birim Miktar").Width(180);
			x.Bound(y => y.name).Title("Toplam Miktar").Width(180);
			x.Bound(y => y.name).Title("Üretilen Miktar").Width(180);

		})
		.Selectable(x => x.Mode(GridSelectionMode.Multiple))
		.ToolBar(x =>
		{
			x.Custom().Text("<i data-original-title='Üretim Emri Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-blank", "" }, { "data-modal", "false" } }).Url(Url.Action("Detail", "VWPRD_Production", new { area = "PRD" }));
			x.Custom().Text("<i data-original-title='Üretim Emrini Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWPRD_Production", new { area = "PRD" }));
			x.Custom().Text("<i data-original-title='Üretim Emrini Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWPRD_Production", new { area = "PRD" }));
		}))

			</div>
		</div>
	</div>
</div>

<link href="~/Content/Custom/css/filter.css" rel="stylesheet" />
<script src="~/Content/Custom/js/filter.js"></script>
