@model Infoline.WorkOfTime.BusinessData.VWUT_LocationConfigUser
@{
    ViewBag.Title = "Kayıt Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Insert", "VWUT_LocationConfigUser", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


<div class="form-group clearfix">
    <div class="col-md-4">
        <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
    </div>

    <div class="col-md-8">
        @Html.Akilli().RadioButtonGroupFor(model => model.isTrackingActive).Value(EnumUT_LocationConfigUserisTrackingActive.Evet)

    </div>
   </div>


    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

    }
