@model Infoline.WorkOfTime.BusinessData.VWUT_LocationConfigUser
@using Infoline.WorkOfTime.BusinessAccess
@{
    ViewBag.Title = "Personel Bilgileri Düzenleme";
}




<form action="@Url.Action("Update", "VWUT_LocationConfigUser" ,new { area = "UT" })" method="post" class="form-horizontal" role="form" style="padding:15px;" data-loadingtitle="Kullanıcı düzenleme işleminiz gerçekleştiriliyor.Lütfen Bekleyiniz.."
      data-selector="modalContainer" data-formType="Ajax">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
        </div>

        <div class="col-md-8" style="width: 157px ">
            @Html.Akilli().RadioButtonGroupFor(model => model.isTrackingActive).Value(EnumUT_LocationConfigUserisTrackingActive.Evet)

        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

</form>