
.agileContainer {
    position: relative;
}

.k-widget.k-listview {
    min-height: 150px;
    padding: 5px 5px !important;
}


/*      AGİLE ITEMS ISSUES      */

.agileColumns {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: visible;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 10px 0;
    display: table;
    list-style: none;
    margin: 0;
    table-layout: fixed;
    width: 100%;
    padding: 0;
}

.agileColumn {
    grid-row: 1;
    min-width: 200px;
    background: #f4f5f7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    list-style: none;
    margin: 0;
    padding: 1px 0 0;
    position: relative;
    vertical-align: top;
}

    .agileColumn.ui-sortable-placeholder {
        border-color: #DD4B39 !important;
        background-color: #fff;
    }

    .agileColumn.ui-sortable-helper {
        max-height: 100px !important;
    }


.agileItem .stageColor {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.agileItem .stageBody {
    padding: 6px 8px;
}

    .agileItem .stageBody:before {
        display: table;
        content: " ";
    }

    .agileItem .stageBody:after {
        display: table;
        content: " ";
        clear: both;
    }

    .agileItem .stageBody .bodyLeft {
        width: calc(100% - 123px);
        display: inline-block;
        float: left;
    }

    .agileItem .stageBody .bodyRight {
        width: 123px;
        display: inline-block;
        float: left;
        text-align: right;
    }

        .agileItem .stageBody .bodyLeft.blck, .agileItem .stageBody .bodyRight.blck {
            width: 100% !important;
        }

.agileItem .stageLine {
    margin-bottom: 2px
}

    .agileItem .stageLine .badge [class^="icon"] {
        margin-right: 5px;
    }

.agileItem .stageBody h4 {
    margin: 0px 0px 5px 0px;
}

.agileItem {
    background: #FAFAFB;
    cursor: move;
    font-size: 14px;
    position: relative;
    box-shadow: 0 0 1px 0 rgb(9 30 66 / 31%), 0 2px 4px -1px rgb(9 30 66 / 25%);
    border-radius: 2px;
    margin: 5px;
    color: rgb(103, 106, 108);
}

    .agileItem:hover {
        background-color: #ebecf0;
    }


    .agileItem .dt {
        margin-bottom: 5px;
        display: inline-block;
    }

    .agileItem .spimg {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        min-width: 32px;
        cursor: default;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }

    .agileItem .stars {
        color: #ffcc00;
        font-size: 15px;
        display: inline-block;
        margin-bottom: 5px;
    }



/*  ------  AGİLE İTEMS */


.prg {
    max-width: 94%;
    width: 100%;
    display: block;
    height: 5px;
    overflow: hidden;
    margin-left: 5px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.pb {
    height: 5px;
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.agileItem .prg {
    margin-bottom: 5px;
}


.agileHeader {
    background-color: #fff;
    padding: 5px;
}

    .agileHeader h4 {
        margin: 0px;
        line-height: 20px;
    }

    .agileHeader .agileHeaderButtons {
        display: inline-block;
        width: 100px;
        float: right;
    }

    .agileHeader .agileHeader h4 {
        margin: 0px;
        line-height: 22px;
    }

    .agileHeader .agileHeaderButtons > .btn {
        border: none;
    }

.agileColumn .settings .dropdown-menu {
    left: auto;
    right: 0;
}


.miniStage h4 {
    text-align: center;
}

.miniStage small {
    display: block;
    text-align: center;
    margin-bottom: 7px;
}

.miniStage .cbox {
    text-align: right;
}

    .miniStage .cbox label {
        display: none;
    }

.miniStage > div {
    padding: 0px 10px;
    position: relative;
    height: 130px;
    box-shadow: 0px 0px 2px 0px;
    margin-bottom: 15px;
}

.miniStageContainer {
    width: 100%;
}

.miniStage .color {
    height: 100%;
    width: 4px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.miniStage .order {
    position: absolute;
    left: 10px;
    top: 4px;
    font-weight: bold;
    font-size: 14px;
}

.miniStage.ui-sortable-placeholder {
    height: 130px !important;
}

.fixedStart #fixed i {
    padding: 12px;
    width: 25px;
    line-height: 49px;
}


.fixedStart .fix-buttons a i {
    font-size: 15px;
    width: 100%;
    padding: 0px;
    display: block;
    line-height: 42px;
}

.fixedStart #fixed i {
    font-size: 28px;
    padding: 0px;
    display: block;
    width: 100%;
    line-height: 50px;
}

.fixedStart .fix-buttons .dropdown {
    float: left;
    width: 42px;
    height: 42px;
}


    .fixedStart .fix-buttons .dropdown .dropdown-menu {
        z-index: 2000;
        bottom: 60px;
        top: auto;
        right: -70px;
        left: auto;
        width: 300px;
    }


        .fixedStart .fix-buttons .dropdown .dropdown-menu > li {
            border-radius: 3px;
            color: inherit;
            line-height: 25px;
            margin: 4px;
            text-align: left;
            font-weight: normal;
            padding: 0px 6px 0px 6px;
        }

            .fixedStart .fix-buttons .dropdown .dropdown-menu > li.active {
                font-weight: bold;
                color: #2aa9e0;
            }

                .fixedStart .fix-buttons .dropdown .dropdown-menu > li.active:before {
                    content: '\e943';
                    font-family: "fontello";
                    margin-right: 10px;
                }

            .fixedStart .fix-buttons .dropdown .dropdown-menu > li:hover {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }


/*HEADER*/


.kanbanHeader {
    border-top: 1px solid #e8ecee;
    box-shadow: 0 1px 4px 0 rgba(21, 7, 38, 0.08);
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: -15px;
    padding: 10px 20px;
}

.stageList {
    padding: 5px 10px;
}

    .stageList > li > label {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        font-weight: unset;
        padding: 2px 0px;
        white-space: nowrap;
        position: relative;
        cursor: pointer;
    }

        .stageList > li > label.filter:hover {
            color: #004A7F;
        }

        .stageList > li > label .color {
            position: absolute;
            top: 0px;
            left: -10px;
            width: 4px;
            height: 100%;
        }

/*      HEADER*/


.dropdown-menu-right {
    left: auto !important;
}

/*  MENU  */

.cmenu li {
    height: 36px;
    align-items: center;
    color: #151b26;
    display: flex;
    height: 36px;
    padding: 0 12px;
    position: relative;
    fill: #6f7782;
    white-space: nowrap;
    max-width: 400px;
    cursor: pointer;
    z-index: 5;
    background-color: #fff;
}

    .cmenu li:hover {
        background-color: #e8ecee
    }

    .cmenu li.h24 {
        height: 30px;
    }

    .cmenu li > i {
        fill: inherit;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

    .cmenu li > label {
        width: 100%;
        cursor: pointer;
    }

    .cmenu li .color {
        display: inline-block;
        height: 28px;
        width: 4px;
        position: absolute;
        top: 1px;
        left: 0px;
    }

.cmenu {
    font-size: 14px;
    max-width: 500px;
    min-width: 200px;
    padding: 4px 0;
    min-height: 22px;
}

.kanbanHeader .open > .dropdown-menu:before {
    content: 'Gösterilecek öge bulunamadı';
    text-align: center;
    color: #f8ac59;
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0px;
}

.kanbanHeader .btn-group.active .dropdown-toggle {
    background: #caeeff;
    border-color: #caeeff;
    color: #008ce3;
    fill: #008ce3;
}

/*  MENU    */


.noitem {
    width: 100%;
    height: 500px;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 50px;
}
