    /*
    Flaticon icon font: Flaticon
    Creation date: 06/12/2019 08:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-business-and-finance:before { content: "\f100"; }
.flaticon-car:before { content: "\f101"; }
.flaticon-resume:before { content: "\f102"; }
.flaticon-research:before { content: "\f103"; }
.flaticon-airplane:before { content: "\f104"; }
.flaticon-air-freight:before { content: "\f105"; }
.flaticon-shopping-bag:before { content: "\f106"; }
.flaticon-buying-on-smartphone:before { content: "\f107"; }
.flaticon-cubes-in-stack-with-shadow:before { content: "\f108"; }
.flaticon-product:before { content: "\f109"; }
.flaticon-time-management:before { content: "\f10a"; }
.flaticon-communication:before { content: "\f10b"; }
    
    $font-Flaticon-business-and-finance: "\f100";
    $font-Flaticon-car: "\f101";
    $font-Flaticon-resume: "\f102";
    $font-Flaticon-research: "\f103";
    $font-Flaticon-airplane: "\f104";
    $font-Flaticon-air-freight: "\f105";
    $font-Flaticon-shopping-bag: "\f106";
    $font-Flaticon-buying-on-smartphone: "\f107";
    $font-Flaticon-cubes-in-stack-with-shadow: "\f108";
    $font-Flaticon-product: "\f109";
    $font-Flaticon-time-management: "\f10a";
    $font-Flaticon-communication: "\f10b";