<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RemoteConnection" value="okXEh4tXrdTDjSMoHMmIAqlK2pgLXubWCyV2NBWXtD8QBffd4wLAPs0YhSoK6lEdn+WR0lTxBoJEqFCCN3+0qNgFkedsk3QQs0fI47MgwY2PiO8br56cyHZgOmbBfluJiYb6IzgENrp4nohS201nxA==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>