<!DOCTYPE html>
@{
    ViewBag.Title = "Workoftime Mobil Uygulaması";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/ico" href="" />
    <link href="~/Content/Plugins/horizontal-timeline/css/reset.css" rel="stylesheet" />
    <link href="~/Content/Takip/css/style.css" rel="stylesheet" />
    <link href="~/Content/Themes/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/Themes/js/jquery-2.1.1.js"></script>
</head>
<body>
    <div class="main-container clearfix">
        <div class="logo"></div>
        <div class="title"> Workoftime Uygulaması</div>
        <a href="/Apk/Android/app-debug.apk" download class="col dark">
            <span> ANDROID</span>
        </a>
        <a href="itms-services://?action=download-manifest&amp;url=https://dev.workoftime.com/Apk/IOS/manifest.plist" class="col light">
            <span class="ios-style"> IOS</span>
        </a>
    </div>
</body>
</html>