@model Infoline.WorkOfTime.BusinessAccess.VMSV_ServiceModel
@{
    ViewBag.Title = Model.code + " Kodlu Servis Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stages = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumSV_ServiceStages>();
}
<style type="text/css">
    li {
        list-style: none;
    }

    .table-text {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<link href="~/Content/Custom/MyPage/css/General.css" rel="stylesheet" />
<link href="css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<script src="js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<div>
    <div class="clearfix animated slideInRight" style="padding: 25px 30px 5px 30px;border: 1px solid rgba(202, 201, 201, 0.4);background: #fff;margin-bottom: 10px;">
        <div class="main-timeline2">
            @foreach (var stage in stages)
            {
                <div class="timeline2 @Html.Raw(Model.stage==Convert.ToInt32(stage.Key)?"green2":"")">
                    <a href="#" style="cursor:none" class="timeline-content2" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="@stage.Generic["description"]">
                        <div class=" timeline-year2">
                            <span class="fa @stage.Generic["icon"] fa-2x"></span>
                        </div>
                        <div class="inner-content2">
                            <h3 class="title2"> @stage.Value</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
