@model Infoline.WorkOfTime.BusinessData.VWCRM_ManagerStage
@{
    ViewBag.Title = "Aktivite/Randevu Aşaması Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Code">Kod</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Code, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="Name">Ad</label>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Name, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="Description">Açıklama</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Color">Renk</label>
        </div>
        <div class="col-md-8">
            <div id="color-chooser"></div>
        </div>
    </div>

        <div class="buttons">
            <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        </div>

    </div>




<script data-selector="modalContainer">
    var color = '@(Model.color == null ? "#ffffff" : Model.color)'

        $("#color-chooser").kendoColorPalette({
            palette: [
                "#8B0000", "#FF0000", "#FA8072", "#C71585", "#FF4500", "#FFA500", "#BDB76B", "#DDA0DD", "#FF00FF", "#9370DB",
                "#8B008B", "#483D8B", "#00FF00", "#32CD32", "#00FA9A", "#2E8B57", "#006400", "#20B2AA", "#008080", "#40E0D0",
                "#5F9EA0", "#4682B4", "#B0C4DE", "#87CEEB", "#0000FF", "#191970", "#BC8F8F", "#DAA520", "#CD853F", "#8B4513"
            ],
            tileSize: 50,
            value: color,
            change: function () {
            }
        });

        var palette = $("#color-chooser").data("kendoColorPalette");
        palette.enable(false);
</script>