<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="sv-dc-01.fbu.edu.tr:636" />
    <add key="Username" value="workoftime" />
    <add key="Password" value=":@&amp;wp42>.XfR9i6W)u" />
    <add key="DistinguishedName" value="OU=ADMINISTRATIVE,OU=FBU USER,DC=fbu,DC=edu,DC=tr" />
    <add key="Filter" value="(&amp;(objectCategory=Person)(cn=*))" />
    <add key="Type" value="1" /> <!--0-Veri Çek, 1-Login Kontrol-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>