<?xml version="1.0" encoding="utf-8"?>
<config>
  <connection>
   <server>46.221.52.222</server>
     <!--<server>10.100.0.222</server>-->
    <userName>developer</userName>
    <password>qquYs84vJaBe9fKsCRdg/Fu3AwaRCGbbORwho+9NKe8=</password>
    <database>WorkOfTime</database>
  </connection>
  <webPages>
	  <!--<page area="FTM" table="FTM_TaskAuthority" view="VWFTM_TaskAuthority" />-->
	  <!--<page area="PRD" table="PRD_CompanyBasedPriceDetail" view="VWPRD_CompanyBasedPriceDetail" />-->
  </webPages>
  <extensionVersion>1.0.0</extensionVersion>
</config>