<?xml version="1.0" encoding="utf-8"?>
<config>
  <connection>
   <server>46.221.52.222</server>
     <!--<server>10.100.0.222</server>-->
    <userName>developer</userName>
    <password>qquYs84vJaBe9fKsCRdg/Fu3AwaRCGbbORwho+9NKe8=</password>
    <database>WorkOfTime</database>
  </connection>
  <webPages>
	  <page area="SV" table="SV_ChangedDevice" view="VWSV_ChangedDevice" />
	  <page area="SV" table="SV_Customer" view="VWSV_Customer" />
	  <!--<page area="UT" table="UT_LocationConfig" view="VWUT_LocationConfig" />-->
  </webPages>
  <extensionVersion>1.0.0</extensionVersion>
</config>