@model Infoline.WorkOfTime.BusinessData.VWSV_DeviceCameWith
@{
    ViewBag.Title = "Cihazın Yanında Gelen Ürün Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productId_Title">Ürün</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.productId_Title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="amount">Miktar</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.amount, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="description">Açıklama</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.description, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
